Repository BeeStation/NSV13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @qwertyquerty, @Bokkiewokkie, @BeeStation/nsv-mapping, @covertcorvid, @Karmic-Skink

lichdom
  code/__DEFINES/flags.dm
  code/_globalvars/bitfields.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/atmospherics/system_miners.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/overmap/types/solgov.dm
  nsv13/code/modules/overmap/types/spacepirates.dm
  nsv13/code/modules/overmap/types/syndicate.dm
Owners: none

bap
  nsv13/code/controllers/subsystem/starsystem.dm
Owners: none

Fixed the config directory stuff
  code/__DEFINES/configuration.dm
  code/__DEFINES/nsv13.dm
  code/datums/map_config.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
Owners: none

pain
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/research/astrometrics.dm
  tgui/packages/tgui/interfaces/Astrometrics.js
Owners: none

Updated some configs
  config/admin_nicknames.json
  config/admin_ranks.txt
  config/admins.txt
  config/comms.txt
  config/config.txt
  config/dbconfig.txt
  config/external_rsc_urls.txt
  config/game_options.txt
  config/in_character_filter.txt
  config/jobs.txt
  config/maps.txt
  config/mentors.txt
  config/motd.txt
  config/spaceruinblacklist.txt
Owners: @covertcorvid, @Bokkiewokkie

Fixes the tests
  _maps/templates/boarding/syndicate/carrier.dmm
  config/admin_nicknames.json
Owners: @BeeStation/nsv-mapping, @covertcorvid, @Bokkiewokkie

More CI fixes
  _maps/atlas.json
  _maps/galactica.json
  _maps/testship.json
  nsv13/code/game/objects/structures/mono_sofa.dm
Owners: @BeeStation/nsv-mapping

Adds boundary checking for the interior entrypoint list
  nsv13/code/modules/overmap/boarding/interiors.dm
Owners: none

change only MAA stamps icon to use nsv's dmi file
  code/modules/paperwork/stamps.dm
  nsv13/code/modules/paperwork/stamps.dm
Owners: none

tgui (pain, part II)
  nsv13/code/modules/research/astrometrics.dm
  tgui/packages/tgui/interfaces/Astrometrics.js
Owners: none

slight improvements
  nsv13/code/modules/research/astrometrics.dm
  tgui/packages/tgui/interfaces/Astrometrics.js
Owners: none

the mappening
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Gladius/Gladius2.dmm
  _maps/map_files/Shrike/Shrike2.dmm
  _maps/map_files/Snake/snake_lower.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Vago/vagodeck1.dmm
Owners: @BeeStation/nsv-mapping

same system also lets you see
  nsv13/code/modules/research/astrometrics.dm
  tgui/packages/tgui/interfaces/Astrometrics.js
Owners: none

high max higher
  nsv13/code/controllers/subsystem/starsystem.dm
Owners: none

Map updates, makes dominion (and muni banner) work properly
  _maps/map_files/Serendipity/Serendipity1.dmm
  _maps/map_files/Serendipity/Serendipity2.dmm
  _maps/shuttles/cargo_serendipity.dmm
  icons/obj/machines/limbgrowernew.dmi
  nsv13/code/game/objects/items/religion.dm
  nsv13/code/modules/clothing/dominion_clothes.dm
Owners: @BeeStation/nsv-mapping

Alicorn 2: The Great Smoothmove boogaloo (#2064)
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Owners: none

Automatic changelog generation for PR #2064 [ci skip]
  html/changelogs/AutoChangeLog-pr-2064.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-2064.yml
Owners: none

Adds the blast shower
  nsv13/code/game/machinery/blast_shower.dm
  nsv13/icons/obj/blast_shower.dmi
Owners: none

Moves some vents around
  _maps/map_files/Tycoon/Tycoon2.dmm
Owners: @BeeStation/nsv-mapping

Changes |= to +=
  nsv13/code/modules/overmap/overmap_ghosts.dm
Owners: none

Allows Eclipse RC console to make announcements
  _maps/map_files/Eclipse/Eclipse1.dmm
Owners: @BeeStation/nsv-mapping

magic numbers for bokkie
  nsv13/code/modules/power/stormdrive.dm
Owners: none

missing break
  nsv13/code/modules/power/stormdrive.dm
Owners: none

Added emag effect
  nsv13/code/game/machinery/blast_shower.dm
Owners: none

Beg mappers to talk to maintainers (#1966)
  .github/CONTRIBUTING.md
Owners: none

Probably better to put this here instead
  nsv13/code/modules/overmap/overmap_ghosts.dm
Owners: none

fuel nozzles check for proximity now
  nsv13/code/modules/overmap/fighters/fuel_tank.dm
Owners: none

Angry Screaming
  code/__DEFINES/is_helpers.dm
  code/modules/shuttle/supply.dm
Owners: none

Emotional Support Torpedo (#2039)
  nsv13/code/datums/components/crafting/recipes.dm
  nsv13/code/datums/mood_events/nsv_events.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_parts.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_types.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/icons/obj/munition_types.dmi
Owners: none

Automatic changelog generation for PR #2039 [ci skip]
  html/changelogs/AutoChangeLog-pr-2039.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-2039.yml
Owners: none

No more supercritical ghost ships
  nsv13/code/modules/overmap/weapons/damage.dm
Owners: none

If sender&ship name is the same, it's a ghost ship
  nsv13/code/modules/overmap/ai-skynet.dm
Owners: none

Update is_helpers.dm
  code/__DEFINES/is_helpers.dm
Owners: none

Update supply.dm
  code/modules/shuttle/supply.dm
Owners: none

misc atlas fixes
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Atlas/atlas2.dmm
Owners: @BeeStation/nsv-mapping

Updates
  code/__DEFINES/is_helpers.dm
  code/modules/shuttle/supply.dm
Owners: none

Updating Sprites, minor code changes,
  _maps/map_files/Serendipity/Serendipity1.dmm
  _maps/map_files/Serendipity/Serendipity2.dmm
  _maps/serendipity.json
  nsv13/code/game/objects/items/autoinjectors.dm
  nsv13/code/game/objects/items/religion.dm
  nsv13/code/modules/overmap/types/dominion.dm
  nsv13/icons/obj/banners.dmi
  nsv13/icons/obj/hypospray.dmi
  nsv13/icons/obj/nsv13_reagentfillings.dmi
  nsv13/icons/overmap/new/dominion/serendipity.dmi
Owners: @BeeStation/nsv-mapping

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# qwertyquerty
/code/modules/collision @qwertyquerty

# Bokkiewokkie
/SQL/ @Bokkiewokkie
/SQL/database_changelog.txt @Bokkiewokkie

# Management Teams
/_maps/ @BeeStation/nsv-mapping

# Multiple Owners
/config @covertcorvid @Bokkiewokkie

/code/__DEFINES/MC.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/__DEFINES/tick.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/admin.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/master.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/failsafe.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem/dbcore.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem/timer.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
