Repository BeeStation/NSV13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @qwertyquerty, @Bokkiewokkie, @BeeStation/nsv-mapping, @covertcorvid, @Karmic-Skink

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# qwertyquerty
/code/modules/collision @qwertyquerty

# Bokkiewokkie
/SQL/ @Bokkiewokkie
/SQL/database_changelog.txt @Bokkiewokkie

# Management Teams
/_maps/ @BeeStation/nsv-mapping

# Multiple Owners
/config @covertcorvid @Bokkiewokkie

/code/__DEFINES/MC.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/__DEFINES/tick.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/admin.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/master.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/failsafe.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem/dbcore.dm @Bokkiewokkie @covertcorvid @Karmic-Skink
/code/controllers/subsystem/timer.dm @Bokkiewokkie @covertcorvid @Karmic-Skink

Allows brig phys to access their office
  _maps/map_files/Galactica/Galactica2.dmm
Owners: @BeeStation/nsv-mapping

fuel nozzles check for proximity now (#2072)
  nsv13/code/modules/overmap/fighters/fuel_tank.dm
Owners: none

Automatic changelog generation for PR #2072 [ci skip]
  html/changelogs/AutoChangeLog-pr-2072.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-2072.yml
Owners: none

Suggested changes from corvid
  nsv13/code/modules/overmap/overmap_ghosts.dm
  nsv13/code/modules/overmap/weapons/damage.dm
Owners: none

BY RATVARS BRASS NUTS
  icons/obj/machines/nuke.dmi
  nsv13/code/modules/antagonists/clockwork/nuke.dm
  sound/items/clock_nuke.ogg
  sound/items/license.txt
Owners: none

It compiles
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/fax_manager.dm
  code/modules/research/techweb/all_nodes.dm
  nsv13.dme
  nsv13/code/_globalvars/lists/faxes.dm
  nsv13/code/datums/wires/fax.dm
  nsv13/code/modules/paperwork/fax.dm
  nsv13/code/modules/paperwork/fax_manager.dm
  nsv13/icons/obj/fax.dmi
  tgui/packages/tgui/interfaces/Fax.tsx
  tgui/packages/tgui/interfaces/FaxManager.tsx
Owners: none

Removed redundant code
  nsv13/code/modules/paperwork/fax.dm
Owners: none

Framework
  nsv13/code/modules/paperwork/fax.dm
  nsv13/code/modules/paperwork/fax_manager.dm
Owners: none

Removed unnecessary pipe icon_state changes
  _maps/arenas/supermatter.dmm
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/old/Galactica2_old.dmm
  _maps/map_files/Galactica/old/Galactica_old.dmm
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Instanced/map_files/Hammurabi1.dmm
  _maps/map_files/Instanced/map_files/SpaceSHIP.dmm
  _maps/map_files/Instanced/map_files/admiralroyalty.dmm
  _maps/map_files/Mining/nsv13/FOB_Shuttle.dmm
  _maps/map_files/Mining/nsv13/Rook.dmm
  _maps/map_files/Mining/nsv13/Whisp_FOB.dmm
  _maps/map_files/Mining/nsv13/ruins/mining1.dmm
  _maps/map_files/Mining/nsv13/ruins/mining2.dmm
  _maps/map_files/NSV Storage/Mining/Hephaestus/Hephaestus1.dmm
  _maps/map_files/NSV Storage/Mining/Hephaestus/Hephaestus2.dmm
  _maps/map_files/NSV Storage/pipe_template.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/Shrike/Shrike1.dmm
  _maps/map_files/Shrike/Shrike2.dmm
  _maps/map_files/Snake/snake_lower.dmm
  _maps/map_files/Snake/snake_upper.dmm
  _maps/map_files/Testship/testship.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/Vago/vagodeck2.dmm
  _maps/shuttles/infiltrator/infiltrator_advanced.dmm
Owners: @BeeStation/nsv-mapping

Fixes the supermatter
  code/modules/power/supermatter/supermatter.dm
Owners: none

Enabled point redemption for Shrike processor
  _maps/map_files/Shrike/Shrike1.dmm
Owners: @BeeStation/nsv-mapping

Stormdrive activation
  nsv13/code/modules/power/stormdrive.dm
Owners: none

Changes to organgrower sprites
  nsv13/code/game/machinery/organgrower.dm
  nsv13/icons/obj/machinery/limbgrowernew.dmi
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Stormdrive overload numbers tweak (#2069)
  nsv13/code/modules/power/stormdrive.dm
Owners: none

adds an actual capacitor
  nsv13/code/modules/overmap/shieldgen.dm
Owners: none

turn off shield to preserve capacitor
  nsv13/code/modules/overmap/shieldgen.dm
Owners: none

Starmap V
  config/starmap/starmap.svg
  config/starmap/starmap_default.json
Owners: @covertcorvid, @Bokkiewokkie

Stops you from activating when pulling
  nsv13/code/game/objects/items/stacks/tiles/tile_types.dm
Owners: none

Adds iguana activation and deactivation
  nsv13/code/modules/recycling/replicatorDS.dm
Owners: none

Misc stuff
  config/starmap/starmap.svg
  config/starmap/starmap_default.json
  nsv13/code/__DEFINES/overmap.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/overmap/traders_items.dm
Owners: @covertcorvid, @Bokkiewokkie
