Repository BeeStation/NSV13, pull requests merged in 2019-12, with the labels that each got.

#161 Re-adds sleeper circuit boards
  code/game/machinery/Sleeper.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#163 Null Sword Fix
  nsv13/game/custom_items.dm
Labels: Fix

#160 Ship damage + Bugfix roundup from 25/11/2019
  _maps/map_files/Hammerhead/Hammerhead.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/grille.dm
  code/modules/mob/living/status_procs.dm
  nsv13.dme
  nsv13/code/_DEFINES/components.dm
  nsv13/code/_HELPERS/maths.dm
  nsv13/code/_HELPERS/matrices.dm
  nsv13/code/game/area/hammerhead.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/mob/living/carbon/human/species_types/synthetic.dm
  nsv13/code/modules/overmap/ai_interiors.dm
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/game/custom_turfs.dm
  nsv13/icons/mob/head.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/obj/clothing/hats.dmi
  nsv13/icons/obj/clothing/suits.dmi
  nsv13/icons/obj/structures/ship_structures.dmi
  nsv13/icons/overmap/effects.dmi
  nsv13/icons/turf/floors.dmi
  nsv13/sound/effects/footstep/heavy1.ogg
  nsv13/sound/effects/footstep/heavy2.ogg
  nsv13/sound/effects/footstep/heavy3.ogg
  nsv13/sound/effects/footstep/servo1.ogg
  nsv13/sound/effects/footstep/servo2.ogg
  nsv13/sound/effects/footstep/servo3.ogg
  nsv13/sound/effects/ship/crit_alarm.ogg
Labels: Feature, Map Edit

#174 Adds a hammerhead sprite
  _maps/map_files/Hammerhead/overmap.dmm
  nsv13/code/modules/overmap/types.dm
  nsv13/icons/overmap/nanotrasen/heavy_cruiser.dmi
Labels: Feature, Map Edit

#171 Hammerhead Wires
  _maps/map_files/Aegis/aegis1.dmm
  _maps/map_files/Aegis/aegis2.dmm
  _maps/map_files/Aegis/aegis3.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  nsv13/game/areas.dm
Labels: Feature, Fix, Map Edit

#179 Fixes travis maybe
  tools/travis/check_grep.sh
Labels: Tools

#181 Made travis's check_grep script work on jsons with multiple map files
  tools/travis/check_grep.sh
Labels: Tools

#177 AEGIS WIRES
  _maps/map_files/Aegis/aegis1.dmm
  _maps/map_files/Aegis/aegis2.dmm
  _maps/map_files/Aegis/aegis3.dmm
  nsv13/game/areas.dm
Labels: Feature, Fix, Map Edit

#180 KS BeeBase Fix Round 1
  code/modules/jobs/jobs.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
Labels: Fix

#182 Makes piloting suck less
  beestation_dme.txt
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/mob/living/say.dm
  code/modules/power/lighting.dm
  code/modules/security_levels/security_levels.dm
  config/game_options.txt
  icons/mob/large-worn-icons/64x64/head.dmi
  icons/obj/clothing/hats.dmi
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/icons/mob/actions/actions.dmi
  nsv13/icons/mob/feet.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/mob/uniform.dmi
  nsv13/icons/obj/clothing/shoes.dmi
  nsv13/icons/obj/clothing/suits.dmi
  nsv13/icons/obj/clothing/uniforms.dmi
  nsv13/icons/overmap/effects.dmi
Labels: Config Update, Fix, Sprites

#185 Hammerhead Bug Roundup 2
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Map Edit

#206 513 memes
  Dockerfile
  code/__DEFINES/misc.dm
  code/__DEFINES/typeids.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/plane_master.dm
  code/datums/emotes.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/status_display.dm
  code/game/objects/structures/musician.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Feature
