Repository BeeStation/NSV13, pull requests merged in 2019-11, with the labels that each got.

#104 Stormdrive Update Phase 1
  nsv13/code/modules/power/stormdrive.dm
  nsv13/game/lore_terminal.dm
  tgui/assets/tgui.js
  tgui/src/interfaces/stormdrive_console.ract
Labels: Feature, Tweak, UI

#106 Remaps atmospherics to be better by a good degree?
  _maps/map_files/Aegis/Aegis.dmm
Labels: Map Edit

#122 Fixes broken HoP/XO Landmark
  icons/mob/landmarks.dmi
Labels: Code Improvement, Sprites

#118 Fixes missing pipes for vault and southwest of atmos
  _maps/map_files/Aegis/Aegis.dmm
Labels: Map Edit

#107 Fighters frontend
  _maps/map_files/Aegis/Aegis.dmm
  _maps/map_files/debug/multiz.dmm
  code/__DEFINES/_NSV13_DEFINES.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/obj_flags.dm
  code/game/area/areas.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/stairs.dm
  code/game/turfs/openspace/openspace.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/living.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/research/machinery/circuit_imprinter.dm
  code/modules/research/machinery/protolathe.dm
  code/modules/research/machinery/techfab.dm
  icons/obj/card.dmi
  nsv13.dme
  nsv13/code/__HELPERS/names.dm
  nsv13/code/_onclick/hud/parallax.dm
  nsv13/code/game/objects/structures/stairs.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/fighter.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/fighters/fighters_build.dm
  nsv13/code/modules/overmap/fighters/fighters_components.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/game/areas.dm
  nsv13/game/custom_turfs.dm
  nsv13/game/lore_terminal.dm
  nsv13/game/objects/railing.dm
  nsv13/icons/mob/head.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/mob/uniform.dmi
  nsv13/icons/obj/clothing/hats.dmi
  nsv13/icons/obj/clothing/suits.dmi
  nsv13/icons/obj/clothing/uniforms.dmi
  nsv13/icons/overmap/nanotrasen/carrier.dmi
  nsv13/icons/overmap/nanotrasen/fighter.dmi
  nsv13/icons/turf/floors.dmi
  nsv13/sound/effects/fighters/cockpit.ogg
  nsv13/sound/effects/fighters/takeoff.ogg
  nsv13/sound/effects/ship/cockpit.ogg
  nsv13/sound/effects/ship/cockpit_breach.ogg
  nsv13/sound/effects/ship/fighter_launch.ogg
  nsv13/sound/effects/ship/fighter_launch_short.ogg
Labels: Feature, Map Edit, Sprites

#127 Yeet
  _maps/map_files/debug/multiz.dmm
  icons/mob/landmarks.dmi
  nsv13.dme
  nsv13/code/modules/overmap/fighters/fighters.dm
Labels: Sprites

#128 Fix a few fuckups
  _maps/map_files/Aegis/Aegis.dmm
  code/__DEFINES/radio.dm
  code/controllers/subsystem/blackbox.dm
  code/game/communications.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/living/say.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  icons/mob/augmentation/augments.dmi
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/game/custom_materials.dm
  nsv13/game/custom_turfs.dm
  nsv13/goonstation/code/modules/icon_smoothing/turf_autoalign.dm
  nsv13/goonstation/icons/obj/interior_window.dmi
  nsv13/goonstation/icons/obj/window_pane.dmi
  nsv13/icons/turf/floors.dmi
Labels: Map Edit, Sprites

#130 small fighter related fixes
  code/modules/jobs/jobs.dm
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/overmap/fighters/fighters_build.dm
Labels: Feature, Fix, Grammar and Formatting

#120 Hammerhead
  _maps/Hammerhead.dm
  _maps/Hammerhead.json
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Hammerhead/overmap.dmm
  _maps/shuttles/cargo_hammerhead.dmm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  nsv13.dme
  nsv13/code/_onclick/hud/parallax.dm
  nsv13/code/datums/holocall.dm
  nsv13/code/datums/shuttles.dm
  nsv13/code/game/area/xerxes.dm
  nsv13/game/areas.dm
Labels: Map Edit

#132 Contributions v5
  nsv13/icons/overmap/nanotrasen/fighterOverlay.dmi
  nsv13/icons/overmap/nanotrasen/missile_cruiser.dmi
Labels: Sprites

#136 Aegis .dmm changes
  _maps/_basemap.dm
  _maps/aegis.json
  _maps/map_files/Aegis/Aegis.dmm
  _maps/map_files/Aegis/aegis1.dmm
  _maps/map_files/Aegis/aegis2.dmm
  _maps/map_files/Aegis/aegis3.dmm
  _maps/map_files/Aegis/ao1.dmm
  _maps/map_files/Aegis/ao2.dmm
  _maps/map_files/Aegis/ao3.dmm
Labels: Map Edit

#137 Performance + Map prettification
  _maps/map_files/Hammerhead/Hammerhead.dmm
  code/__DEFINES/subsystems.dm
  code/game/machinery/firealarm.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/processing/overmap.dm
  nsv13/code/modules/munitions/munitions.dm
  nsv13/code/modules/overmap/ai_interiors.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/game/custom_airlocks.dm
  nsv13/goonstation/icons/airlock_glass.dmi
  nsv13/goonstation/icons/airlock_wood.dmi
  nsv13/goonstation/icons/command_glass.dmi
  nsv13/goonstation/icons/engineering_glass.dmi
  nsv13/icons/obj/machinery/doors/double.dmi
  nsv13/icons/obj/machinery/doors/hatch.dmi
  nsv13/icons/obj/machinery/doors/overlays.dmi
  nsv13/icons/obj/machinery/doors/overlays_large.dmi
  nsv13/icons/obj/machinery/doors/secure.dmi
  nsv13/icons/obj/machinery/doors/station.dmi
  nsv13/icons/obj/machinery/doors/station_glass.dmi
  nsv13/icons/obj/machinery/doors/vault.dmi
  nsv13/icons/overmap/nanotrasen/escape_pod.dmi
  sound/machines/airlock.ogg
  sound/machines/airlockclose.ogg
  sound/machines/airlockforced.ogg
Labels: Feature, Map Edit, Sound

#140 Yeets mining temporarily
  code/modules/jobs/job_types/shaft_miner.dm
Labels: Removal

#150 Fixes overmap observers not being cleared.
  nsv13/code/modules/overmap/camera.dm
Labels: Fix
