Repository BeeStation/NSV13, pull requests merged in 2019-10, with the labels that each got.

#81 Added various syndicate ships in nvs13/icons/overmap/syndicate
  nsv13/icons/overmap/syndicate/syn_fighter.dmi
  nsv13/icons/overmap/syndicate/syn_light_cruiser.dmi
  nsv13/icons/overmap/syndicate/syn_patrol_cruiser.dmi
Labels: Sprites

#71 Added an additional cruiser type for variety
  nsv13/icons/overmap/nanotrasen/prototype_cruiser.dmi
Labels: Sprites

#69 Bugfix roundup+radar + basic gameplay loop
  _maps/map_files/Aegis/Aegis.dmm
  code/__DEFINES/admin.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/game/objects/items/pinpointer.dm
  code/modules/client/client_defines.dm
  code/modules/holodeck/computer.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/setup.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/mob_movement.dm
  icons/mob/screen_ai.dmi
  icons/obj/device.dmi
  nsv13.dme
  nsv13/_DEFINES/overmap.dm
  nsv13/code/_DEFINES/components.dm
  nsv13/code/_onclick/hud/ai.dm
  nsv13/code/datums/looping_sounds/_looping_sound.dm
  nsv13/code/modules/client/client.dm
  nsv13/code/modules/jobs/job_types/bridge.dm
  nsv13/code/modules/overmap/ai.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/fighters/fighter.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/game/lore_terminal.dm
  nsv13/icons/assets/dradis.gif
  nsv13/icons/overmap/nanotrasen/carrier.dmi
  nsv13/icons/overmap/nanotrasen/fighter.dmi
  nsv13/icons/overmap/nanotrasen/light_cruiser.dmi
  nsv13/sound/effects/ship/dradis.ogg
Labels: Map Edit, Sprites

#97 Added sprites for a ship GUI.
  nsv13/icons/overmap/gui/fighter_console/background.png
  nsv13/icons/overmap/gui/fighter_console/brake_off.png
  nsv13/icons/overmap/gui/fighter_console/brake_on.png
  nsv13/icons/overmap/gui/fighter_console/flighttoggle.png
  nsv13/icons/overmap/gui/fighter_console/flighttoggle_pressed.png
  nsv13/icons/overmap/gui/fighter_console/hull0.png
  nsv13/icons/overmap/gui/fighter_console/hull100.png
  nsv13/icons/overmap/gui/fighter_console/hull25.png
  nsv13/icons/overmap/gui/fighter_console/hull50.png
  nsv13/icons/overmap/gui/fighter_console/hull75.png
  nsv13/icons/overmap/gui/fighter_console/monitor.png
  nsv13/icons/overmap/gui/fighter_console/pdc_on.png
  nsv13/icons/overmap/gui/fighter_console/rotation_keyboard.png
  nsv13/icons/overmap/gui/fighter_console/rotation_mouse.png
  nsv13/icons/overmap/gui/fighter_console/rotationtoggle.png
  nsv13/icons/overmap/gui/fighter_console/rotationtoggle_pressed.png
  nsv13/icons/overmap/gui/fighter_console/switch_left.png
  nsv13/icons/overmap/gui/fighter_console/switch_left_armed.png
  nsv13/icons/overmap/gui/fighter_console/switch_right.png
  nsv13/icons/overmap/gui/fighter_console/switch_right_armed.png
  nsv13/icons/overmap/gui/fighter_console/torpedo_on.png
  nsv13/icons/overmap/gui/fighter_console/weptoggle.png
  nsv13/icons/overmap/gui/fighter_console/weptoggle_pressed.png
  nsv13/icons/overmap/gui/flight_console/background.png
  nsv13/icons/overmap/gui/flight_console/brake_off.png
  nsv13/icons/overmap/gui/flight_console/brake_on.png
  nsv13/icons/overmap/gui/flight_console/flighttoggle.png
  nsv13/icons/overmap/gui/flight_console/flighttoggle_pressed.png
  nsv13/icons/overmap/gui/flight_console/hull0.png
  nsv13/icons/overmap/gui/flight_console/hull100.png
  nsv13/icons/overmap/gui/flight_console/hull25.png
  nsv13/icons/overmap/gui/flight_console/hull50.png
  nsv13/icons/overmap/gui/flight_console/hull75.png
  nsv13/icons/overmap/gui/flight_console/monitor.png
  nsv13/icons/overmap/gui/flight_console/rotation_keyboard.png
  nsv13/icons/overmap/gui/flight_console/rotation_mouse.png
  nsv13/icons/overmap/gui/flight_console/rotationtoggle.png
  nsv13/icons/overmap/gui/flight_console/rotationtoggle_pressed.png
  nsv13/icons/overmap/gui/weapons_console/background.png
  nsv13/icons/overmap/gui/weapons_console/hull0.png
  nsv13/icons/overmap/gui/weapons_console/hull100.png
  nsv13/icons/overmap/gui/weapons_console/hull25.png
  nsv13/icons/overmap/gui/weapons_console/hull50.png
  nsv13/icons/overmap/gui/weapons_console/hull75.png
  nsv13/icons/overmap/gui/weapons_console/monitor.png
  nsv13/icons/overmap/gui/weapons_console/pdc_on.png
  nsv13/icons/overmap/gui/weapons_console/railgun_on.png
  nsv13/icons/overmap/gui/weapons_console/torpedo_on.png
  nsv13/icons/overmap/gui/weapons_console/weptoggle.png
  nsv13/icons/overmap/gui/weapons_console/weptoggle_pressed.png
Labels: Sprites

#72 Valkyrie Map, New Areas
  _maps/Valkyrie.dm
  _maps/Valkyrie.json
  _maps/map_files/Valkyrie/Valkyrie.dmm
  config/maps.txt
  nsv13/game/areas.dm
Labels: Config Update, Feature, Map Edit

#98 Cargo now has a QM office - Some minor fixes nearby
  _maps/map_files/Aegis/Aegis.dmm
Labels: Map Edit

#96 Bugfix roundup 2
  _maps/map_files/Aegis/Aegis.dmm
  _maps/map_files/Valkyrie/Valkyrie.dmm
  icons/effects/parallax.dmi
  nsv13.dme
  nsv13/code/_onclick/hud/parallax.dm
  nsv13/code/modules/munitions/munitions.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/icons/assets/dradis.gif
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/dradis.ract
  tgui/src/interfaces/stormdrive_console.ract
  tgui/src/styles/dradis.styl
Labels: Fix, Map Edit, Sprites, UI
