Repository BeeStation/NSV13, pull requests merged in 2020-06, with the labels that each got.

#648 Hammerhead Compliance Part 1
  _maps/map_files/Hammerhead/Hammerhead.dmm
  nsv13/code/game/objects/effects/spawners/structure.dm
Labels: Map Edit

#632 Adds my changes back to the Galactica
  _maps/map_files/Galactica/Galactica.dmm
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Map Edit

#618 Fixes wormhole generation
  nsv13/code/controllers/subsystem/starsystem.dm
Labels: Fix

#555 Experimental Welders for Engieborgs
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  nsv13/code/game/objects/items/robot/robot_upgrades.dm
  nsv13/code/game/objects/items/tools/weldingtool.dm
  nsv13/code/modules/research/designs/mechfabricator_designs.dm
Labels: Feature, Tweak

#651 Update 0.6 Map paths fixed. All recent updates to master is merged too.
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Galactica/Galactica.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/Vago/vagodeck2.dmm
  code/_compile_options.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/modules/client/loadout/loadout_donator.dm
  code/modules/mapping/space_management/multiz_helpers.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-625.yml
  icons/obj/lighting.dmi
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/objects/items/robot/robot_upgrades.dm
  nsv13/code/game/objects/items/tools/weldingtool.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_construction.dm
  nsv13/code/modules/research/designs/mechfabricator_designs.dm
  nsv13/icons/obj/donator.dmi
  nsv13/modules/donator/donator.dm
  nsv13/modules/donator/donator_component.dm
Labels: Map Edit, Sprites, Update

#668 Hammerhead Monstermos Compliance part 2
  _maps/map_files/Hammerhead/Hammerhead.dmm
  code/game/machinery/airlock_cycle_control.dm
  code/game/objects/effects/spawners/structure.dm
  nsv13/game/custom_turfs.dm
Labels: Map Edit

#572 [ready] NSV Jeppison
  _maps/jeppison.dm
  _maps/jeppison.json
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/Jeppison/Jeppison2.dmm
  _maps/map_files/Jeppison/job_changes.dm
  _maps/map_files/Mining/nsv13/FOB_Shuttle.dmm
  _maps/map_files/Mining/nsv13/Whisp_FOB.dmm
  code/modules/jobs/map_changes/map_changes.dm
  config/maps.txt
  nsv13/game/areas.dm
Labels: Config Update, Feature, Map Edit, Needs Review, Tweak

#659 Widescreen fix beebase
  code/__DEFINES/preferences.dm
  code/game/objects/items/twohanded.dm
  code/modules/client/preferences.dm
  code/modules/mob/login.dm
  nsv13.dme
  nsv13/code/modules/client/preferences_toggles.dm
  nsv13/code/modules/client/zoom.dm
  nsv13/code/modules/overmap/camera.dm
Labels: Config Update, Fix

#655 Updates Enterprise
  _maps/map_files/Enterprise/Enterprise1.dmm
  _maps/map_files/Enterprise/Enterprise2.dmm
  icons/obj/fluff.dmi
  nsv13/game/objects/railing.dm
Labels: Internal Test Required, Map Edit, Sprites, Work In Progress

#607 NSV13: Surviving edged weapons
  code/__DEFINES/inventory.dm
  code/game/gamemodes/objective_items.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/loadout/loadout_donator.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/projectiles/gun.dm
  config/donators.txt
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  nsv13.dme
  nsv13/code/_DEFINES/components.dm
  nsv13/code/datums/traits/negative.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/clothing/masks/hailer.dm
  nsv13/code/modules/jobs/security/aiming.dm
  nsv13/code/modules/jobs/security/martial_art.dm
  nsv13/code/modules/jobs/security/weapons.dm
  nsv13/game/custom_guns.dm
  nsv13/icons/effects/aiming.dmi
  nsv13/icons/mob/actions/actions.dmi
  nsv13/icons/mob/head.dmi
  nsv13/icons/mob/inhands/weapons/melee_lefthand.dmi
  nsv13/icons/mob/inhands/weapons/melee_righthand.dmi
  nsv13/icons/mob/neck.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/mob/uniform.dmi
  nsv13/icons/obj/ammo.dmi
  nsv13/icons/obj/clothing/hats.dmi
  nsv13/icons/obj/clothing/neck.dmi
  nsv13/icons/obj/clothing/suits.dmi
  nsv13/icons/obj/clothing/uniforms.dmi
  nsv13/icons/obj/guns/projectile.dmi
  nsv13/icons/obj/library.dmi
  nsv13/sound/effects/judo_throw.ogg
  nsv13/sound/voice/sechailer/dispatch_please_respond.ogg
  nsv13/sound/weapons/glock.ogg
Labels: Config Update, Sprites

#629 Updates our wall smoothing
  code/game/objects/structures/girders.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  nsv13.dme
  nsv13/code/game/turfs/wall.dm
  nsv13/code/game/turfs/window.dm
  nsv13/game/custom_turfs.dm
  nsv13/icons/obj/grille.dmi
  nsv13/icons/obj/window.dmi
  nsv13/icons/turf/interior_wall.dmi
  nsv13/icons/turf/reinforced_wall.dmi
  nsv13/icons/turf/wall_masks.dmi
Labels: Fix

#638 Changes traitor steal objective: reflector vest to riot suit
  code/game/gamemodes/objective_items.dm
Labels: Fix, Tweak

#674 Fixes edge of Z-level
  code/game/turfs/open/space/space.dm
Labels: Fix

#685 Fixes the wall related runtime errors during initialization
  code/game/turfs/closed/wall/reinf_walls.dm
Labels: Fix

#684 [Port] Travis extools band-aid fix
  tools/travis/run_server.sh
Labels: Tools

#680 Stormdrive Phase 3
  code/datums/components/mood.dm
  code/datums/components/rot.dm
  code/datums/diseases/advance/symptoms/oxygen.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/uplink/uplink_items.dm
  icons/effects/atmospherics.dmi
  nsv13.dme
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/power/control_rods.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/goonstation/icons/reactor.dmi
  nsv13/icons/obj/control_rod.dmi
  nsv13/icons/obj/machinery/FTL_drive.dmi
  nsv13/icons/obj/machinery/FTL_pylon.dmi
  nsv13/icons/obj/machinery/FTL_silo.dmi
  tgui/assets/tgui.js
  tgui/packages/tgui/interfaces/StormdriveConsole.js
  tgui/packages/tgui/interfaces/StormdriveControlRods.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Balance/Rebalance, Feature, Priority: High, Refactor, Sprites, UI

#677 Fixes some map issues that cropped up during testing
  _maps/map_files/Enterprise/Enterprise1.dmm
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Map Edit, Tweak
