Repository BeeStation/NSV13, pull requests merged in 2020-01, with the labels that each got.

#208 Attempt at seperating the overmap from station at backend code
  _maps/hammerhead.json
  code/__DEFINES/maps.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
Labels: Code Improvement, Map Edit

#213 Fuck
  _maps/map_files/Hammerhead/Hammerhead.dmm
  icons/obj/chairs.dmi
  icons/turf/floors.dmi
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
Labels: Fix, Map Edit, Sprites

#220 Mining is BACK boys
  _maps/hammerhead.json
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Hammerhead/overmap.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/nsv13/nostromo.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/templates/nsv13/asteroid1.dmm
  _maps/templates/nsv13/asteroid2.dmm
  _maps/templates/nsv13/asteroid3.dmm
  code/__DEFINES/maps.dm
  code/_globalvars/lists/admin.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/stickyban.dm
  code/datums/components/riding.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/manned_turret.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/client_procs.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/goonchat/browserassets/js/browserOutput.js
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/login.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/research/machinery/protolathe.dm
  code/modules/shuttle/navigation_computer.dm
  config/jobs.txt
  nsv13.dme
  nsv13/code/game/machinery/dance_machine.dm
  nsv13/code/modules/mining/asteroid.dm
  nsv13/code/modules/overmap/ai_interiors.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/game/areas.dm
  nsv13/game/custom_machines.dm
  nsv13/game/custom_turfs.dm
  nsv13/icons/obj/cm_ai.dmi
  nsv13/icons/obj/computers.dmi
  nsv13/icons/obj/large_computers.dmi
  nsv13/icons/obj/terminals.dmi
  nsv13/icons/overmap/nanotrasen/fighter.dmi
  nsv13/icons/overmap/stellarbodies/asteroidfield/icefield/asteroid_ice_192x.dmi
  nsv13/sound/effects/ship/tractor.ogg
Labels: Config Update, Feature, Map Edit, Tweak

#229 Hammerhead Fixes
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Map Edit

#238 Changes how ranks are assigned
  code/controllers/configuration/entries/general.dm
  code/game/say.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/examine.dm
  config/config.txt
Labels: Code Improvement, Config Update, Priority: High, enhancement

#216 Munitions department split
  _maps/map_files/Hammerhead/Hammerhead.dmm
  code/__DEFINES/access.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/nsv13.dm
  code/__DEFINES/preferences.dm
  code/__DEFINES/radio.dm
  code/controllers/subsystem/blackbox.dm
  code/datums/datacore.dm
  code/datums/traits/negative.dm
  code/game/communications.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/hub.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/say.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/creep/creep.dm
  code/modules/client/preferences.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/say.dm
  code/modules/modular_computers/file_system/programs/card.dm
  config/jobs.txt
  icons/mob/landmarks.dmi
  interface/stylesheet.dm
  nsv13.dme
  nsv13/code/modules/crew_objectives/munitions_objectives.dm
  nsv13/code/modules/jobs/job_types/air_traffic_controller.dm
  nsv13/code/modules/jobs/job_types/bridge.dm
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/jobs/job_types/master_at_arms.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
Labels: Config Update, Feature, Fix, Map Edit, Sprites, Tweak

#248 False walls and correct resources from duranium walls
  code/game/objects/structures/girders.dm
  nsv13/game/custom_materials.dm
  nsv13/game/custom_turfs.dm
  nsv13/icons/turf/interior_wall.dmi
  nsv13/icons/turf/reinforced_wall.dmi
Labels: Feature, Fix, Sprites

#246 Configurable ranks
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/job.dm
  code/game/say.dm
  code/modules/admin/admin_verbs.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/brigphys.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/emt.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  config/config.txt
  config/ranks/corporate.txt
  config/ranks/military.txt
  nsv13.dme
  nsv13/code/controllers/configuration/entries/game_options.dm
  nsv13/code/controllers/subsystem/ranks.dm
  nsv13/code/modules/jobs/job_types/bridge.dm
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
Labels: Administration, Config Update, Feature, Refactor

#204 Fix: power sink's power_drained change limited to APC cell's charge
  code/game/objects/items/devices/powersink.dm
Labels: Fix

#162 Skinsuits
  code/__DEFINES/atmospherics.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/icons/mob/head.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/obj/clothing/hats.dmi
  nsv13/icons/obj/clothing/suits.dmi
Labels: Pre-BeeBase

#250 Nostromo Bug Fixing (Replacing it with FOBShuttle)
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Mining/nsv13/nostromo.dmm
  code/modules/paperwork/filingcabinet.dm
Labels: Fix, Map Edit

#214 Adds Mining Shuttle Areas and Template
  _maps/map_files/Mining/nsv13/FOB_Shuttle.dmm
  _maps/map_files/Mining/nsv13/ruins/mining1.dmm
  _maps/map_files/Mining/nsv13/ruins/mining2.dmm
  _maps/map_files/Mining/nsv13/ruins/mining3.dmm
  _maps/map_files/Mining/nsv13/ruins/mining4.dmm
  _maps/map_files/NSV Storage/NSV_Taojhug.dmm
  _maps/map_files/NSV Storage/aerwhisp_hull.dmm
  nsv13/game/areas.dm
Labels: Feature, Map Edit

#254 Cap/AI can now access ATC channel as intended
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Fix

#259 Pucegang fixes
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/jobs/job_types/master_at_arms.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
Labels: Fix

#262 [TG Port] Allow tools to be placed on tables on help intent
  code/game/objects/structures/tables_racks.dm
Labels: Feature

#265 AI now has Crewsimov at round start
  _maps/map_files/Hammerhead/Hammerhead.dmm
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  config/silicon_laws.txt
Labels: Config Update, Map Edit

#272 GQ Lights Fix
  code/modules/security_levels/security_levels.dm
Labels: Fix

#281 Restores the older station maps
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/PubbyStation/job_changes.dm
Labels: Map Edit

#280 hardcode jobslot fix
  code/modules/jobs/job_types/shaft_miner.dm
Labels: Fix, Tweak

#267 Adds Purge and Freeform boards to Hammerhead upload
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Feature, Map Edit

#271 Updates the interface buttons
  _maps/hammerhead.json
  code/controllers/configuration/entries/general.dm
  code/datums/map_config.dm
  config/config.txt
  html/changelog.html
  interface/interface.dm
Labels: Config Update, Map Edit

#282 [READY] Fixing some Hammerhead mapstuff
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Feature, Map Edit, Needs Review

#293 Hammerhead bug fixes!
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Fix, Map Edit

#292 Rank examine runtime fix
  code/modules/mob/living/carbon/human/examine.dm
  nsv13/code/controllers/subsystem/ranks.dm
Labels: Fix, Priority: High

#251 Make AI ships suck less
  _maps/map_files/Mining/nsv13/asteroids/asteroid1.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid2.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid3.dmm
  nsv13/code/modules/mining/asteroid.dm
  nsv13/code/modules/overmap/ai.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/icons/overmap/syndicate/syn_carrier.dmi
Labels: Feature, Map Edit

#169 Battlestar Valkyrie
  _maps/_basemap.dm
  _maps/map_files/Valkyrie/Valkyrie.dmm
  _maps/map_files/Valkyrie/Valkyrie1.dmm
  _maps/map_files/Valkyrie/Valkyrie2.dmm
  _maps/map_files/Valkyrie/Valkyrie3.dmm
  _maps/valkyrie.json
Labels: Map Edit, Pre-BeeBase
