Repository BeeStation/NSV13, pull requests merged in 2020-08, with the labels that each got.

#799 Fix numerous, various issues that have been extremely annoying of late
  _maps/map_files/Tycoon/Tycoon2.dmm
  nsv13/_DEFINES/overmap.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/phaser.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/aim_helper.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/shieldgen.dm
  nsv13/code/modules/overmap/types.dm
  tgui/packages/tgui/interfaces/Dradis.js
  tgui/packages/tgui/interfaces/EnergyWeapons.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/Map.scss
Labels: Feature, Fix, Map Edit, UI

#786 Minor bugfixes
  code/game/machinery/doors/airlock_electronics.dm
  code/modules/uplink/uplink_items.dm
  nsv13/code/modules/munitions/ammunition/countermeasure_ammo.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/fighters/fighters_components.dm
  nsv13/game/custom_turfs.dm
Labels: Fix

#777 Aetherwhisp followup and map fixes
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/shuttles/arrival_aetherwhisp.dmm
  code/datums/shuttles.dm
Labels: Fix, Map Edit, Needs Test Merge

#790 TycOOM hotfix
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  code/game/machinery/doors/airlock.dm
  nsv13/code/modules/turbolift/turbolift.dm
  nsv13/game/lazylift.dm
  nsv13/goonstation/icons/turbolift_blast_door.dmi
Labels: Fix, Map Edit

#778 Allows admins to dynamically create new crewable ships in round.
  _maps/map_files/Instanced/admiralship.json
  _maps/map_files/Instanced/hammurabiPVP.json
  _maps/map_files/Instanced/hulkPVP.json
  _maps/map_files/Instanced/map_files/admiralroyalty.dmm
  _maps/map_files/PVP/Hammurabi.dmm
  _maps/map_files/PVP/Hulk.dmm
  code/modules/admin/admin_verbs.dm
  nsv13.dme
  nsv13/_DEFINES/overmap.dm
  nsv13/code/game/gamemodes/pvp/pvp.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/phaser.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/fighters/escapepod.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/ship_areas/badmiral.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/icons/overmap/nanotrasen/gunstar.dmi
  nsv13/icons/overmap/syndicate/battleship.dmi
Labels: Active Test Merge, Feature, Fix, Map Edit

#808 Glory to the Syndicate (Some cool syndicate command shit)
  code/modules/clothing/outfits/syndicate.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/neck.dmi
  icons/mob/suit.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/cloaks.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/guns/projectile.dmi
  nsv13.dme
Labels: Feature, Sprites

#809 Fix traitor steal objective by moving Winona to the HoS locker
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: Tweak

#798 Completely redoes the hot fucking mess that is Jolly's Atmospherics.
  _maps/map_files/NSV Storage/pipe_template.dmm
  _maps/map_files/jollysausage/todger.dmm
Labels: Balance/Rebalance, Fix, Map Edit, Needs Test Merge

#789 Simple localisation
  nsv13.dme
  nsv13/_DEFINES/localisation/_localisation.dm
  nsv13/_DEFINES/localisation/localisation_de.dm
  nsv13/_DEFINES/localisation/localisation_fr.dm
  nsv13/_DEFINES/localisation/localisation_ru.dm
Labels: Feature

#796 Modifies the TGS announce
  code/__DEFINES/tgs.config.dm
Labels: Active Test Merge

#781 Adds in a pool!
  _maps/map_files/Instanced/map_files/admiralroyalty.dmm
  nsv13.dme
  nsv13/game/objects/pool.dm
  nsv13/icons/obj/pool.dmi
  nsv13/sound/effects/splash.ogg
  nsv13/sound/effects/splosh.ogg
Labels: Active Test Merge, Feature, Map Edit

#817 Major performance increase
  code/__DEFINES/subsystems.dm
  code/modules/projectiles/projectile.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/processing/overmap.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_types.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/ai.dm
  nsv13/code/modules/overmap/ai_interiors.dm
  nsv13/code/modules/overmap/fighters/tug.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/physics2d.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/code/modules/projectiles/projectile.dm
Labels: Feature, Fix

#782 Stormdrive Gas Interactions V2: Training Wheels Removal Edition
  nsv13/code/modules/power/stormdrive.dm
Labels: Active Test Merge, Administration, Balance/Rebalance, Fix, Refactor, Removal

#814 Autofire that isn't objectively terrible. We truly live in a society.
  code/modules/projectiles/autofire.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  nsv13/code/modules/jobs/security/weapons.dm
  nsv13/icons/obj/guns/projectile.dmi
Labels: Active Test Merge, Do Not Merge, Feature, Needs Test Merge, Work In Progress

#774 APNP/APNW
  code/datums/components/material_container.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  nsv13.dme
  nsv13/_DEFINES/overmap.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/collision/vector2d.dm
  nsv13/code/modules/overmap/ai_interiors.dm
  nsv13/code/modules/overmap/armour/armour_quadrant.dm
  nsv13/code/modules/overmap/armour/nano_pump.dm
  nsv13/code/modules/overmap/armour/nano_well.dm
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/effects.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons/damage.dm
  nsv13/icons/obj/machinery/armour_pump.dmi
  nsv13/icons/obj/machinery/armour_well.dmi
  nsv13/icons/overmap/nanotrasen/enterprise.dmi
  nsv13/icons/overmap/nanotrasen/missile_cruiser.dmi
  nsv13/sound/effects/ship/sscrit/countdown.ogg
  nsv13/sound/effects/ship/sscrit/hullcrit_10.ogg
  nsv13/sound/effects/ship/sscrit/hullcrit_15.ogg
  nsv13/sound/effects/ship/sscrit/hullcrit_5.ogg
  nsv13/sound/effects/ship/sscrit/hullcrit_6.ogg
  nsv13/sound/effects/ship/sscrit/hullcrit_alarm_10.ogg
  nsv13/sound/effects/ship/sscrit/hullcrit_alarm_15.ogg
  nsv13/sound/effects/ship/sscrit/hullcrit_alarm_5.ogg
  nsv13/sound/effects/ship/sscrit/hullcrit_rare_announcement.ogg
  tgui/packages/tgui/interfaces/ArmourPlatingNanorepairPump.js
  tgui/packages/tgui/interfaces/ArmourPlatingNanorepairWell.js
  tgui/packages/tgui/interfaces/StormdriveConsole.js
  tgui/packages/tgui/interfaces/TacticalConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Refactor, UI

#831 APNP followup
  _maps/map_files/Tycoon/Tycoon2.dmm
  nsv13/code/modules/overmap/types.dm
  nsv13/icons/overmap/nanotrasen/Battleship.dmi
  nsv13/icons/overmap/nanotrasen/gunstar.dmi
  nsv13/icons/overmap/nanotrasen/heavy_cruiser.dmi
  nsv13/icons/overmap/nanotrasen/hephaistus.dmi
  nsv13/icons/overmap/nanotrasen/hephaistus_blue.dmi
  nsv13/icons/overmap/nanotrasen/light_cruiser.dmi
  nsv13/icons/overmap/nanotrasen/missile_cruiser.dmi
  nsv13/icons/overmap/nanotrasen/patrol_cruiser.dmi
Labels: Feature, Map Edit

#818 Okay but what if you could just build constrictors and they'd connect to pipes
  nsv13/code/modules/power/stormdrive.dm
Labels: Active Test Merge, Fix

#775 Monstermos compliance cleanout
  _maps/_basemap.dm
  _maps/aegis.dm
  _maps/aegis.json
  _maps/enterprise.dm
  _maps/enterprise.json
  _maps/galactica.dm
  _maps/galactica.json
  _maps/map_files/Aegis/aegis1.dmm
  _maps/map_files/Aegis/aegis2.dmm
  _maps/map_files/Aegis/aegis3.dmm
  _maps/map_files/Aegis/ao1.dmm
  _maps/map_files/Aegis/ao2.dmm
  _maps/map_files/Aegis/ao3.dmm
  _maps/map_files/Enterprise/Enterprise1.dmm
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Enterprise/job_changes.dm
  _maps/map_files/Galactica/Galactica.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Galactica/job_changes.dm
  _maps/map_files/Testship/testship.dmm
  _maps/map_files/Vago/vagodeck2.dmm
  _maps/testship.dm
  _maps/testship.json
  config/maps.txt
Labels: Config Update, Map Edit

#805 Removes most radiation spawners from maps
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/Jeppison/Jeppison2.dmm
  _maps/map_files/Mining/nsv13/Whisp_FOB.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Map Edit, Needs Test Merge, Priority: High, Removal

#834 Armor pumps and fewer OOMS for Jeppison!
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/Jeppison/Jeppison2.dmm
  nsv13/code/modules/overmap/types.dm
Labels: Active Test Merge, Feature, Map Edit, Priority: High

#854 Jolly Sausage Armor Pumps
  _maps/jollysausage.json
  _maps/map_files/jollysausage/todger.dmm
  nsv13/code/game/area/hammerhead.dm
  nsv13/code/modules/overmap/types.dm
Labels: Active Test Merge, Feature, Map Edit
