Repository BeeStation/NSV13, pull requests merged in 2020-09, with the labels that each got.

#868 Crew are now properly warned about boarders
  nsv13/code/modules/overmap/boarding/boarding.dm
Labels: Fix

#832 Constructable Flak mounts
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_parts.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_research.dm
Labels: Active Test Merge, Tweak

#857 Updates Hammerhead to be Monstermos compatible and have armor pumps + other fixes
  _maps/map_files/Hammerhead/Hammerhead.dmm
  nsv13/code/modules/overmap/types.dm
Labels: Active Test Merge, Balance/Rebalance, Feature, Map Edit, Tweak

#883 Hammerhead fixes
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Active Test Merge, Fix, Map Edit

#853 Resolves issues with bullets hitting each other and more
  code/datums/components/_component.dm
  code/modules/projectiles/projectile.dm
  nsv13/code/modules/collision/vector2d.dm
  nsv13/code/modules/overmap/armour/armour_quadrant.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics2d.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Active Test Merge, Fix

#877 Munitions uniform update
  nsv13/code/game/objects/structures/custom_closets.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/jobs/job_types/master_at_arms.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
  nsv13/icons/mob/head.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/obj/clothing/hats.dmi
  nsv13/icons/obj/clothing/suits.dmi
Labels: Active Test Merge, Feature, Tweak

#886 types.dm split + numbers raised
  code/_DEFINES/NSV13_defines.dm
  nsv13.dme
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/types/miningships.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/overmap/types/solgov.dm
  nsv13/code/modules/overmap/types/syndicate.dm
Labels: Balance/Rebalance

#858 Disables barricade climbability due to wallclipping
  nsv13/code/game/objects/structures/barricade.dm
Labels: Active Test Merge, Removal

#872 APNW 1.1
  nsv13/code/modules/overmap/armour/nano_pump.dm
  nsv13/code/modules/overmap/armour/nano_well.dm
  tgui/packages/tgui/interfaces/ArmourPlatingNanorepairWell.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Active Test Merge, Feature, UI

#889 Jolly Sausage Fixes
  _maps/map_files/jollysausage/todger.dmm
  _maps/shuttles/cargo_sausage.dmm
Labels: Feature, Fix, Map Edit

#890 Various Patches
  code/game/objects/items/stacks/stack.dm
  nsv13/code/modules/client/zoom.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_construction.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_types.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/weapons/weapons2.dm
Labels: Fix

#891 Atmospherics Standardization Effort Part 1 - Jeppison
  _maps/map_files/Jeppison/Jeppison2.dmm
Labels: Map Edit, Tweak

#893 SGV Aetherwhisp -> Normal Round Mode
  _maps/aetherwhisp.json
Labels: Map Edit, Tweak

#855 Overhauls the SSV Hammurabi to be Monstermos compliant and makes declaring war ops work.
  _maps/map_files/PVP/Hammurabi.dmm
  code/game/atoms.dm
Labels: Fix, Map Edit

#897 More asteroids honk
  _maps/map_files/Mining/nsv13/ruins/mining10.dmm
  _maps/map_files/Mining/nsv13/ruins/mining11.dmm
  _maps/map_files/Mining/nsv13/ruins/mining12.dmm
  _maps/map_files/Mining/nsv13/ruins/mining13.dmm
  _maps/map_files/Mining/nsv13/ruins/mining14.dmm
  _maps/map_files/Mining/nsv13/ruins/mining15.dmm
  _maps/map_files/Mining/nsv13/ruins/mining16.dmm
  _maps/map_files/Mining/nsv13/ruins/mining17.dmm
  _maps/map_files/Mining/nsv13/ruins/mining18.dmm
  _maps/map_files/Mining/nsv13/ruins/mining19.dmm
  _maps/map_files/Mining/nsv13/ruins/mining2.dmm
  _maps/map_files/Mining/nsv13/ruins/mining20.dmm
  _maps/map_files/Mining/nsv13/ruins/mining21.dmm
  _maps/map_files/Mining/nsv13/ruins/mining22.dmm
  _maps/map_files/Mining/nsv13/ruins/mining23.dmm
  _maps/map_files/Mining/nsv13/ruins/mining24.dmm
  _maps/map_files/Mining/nsv13/ruins/mining25.dmm
  _maps/map_files/Mining/nsv13/ruins/mining26.dmm
  _maps/map_files/Mining/nsv13/ruins/mining27.dmm
  _maps/map_files/Mining/nsv13/ruins/mining28.dmm
  _maps/map_files/Mining/nsv13/ruins/mining29.dmm
  _maps/map_files/Mining/nsv13/ruins/mining30.dmm
  _maps/map_files/Mining/nsv13/ruins/mining7.dmm
  _maps/map_files/Mining/nsv13/ruins/mining8.dmm
  _maps/map_files/Mining/nsv13/ruins/mining9.dmm
  nsv13/code/modules/mining/asteroid.dm
Labels: Feature, Map Edit, Tweak

#900 Makes pdc/flak ammo able to be reinserted into their respective ammo boxes
  nsv13/code/modules/munitions/ammunition/pdc_ammo.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/flak.dm
Labels: Fix

#901 Fighters 3.0
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/PVP/Hammurabi.dmm
  _maps/map_files/PVP/Hulk.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/jollysausage/todger.dmm
  code/game/objects/items/stacks/sheets/glass.dm
  nsv13.dme
  nsv13/code/_DEFINES/components.dm
  nsv13/code/controllers/subsystem/processing/overmap.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/game/objects/structures/munitions_closets.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/client/zoom.dm
  nsv13/code/modules/munitions/ammunition/cannon_ammo.dm
  nsv13/code/modules/overmap/aim_helper.dm
  nsv13/code/modules/overmap/boarding/boarding.dm
  nsv13/code/modules/overmap/fighters/construction.dm
  nsv13/code/modules/overmap/fighters/countermeasures.dm
  nsv13/code/modules/overmap/fighters/escapepod.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/fighters/fighters2.dm
  nsv13/code/modules/overmap/fighters/fighters_build.dm
  nsv13/code/modules/overmap/fighters/fighters_components.dm
  nsv13/code/modules/overmap/fighters/fighters_launcher.dm
  nsv13/code/modules/overmap/fighters/fuel_tank.dm
  nsv13/code/modules/overmap/fighters/heavy.dm
  nsv13/code/modules/overmap/fighters/heavy_build.dm
  nsv13/code/modules/overmap/fighters/light.dm
  nsv13/code/modules/overmap/fighters/light_build.dm
  nsv13/code/modules/overmap/fighters/utility.dm
  nsv13/code/modules/overmap/fighters/utility_build.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/code/modules/overmap/weapons/damage.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/code/modules/overmap/weapons/weapons2.dm
  nsv13/icons/obj/ammo.dmi
  nsv13/icons/obj/custom_closet.dmi
  nsv13/icons/obj/fighter_components.dmi
  nsv13/icons/overmap/nanotrasen/carrier.dmi
  nsv13/icons/overmap/nanotrasen/carrier_mining.dmi
  nsv13/icons/overmap/nanotrasen/fighter.dmi
  nsv13/icons/overmap/nanotrasen/heavy_fighter.dmi
  nsv13/icons/overmap/syndicate/syn_raptor.dmi
  nsv13/icons/overmap/syndicate/syn_viper.dmi
  tgui/package.json
  tgui/packages/tgui/interfaces/FighterControls.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Feature, Map Edit, UI

#887 groundwork: repair procs
  nsv13/code/modules/overmap/armour/armour_quadrant.dm
Labels: Administration, Feature

#904 Update Tycoon2.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Fix, Map Edit

#905 Adds a dectective spawnpoint on the jeppison
  _maps/map_files/Jeppison/Jeppison1.dmm
Labels: Map Edit
