Repository BeeStation/NSV13, pull requests merged in 2020-04, with the labels that each got.

#449 Vago Webmap
  _maps/vago.json
Labels: Feature, Fix, Map Edit

#378 Munitions construction and mapping fixes
  nsv13/code/modules/munitions/munitions_computer.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/railgun.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/railgun_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher_construction.dm
Labels: Active Test Merge, Feature, Fix

#454 Removes nostromo from the name choices for the main ship
  strings/station_names.txt
Labels: Fix, Removal

#421 Disco inferno P1
  _maps/map_files/Enterprise/Enterprise1.dmm
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  code/_onclick/hud/screen_objects.dm
  code/game/mecha/combat/durand.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/projectiles/projectile.dm
  code/modules/shuttle/shuttle.dm
  icons/obj/projectiles.dmi
  nsv13.dme
  nsv13/_DEFINES/overmap.dm
  nsv13/code/_DEFINES/components.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/game/objects/structures/barricade.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/munitions/ammunition/gauss_ammo.dm
  nsv13/code/modules/munitions/ammunition/pdc_ammo.dm
  nsv13/code/modules/munitions/ammunition/railgun_ammo.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_types.dm
  nsv13/code/modules/munitions/munitions_computer.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/flak.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_research.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/effects.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/goonstation/icons/effects/explosions/96x96.dmi
  nsv13/icons/obj/ammo.dmi
  nsv13/icons/obj/chairs.dmi
  nsv13/icons/obj/munitions.dmi
  nsv13/icons/obj/munitions_large.dmi
  nsv13/icons/obj/railgun.dmi
  nsv13/sound/effects/ship/contact.ogg
  nsv13/sound/effects/ship/flak/flak_fire.ogg
  nsv13/sound/effects/ship/flak/flakhit1.ogg
  nsv13/sound/effects/ship/flak/flakhit2.ogg
  nsv13/sound/effects/ship/flak/flakhit3.ogg
  nsv13/sound/effects/ship/flak/nukehit.ogg
  nsv13/sound/effects/ship/gauss.ogg
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/dradis.ract
  tgui/src/interfaces/ftl_computer.ract
  tgui/src/interfaces/gauss_dispenser.ract
  tgui/src/interfaces/gauss_gun.ract
  tgui/src/interfaces/munitions_computer.ract
  tgui/src/interfaces/tactical.ract
  tgui/src/styles/dradis.styl
Labels: Map Edit, Sprites, UI

#423 [READY] Map fixer
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Mining/nsv13/FOB_Shuttle.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/Vago/vagodeck2.dmm
Labels: Feature, Fix, Map Edit, Needs Review, Tweak

#418 Resolve 416 "Cargo impossible bounties": Disable Mining Bounties
  code/modules/cargo/bounty.dm
Labels: Tweak

#451 Introduces HUD images for NSV roles
  code/modules/jobs/access.dm
  icons/mob/hud.dmi
Labels: Fix, Sprites

#470 Actually fix MaA headset
  nsv13/code/game/objects/items/munitions_items.dm
Labels: Fix

#475 Removal of pointless offensive slang
  _maps/RandomZLevels/caves.dmm
  code/modules/hydroponics/hydroponics.dm
Labels: Map Edit, Removal

#455 Fix tgui vulnerability hopefully
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/package-lock.json
  tgui/package.json
Labels: Fix, UI, security

#452 New Directional Signs
  code/game/objects/structures/signs/signs_maps.dm
  icons/obj/decals.dmi
Labels: Sprites

#487 Bay12 Shutter Sprites
  nsv13/game/custom_airlocks.dm
  nsv13/icons/obj/machinery/doors/shutters.dmi
Labels: Feature

#467 Adds AI zup and zdown sprites
  code/modules/mob/mob_movement.dm
  icons/mob/screen_ai.dmi
Labels: Active Test Merge, Feature, Sprites

#386 [Ready] Pvp gamemode
  _maps/map_files/PVP/Hammurabi.dmm
  _maps/map_files/PVP/Hulk.dmm
  _maps/map_files/Vago/overmap.dmm
  code/__DEFINES/maps.dm
  code/__DEFINES/nsv13.dm
  code/__DEFINES/role_preferences.dm
  code/controllers/subsystem/mapping.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/antagonists/_common/antag_spawner.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/gamemodes/pvp/pvp.dm
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/game/areas.dm
  nsv13/icons/overmap/syndicate/syn_light_cruiser.dmi
  nsv13/icons/overmap/syndicate/syn_raptor.dmi
  nsv13/icons/overmap/syndicate/syn_viper.dmi
  tgui/assets/tgui.css
  tgui/assets/tgui.js
Labels: Feature, Map Edit, Needs Review, Stale, UI

#502 [s]Fix for admins being able to view a system's file-tree (#1531)
  code/__HELPERS/files.dm
  code/modules/admin/verbs/getlogs.dm
Labels: FUCK, security

#479 Remove pointlessly excessive LRP spray
  code/game/objects/items/crayons.dm
Labels: Removal

#504 Vago Fixes Issue #496 and Issue #497
  _maps/map_files/Vago/vagodeck2.dmm
  _maps/vago.json
Labels: Fix, Map Edit, Needs Test Merge

#507 Adds support for defining preset tags for issues reported mid-game.
  code/controllers/configuration/entries/general.dm
  config/config.txt
  interface/interface.dm
Labels: Code Improvement, Config Update

#465 [Balance] SHIP FIGHTER, SHIP FIGHTER, WHERE WILL HE BOMB???
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Mining/nsv13/nostromo.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  code/modules/research/machinery/protolathe.dm
  icons/obj/computer.dmi
  nsv13.dme
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/fighters/control_console.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/fighters/tug.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/code/modules/vehicles/_vehicle.dm
  nsv13/code/modules/vehicles/hardpoint.dm
  nsv13/code/modules/vehicles/presets.dm
  nsv13/icons/effects/beam.dmi
  nsv13/icons/obj/vehicles.dmi
  nsv13/icons/obj/vehicles32.dmi
  nsv13/sound/effects/tyres1.ogg
  nsv13/sound/effects/tyres2.ogg
  nsv13/sound/vehicles/tug_engine.ogg
  tgui/assets/tgui.js
  tgui/src/interfaces/car_hardpoints.ract
  tgui/src/interfaces/fighter_controller.ract
  tgui/src/interfaces/fighter_controls.ract
  tgui/src/interfaces/fighter_tug.ract
Labels: Active Test Merge, Feature, I dead please restart, Map Edit, Removal, Sprites, UI, VIBE CHECK

#453 Oversight repair of a specific FUN verb.
  code/modules/admin/verbs/randomverbs.dm
Labels: Fix, Upstream Issue

#515 Enables dreamchecker and fixes detected errors
  Dockerfile
  SpacemanDMM.toml
  code/__HELPERS/roundend.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/weather.dm
  code/datums/components/riding.dm
  code/datums/components/wet_floor.dm
  code/datums/datum.dm
  code/datums/wires/_wires.dm
  code/game/data_huds.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/newscaster.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/RCL.dm
  code/game/sound.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/antagonists/abductor/machinery/experiment.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/plumbing/ducts.dm
  code/modules/power/apc.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/vending/_vending.dm
  dependencies.sh
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/radar.dm
Labels: Code Improvement, National Debt, Priority: High, dependencies

#476 Basic fix to keep linking to outer space z working.
  _maps/enterprise.json
  _maps/hammerhead.json
  code/__DEFINES/maps.dm
Labels: Fix, Map Edit

#477 Specific bridge staff radio
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  icons/obj/radio.dmi
  nsv13.dme
  nsv13/code/game/objects/items/bridge_items.dm
  nsv13/code/modules/jobs/job_types/bridge.dm
Labels: Feature, Sprites, Tweak

#513 Big Scary Map Updates
  _maps/_basemap.dm
  _maps/map_files/Aegis/aegis1.dmm
  _maps/map_files/Aegis/aegis2.dmm
  _maps/map_files/Aegis/aegis3.dmm
  _maps/map_files/Enterprise/Enterprise1.dmm
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/NSV Storage/NSV_Taojhug.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/Vago/vagodeck2.dmm
  _maps/map_files/Valkyrie/Valkyrie1.dmm
  _maps/map_files/Valkyrie/Valkyrie2.dmm
  _maps/map_files/Valkyrie/Valkyrie3.dmm
  _maps/nsv_taojhug.dm
  _maps/nsv_taojhug.json
  _maps/shuttles/cargo_hammerhead.dmm
  _maps/valkyrie.dm
  _maps/valkyrie.json
  nsv13/game/areas.dm
Labels: Feature, Fix, Map Edit, Removal, Tweak, VIBE CHECK

#527 Delete Redstone wires
  code/modules/power/cable.dm
  code/modules/power/power.dm
  nsv13.dme
  nsv13/code/modules/power/autowire.dm
Labels: Code Improvement

#524 Fixing more Vago bugs
  _maps/map_files/Vago/vagodeck2.dmm
Labels: Fix, Map Edit, Priority: High

#517 Quick Map hotfix
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Feature, Map Edit

#516 Implements polygon SAT collision detection on the overmap [Qwer2D]
  .github/CODEOWNERS
  code/modules/projectiles/projectile.dm
  nsv13.dme
  nsv13/code/_HELPERS/overmap.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/collision/collision_helpers.dm
  nsv13/code/modules/collision/collision_response.dm
  nsv13/code/modules/collision/shape.dm
  nsv13/code/modules/collision/vector2d.dm
  nsv13/code/modules/mining/asteroid.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/flak.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/fighters/tug.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/code/modules/projectiles/projectile.dm
  nsv13/icons/overmap/default.dmi
  nsv13/icons/overmap/stellarbodies/asteroidfield/icefield/asteroid_ice_128x.dmi
  nsv13/icons/overmap/stellarbodies/asteroidfield/icefield/asteroid_ice_192x.dmi
  nsv13/icons/overmap/stellarbodies/asteroidfield/icefield/asteroid_ice_96x.dmi
Labels: FUCK, Fix, GitHub, Literal Goddamn Heresy, VIBE CHECK

#541 fixes wierd chemistry access issue (Fixes #540)
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Hammerhead, Map Edit

#533 Fixes vehicles not being able to go down z-levels
  code/game/mecha/mecha.dm
  code/modules/vehicles/cars/car.dm
Labels: Fix

#549 Travis & Rust_g update (#1651)
  Dockerfile
  dependencies.sh
Labels: BYOND Issue, Fix
