Repository BeeStation/NSV13, pull requests merged in 2020-07, with the labels that each got.

#686 Jeppison Monstermos Compliance
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/Jeppison/Jeppison2.dmm
Labels: Map Edit, Priority: High, Tweak

#703 Fob and Roci monstermos compliance
  _maps/map_files/Mining/nsv13/FOB_Shuttle.dmm
  _maps/map_files/Mining/nsv13/Rocinante.dmm
Labels: Map Edit, Tweak

#698 Meteor time
  _maps/map_files/Mining/nsv13/ruins/mining5.dmm
  _maps/map_files/Mining/nsv13/ruins/mining7.dmm
Labels: Balance/Rebalance, Feature, Map Edit

#697 Skynet 2!
  config/config.txt
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/ai_interiors.dm
  nsv13/code/modules/overmap/boarding/boarding.dm
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/code/modules/overmap/weapons/weapons2.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/icons/overmap/syndicate/assault_cruiser.dmi
  nsv13/icons/overmap/syndicate/gunboat.dmi
  nsv13/icons/overmap/syndicate/marine_frigate.dmi
  nsv13/icons/overmap/syndicate/submarine.dmi
  nsv13/icons/overmap/syndicate/syn_carrier.dmi
  nsv13/icons/overmap/syndicate/syn_light_cruiser.dmi
  nsv13/icons/overmap/syndicate/syn_patrol_cruiser.dmi
  tgui/packages/tgui/components/Map.js
  tgui/packages/tgui/interfaces/Dradis.js
  tgui/packages/tgui/interfaces/FighterControls.js
  tgui/packages/tgui/interfaces/Starmap.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Config Update, UI

#704 Whisp FOB Monstermos compliance
  _maps/map_files/Mining/nsv13/Whisp_FOB.dmm
Labels: Map Edit, Tweak

#656 Adds a lazy version of turbolifts (sorry Ike)
  _maps/map_files/debug/multiz.dmm
  _maps/multiz_debug.json
  nsv13.dme
  nsv13/game/lazylift.dm
  nsv13/icons/obj/computers.dmi
  nsv13/sound/effects/lift/GeorgeForse-rick.ogg
  nsv13/sound/effects/lift/bonk.ogg
  nsv13/sound/effects/lift/doorsclosing.ogg
  nsv13/sound/effects/lift/doorsopening.ogg
  nsv13/sound/effects/lift/elevator_end.ogg
  nsv13/sound/effects/lift/elevator_loop.ogg
  nsv13/sound/effects/lift/elevator_start.ogg
  nsv13/sound/effects/lift/elevatormusic.ogg
  nsv13/sound/effects/lift/emagged.ogg
  nsv13/sound/effects/lift/goingdown.ogg
  nsv13/sound/effects/lift/goingup.ogg
  nsv13/sound/effects/lift/lift_end.ogg
  nsv13/sound/effects/lift/lift_loop.ogg
  nsv13/sound/effects/lift/lift_start.ogg
  nsv13/sound/effects/lift/mindthegap.ogg
  nsv13/sound/effects/lift/tchaikovsky.ogg
  nsv13/sound/weapons/tazer.ogg
Labels: Feature, Map Edit

#707 Space battleship vago
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/Jeppison/Jeppison2.dmm
  icons/obj/projectiles.dmi
  nsv13.dme
  nsv13/_DEFINES/overmap.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/munitions/ammunition/pdc_ammo.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/mac.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/railgun.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/aim_helper.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/fighters/heavy.dm
  nsv13/code/modules/overmap/fighters/utility.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/code/modules/overmap/weapons/weapons2.dm
  nsv13/game/lazylift.dm
  nsv13/icons/obj/munitions.dmi
  nsv13/icons/obj/railgun.dmi
  nsv13/sound/effects/ship/afterburner.ogg
  nsv13/sound/effects/ship/mac_fire.ogg
  nsv13/sound/effects/ship/mac_ready.ogg
  nsv13/sound/effects/ship/railgun_fire.ogg
  nsv13/sound/effects/ship/railgun_ready.ogg
  nsv13/sound/effects/ship/tri_mount_fire.ogg
  tgui/packages/tgui/components/Map.js
  tgui/packages/tgui/interfaces/Astrometrics.js
  tgui/packages/tgui/interfaces/Dradis.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/Map.scss
Labels: Feature, Map Edit, Sprites, UI

#715 Doesn't add a new map
  _maps/map_files/Jeppison/Jeppison2.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Tycoon/job_changes.dm
  _maps/tycoon.dm
  _maps/tycoon.json
  code/_DEFINES/NSV13_defines.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/multiz.dm
  config/maps.txt
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/objects/structures/catwalk.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/components.dm
  nsv13/code/modules/overmap/fighters/tug.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/code/modules/security_levels/security_levels.dm
  nsv13/code/modules/vehicles/hardpoint.dm
  nsv13/game/custom_turfs.dm
  nsv13/game/lazylift.dm
  nsv13/icons/effects/mapping_helpers.dmi
  nsv13/icons/obj/decals.dmi
  nsv13/icons/obj/inflatable.dmi
  nsv13/icons/obj/smooth_structures/catwalk_plated.dmi
  nsv13/icons/overmap/nanotrasen/battlecruiser.dmi
  nsv13/icons/turf/decals.dmi
  nsv13/icons/turf/floors.dmi
  tgui/packages/tgui/interfaces/GaussDispenser.js
  tgui/packages/tgui/interfaces/SystemManager.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Config Update, Map Edit, UI

#724 Travis and tgui
  _maps/multiz_debug.json
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, Map Edit, UI

#722 Grug now legally able to fly ship through squad mechanics
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Jeppison/job_changes.dm
  _maps/map_files/Tycoon/Tycoon2.dmm
  code/modules/jobs/access.dm
  code/modules/mob/login.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/general_quarters/squad.dm
  nsv13/code/game/general_quarters/squad_items.dm
  nsv13/code/game/general_quarters/squad_management.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/types.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/game/custom_turfs.dm
  nsv13/icons/obj/storage.dmi
Labels: Feature, Map Edit, Tweak

#719 Audible scream for lizardpeople
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/lizard/lizard_scream.ogg
Labels: Sound

#730 (probably) fixes msay bug
  code/modules/client/client_procs.dm
Labels: Administration

#726 Science stuff
  _maps/map_files/Tycoon/Tycoon1.dmm
  nsv13.dme
  nsv13/code/game/general_quarters/squad.dm
  nsv13/code/modules/overmap/fighters/escapepod.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/shieldgen.dm
  nsv13/code/modules/overmap/weapons/damage.dm
  nsv13/icons/obj/machinery/shieldgen.dmi
  nsv13/icons/obj/shield_components.dmi
  nsv13/icons/overmap/shieldhit.dmi
  nsv13/sound/effects/ship/damage/shield_hit.ogg
  nsv13/sound/effects/ship/damage/shield_hit2.ogg
  tgui/packages/tgui/interfaces/ShieldGenerator.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Map Edit, UI

#737 Aerwhisp's stuff
  code/datums/map_config.dm
  icons/mob/accessories.dmi
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/jobs/faction.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/phaser.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/icons/mob/accessories.dmi
  nsv13/icons/mob/actions/actions_spells.dmi
  nsv13/icons/mob/uniform.dmi
  nsv13/icons/obj/clothing/accessories.dmi
  nsv13/icons/obj/clothing/uniforms.dmi
  nsv13/icons/obj/energy_weapons.dmi
  nsv13/icons/obj/railgun.dmi
  nsv13/sound/effects/ship/burst_phaser.ogg
  nsv13/sound/effects/ship/burst_phaser2.ogg
  nsv13/sound/effects/ship/phaser.ogg
  nsv13/sound/effects/ship/phaser_adjust.ogg
  nsv13/sound/effects/ship/phaser_select.ogg
  tgui/packages/tgui/interfaces/EnergyWeapons.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Sprites, UI

#731 idedplsnerf
  nsv13/game/custom_guns.dm
Labels: Balance/Rebalance

#747 Research points now work.
  code/__DEFINES/research.dm
Labels: Fix, Priority: High

#748 fix MaA headset post-re-rebase
  nsv13/code/game/objects/items/munitions_items.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
Labels: Fix

#639 NSV Jolly Sausage: Hammerhead 2
  _maps/jollysausage.dm
  _maps/jollysausage.json
  _maps/map_files/Jeppison/job_changes.dm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/jollysausage/job_changes.dm
  _maps/map_files/jollysausage/todger.dmm
  _maps/shuttles/cargo_sausage.dmm
  code/modules/jobs/map_changes/map_changes.dm
  config/admins.txt
  config/maps.txt
  nsv13.dme
  nsv13/code/datums/shuttles.dm
  nsv13/code/game/area/hammerhead.dm
  nsv13/code/game/objects/items/storage_items.dm
  nsv13/code/game/turfs/wall.dm
  nsv13/game/areas.dm
  nsv13/game/custom_airlocks.dm
Labels: Config Update, Feature, Map Edit, Needs Test Merge

#729 Replying to Admin PM claims Admin PM
  code/modules/admin/verbs/adminpm.dm
Labels: Administration, Needs Test Merge

#749 shronks
  _maps/map_files/Aegis/aegis1.dmm
  _maps/map_files/Aegis/aegis2.dmm
  _maps/map_files/Aegis/aegis3.dmm
  _maps/map_files/Enterprise/Enterprise1.dmm
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/Jeppison/Jeppison2.dmm
  _maps/map_files/Mining/nsv13/Rocinante.dmm
  _maps/map_files/Mining/nsv13/Whisp_FOB.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid4.dmm
  _maps/map_files/Mining/nsv13/ruins/mining6.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/jollysausage/job_changes.dm
  _maps/map_files/jollysausage/todger.dmm
  code/modules/jobs/map_changes/map_changes.dm
Labels: Map Edit, Priority: High

#687 Adds munitions lockers and unique munitions headset sprites
  nsv13.dme
  nsv13/code/game/objects/items/munitions_items.dm
  nsv13/code/game/objects/structures/custom_closets.dm
  nsv13/code/game/objects/structures/munitions_closets.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/jobs/job_types/air_traffic_controller.dm
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/jobs/job_types/fighter_technician.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
  nsv13/icons/obj/custom_closet.dmi
  nsv13/icons/obj/custom_closets.dmi
  nsv13/icons/obj/custom_radio.dmi
Labels: Feature, Fix, Refactor, Removal, Sprites

#750 Master js22141244213
  _maps/map_files/jollysausage/todger.dmm
  nsv13/icons/obj/window.dmi
Labels: Fix, Map Edit

#754 re-adds munition HUDs
  icons/mob/hud.dmi
Labels: Active Test Merge, Fix, Sprites

#753 tycoon hotfix
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  nsv13.dme
Labels: Fix, Map Edit

#752 Add munitions jobs to ID card program
  code/modules/modular_computers/file_system/programs/card.dm
Labels: Feature

#746 Jeppison QOL Changes
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/Jeppison/Jeppison2.dmm
Labels: Map Edit, Tweak

#770 Probably maybe fixes a possible memory leak with Aetherwhisp6
  nsv13/game/lazylift.dm
Labels: Fix

#763 adds munitions access to id console
  code/game/machinery/computer/card.dm
  code/modules/modular_computers/file_system/programs/card.dm
Labels: Feature

#764 Fix master at arms welding protection glasses
  nsv13/code/modules/jobs/job_types/bridge.dm
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/jobs/job_types/master_at_arms.dm
Labels: Fix

#771 Jeppison hangar mods
  _maps/map_files/Jeppison/Jeppison1.dmm
  code/game/machinery/computer/camera.dm
Labels: Fix, Map Edit

#751 New fighter pilot suit sprite + det outfit
  code/modules/jobs/job_types/detective.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/icons/mob/head.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/obj/clothing/suits.dmi
Labels: Feature
