Repository BeeStation/NSV13, pull requests merged in 2020-02, with the labels that each got.

#304 Stormdrive Update 2
  _maps/map_files/Aegis/aegis3.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Valkyrie/Valkyrie2.dmm
  code/modules/cargo/packs.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/game/lore_terminal.dm
  nsv13/icons/obj/machinery/reactor_parts.dmi
Labels: Administration, Balance/Rebalance, Feature, Fix, Map Edit, Refactor, Sprites, VIBE CHECK

#316 Fixes #314
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Fix, Map Edit

#310 Pucegang national debt
  code/__DEFINES/economy.dm
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/economy.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/emt.dm
  code/modules/jobs/jobs.dm
  code/modules/modular_computers/file_system/programs/card.dm
  config/jobs.txt
  nsv13.dme
  nsv13/code/game/machinery/munitions_machinery.dm
  nsv13/code/game/objects/items/munitions_items.dm
  nsv13/code/game/objects/structures/munitions_closets.dm
  nsv13/code/modules/jobs/job_types/air_traffic_controller.dm
  nsv13/code/modules/jobs/job_types/bridge.dm
  nsv13/code/modules/jobs/job_types/fighter_pilot.dm
  nsv13/code/modules/jobs/job_types/master_at_arms.dm
  nsv13/code/modules/jobs/job_types/munitions_technician.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/icons/obj/custom_closet.dmi
  tgui/assets/tgui.js
  tgui/src/interfaces/ntos_card.ract
Labels: Code Improvement, Config Update, Feature, Fix, Refactor, Sprites, Tweak, UI

#308 Weapons Rework
  _maps/map_files/Aegis/aegis3.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Mining/nsv13/nostromo.dmm
  _maps/map_files/Valkyrie/Valkyrie3.dmm
  code/__DEFINES/components.dm
  code/__DEFINES/nsv13.dm
  code/datums/components/twohanded.dm
  code/datums/martial/sleeping_carp.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/RCL.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/sharpener.dm
  code/game/objects/items/singularityhammer.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/fireaxe.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/surgery/advanced/revival.dm
  nsv13.dme
  nsv13/_DEFINES/overmap.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/munitions/ammunition/pdc_ammo.dm
  nsv13/code/modules/munitions/ammunition/railgun_ammo.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_construction.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_parts.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_types.dm
  nsv13/code/modules/munitions/munitions.dm
  nsv13/code/modules/munitions/munitions_computer.dm
  nsv13/code/modules/munitions/munitions_trolley.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/railgun.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/railgun_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_maintenance.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_parts.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_research.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/game/custom_materials.dm
  nsv13/icons/obj/items_and_weapons.dmi
  nsv13/icons/obj/munitions.dmi
  nsv13/icons/obj/railgun.dmi
Labels: FUCK, Feature, Fix, Map Edit, Refactor, Removal, Sprites, VIBE CHECK

#300 Ships vibe check PT 1 - Fighters + National debt
  _maps/map_files/Hammerhead/Hammerhead.dmm
  code/__DEFINES/profile.dm
  code/__DEFINES/sound.dm
  icons/obj/objects.dmi
  nsv13.dme
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/jobs/job_types/air_traffic_controller.dm
  nsv13/code/modules/overmap/ai.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/overmap/fighters/fighters_components.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/weapons.dm
  nsv13/code/modules/reagents/chemistry/recipes.dm
  nsv13/code/modules/research/designs/smelting_designs.dm
  nsv13/game/custom_items.dm
  nsv13/game/custom_turfs.dm
  nsv13/game/lore_terminal.dm
  nsv13/icons/effects/beam.dmi
  nsv13/icons/obj/custom_stack_objects.dmi
  nsv13/icons/objects/lighting.dmi
  nsv13/icons/overmap/nanotrasen/carrier.dmi
  nsv13/icons/overmap/nanotrasen/escape_pod.dmi
  nsv13/icons/overmap/nanotrasen/fighter.dmi
  nsv13/icons/overmap/nanotrasen/heavy_cruiser.dmi
  nsv13/icons/overmap/nanotrasen/light_cruiser.dmi
  nsv13/icons/overmap/nanotrasen/missile_cruiser.dmi
  nsv13/icons/overmap/nanotrasen/patrol_cruiser.dmi
  nsv13/icons/overmap/nanotrasen/prototype_cruiser.dmi
  nsv13/icons/overmap/thrust_vector.dmi
  nsv13/sound/effects/fighters/BRRTTTTTT.wav
  nsv13/sound/effects/fighters/apu_loop.ogg
  nsv13/sound/effects/fighters/apu_start.ogg
  nsv13/sound/effects/fighters/autocannon.ogg
  nsv13/sound/effects/fighters/autocannon_start.ogg
  nsv13/sound/effects/fighters/being_locked.ogg
  nsv13/sound/effects/fighters/canopy.ogg
  nsv13/sound/effects/fighters/canopy.wav
  nsv13/sound/effects/fighters/cockpit.ogg
  nsv13/sound/effects/fighters/ejecting.ogg
  nsv13/sound/effects/fighters/launchwarning.ogg
  nsv13/sound/effects/fighters/locked.ogg
  nsv13/sound/effects/fighters/locking.ogg
  nsv13/sound/effects/fighters/magcat.ogg
  nsv13/sound/effects/fighters/master_caution.ogg
  nsv13/sound/effects/fighters/powerswitch.ogg
  nsv13/sound/effects/fighters/refuel.ogg
  nsv13/sound/effects/fighters/startup.ogg
  nsv13/sound/effects/fighters/switch.ogg
  nsv13/sound/effects/fighters/warmup.ogg
  tgui/assets/tgui.js
  tgui/src/interfaces/aviation_fuel.ract
  tgui/src/interfaces/fighter_controls.ract
Labels: Feature, Fix, Map Edit, Sprites, UI, VIBE CHECK

#329 Fixes the Captain PDA
  code/modules/jobs/job_types/captain.dm
Labels: Fix

#318 Finished two-handed component
  code/__DEFINES/components.dm
  code/datums/components/twohanded.dm
  code/datums/martial/sleeping_carp.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/RCL.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/sharpener.dm
  code/game/objects/items/singularityhammer.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/fireaxe.dm
  code/game/objects/structures/flora.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/surgery/advanced/revival.dm
  nsv13/code/modules/overmap/fighters/fighters_components.dm
Labels: Refactor

#332 Fixes IPC parts
  code/game/mecha/mech_fabricator.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Fix

#336 Fixed Bridge Staff name in corporate ranks
  config/ranks/corporate.txt
Labels: Config Update, Fix

#327 Weapons PR fixes - machine frame runtime, startup admin messages
  code/game/machinery/constructable_frame.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc.dm
Labels: Fix

#337 Fix: use of overmap camera takes away mob's ability to move
  nsv13/code/modules/overmap/camera.dm
Labels: FUCK, Fix, Priority: High

#338 Finger Snapping
  code/modules/mob/living/emote.dm
  nsv13/sound/misc/fingersnap1.ogg
  nsv13/sound/misc/fingersnap2.ogg
Labels: Feature, Sound

#343 Fixes Monotiles
  _maps/map_files/Mining/nsv13/nostromo.dmm
  code/game/turfs/simulated/floor/misc_floor.dm
  icons/turf/floors.dmi
Labels: Fix, Map Edit, Sprites

#345 Fixes #26
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  nsv13/game/custom_items.dm
  nsv13/icons/mob/inhands/weapons/melee_lefthand.dmi
  nsv13/icons/mob/inhands/weapons/melee_righthand.dmi
Labels: Sprites

#323 SGV Enterprise: The Aircraft Carrier
  _maps/enterprise.dm
  _maps/enterprise.json
  _maps/map_files/Enterprise/Enterprise1.dmm
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/map_files/Enterprise/job_changes.dm
  _maps/map_files/Enterprise/overmap.dmm
  _maps/shuttles/turbolifts/nsv/debug_enterprise.dmm
  code/__DEFINES/components.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/misc.dm
  code/datums/map_config.dm
  code/game/atoms.dm
  code/game/objects/structures/stairs.dm
  code/game/turfs/turf.dm
  code/modules/power/gravitygenerator.dm
  config/maps.txt
  icons/obj/stairs.dmi
  nsv13.dme
  nsv13/code/datums/holocall.dm
  nsv13/code/game/objects/effects/spawners/structure.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/fighters.dm
  nsv13/code/modules/turbolift/turbolift.dm
  nsv13/game/custom_airlocks.dm
  nsv13/game/custom_items.dm
  nsv13/game/custom_turfs.dm
  nsv13/goonstation/icons/obj/interior_window.dmi
  nsv13/goonstation/icons/turbolift_blast_door.dmi
  nsv13/icons/obj/drinks.dmi
  nsv13/icons/obj/machinery/doors/overlays_large.dmi
  nsv13/icons/obj/machinery/doors/turbolift.dmi
  nsv13/icons/obj/solgov_floor.dmi
  nsv13/icons/obj/solgov_logos.dmi
  nsv13/icons/obj/stairs_large.dmi
  nsv13/icons/overmap/effects.dmi
Labels: Config Update, Feature, Map Edit, Needs Test Merge, Sprites

#349 Byond ExTools Internal Tick Tracking
  byond-extools.dll
  code/__DEFINES/_tick.dm
  code/_globalvars/misc.dm
  code/controllers/master.dm
  code/game/world.dm
Labels: Fix, Refactor

#348 SGC Enterprise Followup
  _maps/map_files/Enterprise/Enterprise1.dmm
  _maps/map_files/Enterprise/Enterprise2.dmm
  _maps/shuttles/turbolifts/nsv/debug_enterprise.dmm
Labels: Fix, Map Edit
