Repository BeeStation/NSV13, pull requests merged in 2021-12, with the labels that each got.

#1714 Adds spaceborn quirk
  nsv13.dme
  nsv13/code/__DEFINES/traits.dm
  nsv13/code/datums/traits/neutral.dm
  nsv13/code/modules/mob/living/carbon/carbon.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/turbolift/lazylift.dm
Labels: Feature, Active Test Merge

#1730 Unscrungles the Fist of Sol
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Feature, Balance/Rebalance, Active Test Merge

#1737 Adds syndicate access to munitions cargo packs
  nsv13/code/modules/cargo/packs.dm
Labels: Fix, Active Test Merge

#1747 Fixes AI bot control
  code/modules/mob/living/silicon/ai/ai.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/boarding/boarding.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/hull_plating.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/weapons/damage.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
Labels: Code Improvement, Fix, Active Test Merge

#1751 makes boardable_ship_types a global variable
  nsv13.dme
  nsv13/code/__DEFINES/ships.dm
  nsv13/code/_globalvars/ships.dm
  nsv13/code/game/gamemodes/overmap/objectives/board_ship.dm
Labels: Code Improvement

#1712 overmap optimizations and G-LOC tweak
  nsv13/code/modules/overmap/overmap.dm
Labels: Code Improvement, Active Test Merge

#1749 More Asteroids
  _maps/map_files/Mining/nsv13/asteroids/asteroid10.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid11.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid12.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid13.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid14.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid15.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid16.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid17.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid18.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid19.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid20.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid5.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid6.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid7.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid8.dmm
  _maps/map_files/Mining/nsv13/asteroids/asteroid9.dmm
  nsv13/code/modules/mining/asteroid.dm
Labels: enhancement, Active Test Merge, mapping

#1750 Adds a stationary AI flag & goal
  code/__DEFINES/nsv13.dm
  code/_globalvars/bitfields.dm
  nsv13/code/__DEFINES/skynet.dm
  nsv13/code/modules/overmap/ai-skynet.dm
Labels: Active Test Merge, Overmap

#1626 fix, refactor and optimization value package
  nsv13.dme
  nsv13/code/__DEFINES/weapons.dm
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/_globalvars/lists/weapons.dm
  nsv13/code/datums/ai_laws/laws.dm
  nsv13/code/datums/components/missions.dm
  nsv13/code/datums/missions.dm
  nsv13/code/game/area/hammurabi.dm
  nsv13/code/game/gamemodes/bloodling.dm
  nsv13/code/game/gamemodes/overmap/armada.dm
  nsv13/code/game/gamemodes/overmap/objectives/tickets.dm
  nsv13/code/game/gamemodes/pvp/items.dm
  nsv13/code/game/gamemodes/pvp/pvp.dm
  nsv13/code/game/gamemodes/pvp/roles.dm
  nsv13/code/game/general_quarters/damage.dm
  nsv13/code/game/general_quarters/squad_items.dm
  nsv13/code/game/machinery/computer/_ship.dm
  nsv13/code/game/machinery/computer/munitions.dm
  nsv13/code/game/machinery/hologram.dm
  nsv13/code/modules/antagonists/bloodling.dm
  nsv13/code/modules/mob/mob.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/mac.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/railgun.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/automation.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_maintenance.dm
  nsv13/code/modules/overmap/aim_helper.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/shieldgen.dm
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/overmap/traders_items.dm
  nsv13/code/modules/overmap/weapons/damage.dm
  nsv13/code/modules/projectiles/projectile.dm
Labels: Code Improvement, Fix, Priority: High, Refactor, Needs Test Merge, Overmap, Fighters

#1726 Re-adds escape pods
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/game/general_quarters/dropship.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
Labels: enhancement, Active Test Merge, Fighters

#1766 Hybrid Railgun Fix
  nsv13/code/modules/munitions/ship_weapons/hybrid_weapons/hybrid_railgun.dm
Labels: Fix, Active Test Merge

#1764 Atlas Captain's Spare Safe Adjustment
  _maps/map_files/Atlas/atlas2.dmm
Labels: Balance/Rebalance, mapping, Atlas

#1752 Fixes AI interaction with modular computers
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/game/area/areas.dm
  nsv13/code/game/general_quarters/dropship.dm
Labels: Code Improvement, Fix, FUCK

#1758 Less Nuclear Option
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/templates/boarding/syndicate/destroyer.dmm
  _maps/templates/boarding/syndicate/nukefrigate.dmm
  nsv13.dme
  nsv13/code/_globalvars/ships.dm
  nsv13/code/game/general_quarters/damage.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_parts.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_types.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/factions.dm
  nsv13/code/modules/overmap/fleet_combat/dice_datum.dm
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/overmap/traders_items.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/code/modules/research/designs/munitions_designs.dm
  nsv13/code/modules/research/techweb/all_nsv_nodes.dm
  nsv13/icons/obj/munition_types.dmi
  nsv13/icons/obj/projectiles_nsv.dmi
Labels: Sprites, Balance/Rebalance, Refactor, Active Test Merge, Mass Map Change, mapping, Overmap, Munitions

#1755 Post Beebase Shrike Fixes
  _maps/map_files/Shrike/Shrike1.dmm
  _maps/map_files/Shrike/Shrike2.dmm
Labels: Active Test Merge, mapping, Shrike

#1770 Fix jukebuild change detection
  tools/build/build.js
Labels: tools
