Repository BeeStation/NSV13, pull requests merged in 2021-02, with the labels that each got.

#1217 Fixes the Rook. [READY]
  _maps/map_files/Mining/nsv13/Rook.dmm
Labels: Fix, Map Edit, Needs Review

#1224 Gladius SMES & APC connections [Ready]
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Gladius/Gladius2.dmm
Labels: Feature, Fix, Map Edit, Needs Review

#1206 Jeppison Newmuni Compatability [Ready]
  _maps/map_files/Jeppison/Jeppison1.dmm
  _maps/map_files/Jeppison/Jeppison2.dmm
Labels: Feature, Map Edit, Needs Review, Removal

#1222 Pirate Icon override
  nsv13/code/modules/overmap/types/spacepirates.dm
Labels: Fix

#1227 (Probably) fixes Search & Destroy AI goals
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/ai_interiors.dm
  nsv13/code/modules/overmap/overmap.dm
Labels: Code Improvement, Fix

#1242 Ladders + dirty gauss fix
  code/game/objects/structures/ladders.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
  nsv13/sound/effects/footstep/ladder1.ogg
  nsv13/sound/effects/footstep/ladder2.ogg
Labels: Balance/Rebalance, Fix, Sound

#1231 Fix for armour quadrants override
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types/miningships.dm
Labels: Fix

#1253 patching a hole.
  _maps/map_files/Jeppison/Jeppison1.dmm
Labels: Map Edit

#1252 [s] Fixes Fighters being reloadable from inside
  nsv13/code/modules/overmap/fighters/fighters2.dm
Labels: Active Test Merge, Fix

#1237 Armour Plate Regeneration
  nsv13/code/modules/overmap/components.dm
Labels: Balance/Rebalance

#1241 Skynet : The Tweakening
  code/game/machinery/doors/airlock.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/flak.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/vls.dm
  nsv13/code/modules/overmap/ai-skynet2.dm
  nsv13/code/modules/overmap/fighters/fighters_launcher.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/lance.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/overmap/types/syndicate.dm
Labels: Balance/Rebalance, Code Improvement, Feature, Tweak

#1199 Some AGCNR tweaks
  nsv13/code/modules/power/rbmk.dm
Labels: Fix, Needs Test Merge, Tweak
