Repository BeeStation/NSV13, pull requests merged in 2021-08, with the labels that each got.

#1554 Eclipse QOL pass
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Eclipse/Eclipse2.dmm
Labels: Needs Test Merge, mapping

#1548 Fixes assistant and officer job datum paths
  _maps/map_files/Eclipse/job_changes.dm
  code/modules/awaymissions/corpse.dm
  nsv13/code/game/general_quarters/squad2.dm
  nsv13/code/modules/jobs/job_types/marine/marine.dm
  nsv13/code/modules/jobs/job_types/marine/military_police.dm
Labels: Active Test Merge, Code Improvement, mapping

#1547 Fighter and UI Improvements
  nsv13/code/game/general_quarters/dropship.dm
  nsv13/code/game/general_quarters/dropship_types.dm
  nsv13/code/game/machinery/computer/tactical.dm
  nsv13/code/modules/overmap/boarding/harpoon.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/starmap.dm
  tgui/packages/tgui/interfaces/DeckGun.js
  tgui/packages/tgui/interfaces/FighterControls.js
  tgui/packages/tgui/interfaces/TacticalConsole.js
  tgui/public/tgui.bundle.js
Labels: Active Test Merge, Fighters, Overmap, TGUI-Changes

#1558 Updates Traders
  nsv13.dme
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/overmap/traders_items.dm
  nsv13/code/modules/research/designs/design_disks.dm
Labels: Fix, Active Test Merge, Overmap

#1562 Stops gauss from auto-firing
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/50Cal.dm
  nsv13/code/modules/overmap/overmap.dm
Labels: Active Test Merge, Munitions

#1559 NAC Feedback and other Combat QOL
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/50Cal.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/flak.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/phaser.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/overmap/types/solgov.dm
  nsv13/code/modules/overmap/types/spacepirates.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/sound/effects/ship/battleship_gun2.ogg
Labels: Code Improvement, Tweak, Balance/Rebalance, Sound, Active Test Merge, Overmap, Munitions

#1580 Hopefully fixes changelogs
  .github/workflows/comp_changelog.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/make_changelogs.yml
Labels: GitHub

#1546 Adds helmetcam capability to helmets
  _maps/map_files/Galactica/Galactica1.dmm
  code/game/machinery/computer/camera.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/silicon/ai/ai.dm
  nsv13.dme
  nsv13/code/game/general_quarters/squad_items.dm
  nsv13/code/game/general_quarters/squad_vendor.dm
  nsv13/code/modules/clothing/helmet_camera.dm
Labels: Feature, Code Improvement, Active Test Merge, mapping

#1565 AI Aiming Tweaks
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
Labels: Balance/Rebalance, Active Test Merge, Overmap

#1543 adds Hulljuice pack in cargo
  nsv13/code/modules/cargo/packs.dm
Labels: Feature, Active Test Merge

#1577 Eclipse MK2
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Eclipse/Eclipse2.dmm
Labels: Active Test Merge, mapping

#1467 Redoes naval artillery construction , allows deconstruction and upgrading of naval artillery
  code/game/objects/items/stacks/sheets/sheet_types.dm
  nsv13.dme
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_maintenance.dm
  nsv13/code/modules/research/designs/ship_weapon_designs.dm
Labels: enhancement, Active Test Merge, Munitions

#1585 Reordered asteroid research tech nodes
  nsv13/code/modules/mining/asteroid.dm
Labels: Balance/Rebalance, Active Test Merge

#1588 Moth's Enjoy Drinking Blood
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  nsv13.dme
  nsv13/code/datums/mood_events/nsv_events.dm
Labels: Feature, Active Test Merge

#1589 Munitions' inhand icons are no longer security.
  nsv13/icons/mob/inhands/backpack_lefthand.dmi
  nsv13/icons/mob/inhands/backpack_righthand.dmi
Labels: Sprites, Active Test Merge

#1593 Gauss gun runtime fix.
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
Labels: Fix, Active Test Merge

#1591 Conveyor no longer fucks with gauss/ moves more normally
  code/modules/recycling/conveyor2.dm
Labels: Fix, Active Test Merge

#1590 Gauss tweaks
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
Labels: Fix, Tweak, Active Test Merge, Munitions

#1601 Stops the code from complaining about compiling with 514.1557
  code/_compile_options.dm
Labels: I dead please restart
