Repository BeeStation/NSV13, pull requests merged in 2021-09, with the labels that each got.

#1566 Overmap Game Mode Framework
  code/__DEFINES/flags.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/roundend.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/datums/map_config.dm
  code/game/machinery/computer/communications.dm
  code/modules/admin/admin_verbs.dm
  nsv13.dme
  nsv13/code/__DEFINES/missions.dm
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/gamemodes/overmap/armada.dm
  nsv13/code/game/gamemodes/overmap/objectives/apnw_efficiency.dm
  nsv13/code/game/gamemodes/overmap/objectives/destroy_fleet.dm
  nsv13/code/game/gamemodes/overmap/objectives/perform_jumps.dm
  nsv13/code/game/gamemodes/overmap/objectives/system_defence_armada.dm
  nsv13/code/game/gamemodes/overmap/objectives/tickets.dm
  nsv13/code/game/gamemodes/overmap/patrol.dm
  nsv13/code/game/gamemodes/overmap/shakedown.dm
  nsv13/code/game/gamemodes/pvp/pvp.dm
  nsv13/code/modules/events/overmap/_overmap_event_handler.dm
  nsv13/code/modules/events/overmap/belt_rats.dm
  nsv13/code/modules/events/overmap/lone_hunter.dm
  nsv13/code/modules/jobs/faction.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/factions.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/starmap.dm
  nsv13/code/modules/overmap/types/miningships.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/overmap/types/solgov.dm
  tgui/packages/tgui/interfaces/OvermapGamemodeController.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Administration, VIBE CHECK, Active Test Merge, TGUI-Changes, Overmap

#1604 Addition of Munitions Banner
  icons/mob/inhands/equipment/banners_lefthand.dmi
  icons/mob/inhands/equipment/banners_righthand.dmi
  nsv13.dme
  nsv13/code/game/objects/items/religion.dm
  nsv13/icons/mob/inhands/equipment/banners_lefthand.dmi
  nsv13/icons/mob/inhands/equipment/banners_righthand.dmi
  nsv13/icons/obj/banners.dmi
Labels: Sprites, Active Test Merge, Passed Test Merge

#1605 Fixes cloning
  code/game/machinery/cloning.dm
Labels: Feature, Active Test Merge, Passed Test Merge

#1505 Fancy Bullet Boxes, plus some fighter ammo fixes
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Galactica/old/Galactica2_old.dmm
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Instanced/map_files/Babylon1.dmm
  _maps/map_files/Instanced/map_files/SpaceSHIP.dmm
  _maps/map_files/PVP/Hammurabi1.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/templates/boarding/syndicate/destroyer.dmm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/munitions/ammunition/cannon_ammo.dm
  nsv13/code/modules/munitions/ammunition/magazines.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/icons/obj/ammo.dmi
Labels: Feature, Active Test Merge, Mass Map Change, mapping

#1600 Inertial Dampener tgui
  nsv13/code/game/machinery/inertial_dampener.dm
  tgui/packages/tgui/interfaces/InertialDampener.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Feature, Needs Test Merge, TGUI-Changes

#1607 world initialization runtime fixes + lazylift and other misc optimizations
  code/modules/research/techweb/all_nodes.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/mac.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/railgun_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher_construction.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/fighters/fuel_tank.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/research/astrometrics.dm
  nsv13/code/modules/research/techweb/all_nsv_nodes.dm
  nsv13/code/modules/turbolift/lazylift.dm
Labels: Code Improvement, Fix, Active Test Merge

#1637 [s] Teeny tiny exploit fix o-o
  code/controllers/subsystem/fail2topic.dm
Labels: Administration, FUCK, Priority: High, security

#1628 Makes coders unable to bypass admin permission checks when there is an admin online.
  code/modules/admin/callproc/callproc.dm
Labels: Administration, FUCK, Active Test Merge

#1622 KNPC Tweaks
  code/__DEFINES/flags.dm
  code/_globalvars/bitfields.dm
  code/modules/zombie/organs.dm
  nsv13.dme
  nsv13/code/modules/mob/living/carbon/human/species_types/nanotrasen_knpc.dm
  nsv13/code/modules/mob/living/carbon/human/species_types/other_knpc.dm
  nsv13/code/modules/mob/living/carbon/human/species_types/spacepirate_knpc.dm
  nsv13/code/modules/mob/living/carbon/human/species_types/syndicate_knpc.dm
  nsv13/code/modules/overmap/boarding/boarding.dm
  nsv13/code/modules/overmap/knpc.dm
Labels: Code Improvement, Fix, Balance/Rebalance, Active Test Merge

#1617 No-kill traitor option
  code/modules/antagonists/traitor/datum_traitor.dm
  config/game_options.txt
  nsv13/code/controllers/configuration/entries/game_options.dm
Labels: enhancement, Config Update, Balance/Rebalance, Active Test Merge, Passed Test Merge

#1621 Munitions Computer/ DRADIS tgui made more compact
  nsv13/code/modules/overmap/radar.dm
  tgui/packages/tgui/interfaces/Dradis.js
  tgui/packages/tgui/interfaces/MunitionsComputer.js
  tgui/public/tgui.bundle.js
Labels: Active Test Merge, TGUI-Changes

#1620 Makes the title screen do widescreen good (assuming the file is the right size)
  _maps/map_files/generic/CentCom.dmm
Labels: Config Update, mapping

#1618 "Fixes" some homing stuff, plus more nukings
  code/modules/projectiles/projectile.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Active Test Merge, Overmap, Munitions

#1638 regex improvement from last PR
  code/controllers/subsystem/fail2topic.dm
Labels: Code Improvement

#1614 Gamemode round-end tweaks
  code/controllers/subsystem/vote.dm
  code/game/machinery/computer/communications.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/gamemodes/overmap/objectives/destroy_fleet.dm
  nsv13/code/game/gamemodes/overmap/objectives/rubicon.dm
  nsv13/code/game/gamemodes/overmap/objectives/tickets.dm
  nsv13/code/game/gamemodes/overmap/shakedown.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/fighters/modules/ftl_drive.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/starmap.dm
  tgui/packages/tgui/interfaces/Astrometrics.js
  tgui/packages/tgui/interfaces/Dradis.js
  tgui/packages/tgui/interfaces/Starmap.js
  tgui/packages/tgui/interfaces/SystemManager.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: enhancement, Fix, Active Test Merge, TGUI-Changes, Starsystem

#1615 Fixes indestructible extra loading rack when gauss gun is destroyed and rebuilt
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
Labels: Fix, Active Test Merge

#1625 Fighter fuel changes + nsv reagents cleanup
  nsv13.dme
  nsv13/code/modules/reagents/chemistry/reagents/other_reagents.dm
  nsv13/code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  nsv13/code/modules/reagents/chemistry/recipes.dm
  nsv13/code/modules/reagents/chemistry/recipes/others.dm
  nsv13/code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Tweak, Active Test Merge

#1640 SolGov shield amp
  nsv13/code/modules/overmap/types/solgov.dm
Labels: Active Test Merge

#1645 SHOULD fix fighters being unable to RTB on galactica
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Fix, Galactica, mapping

#1650 Adds More Logging
  code/game/gamemodes/dynamic/dynamic.dm
  code/modules/client/client_defines.dm
  code/modules/client/verbs/who.dm
  code/modules/keybindings/bindings_client.dm
Labels: Administration
