Repository BeeStation/NSV13, pull requests merged in 2021-10, with the labels that each got.

#1644 Lower Player Req Medical Event
  code/modules/events/heart_attack.dm
  code/modules/events/spontaneous_appendicitis.dm
Labels: Balance/Rebalance, Active Test Merge, Passed Test Merge

#1606 fixes the hammurabi asteroid cage
  _maps/map_files/PVP/Hammurabi1.dmm
  _maps/map_files/PVP/Hammurabi2.dmm
Labels: Active Test Merge, mapping

#1641 Shuttlecraft Chair
  code/game/objects/items/stacks/sheets/sheet_types.dm
  nsv13.dme
  nsv13/code/game/objects/structures/shuttlecraft_chair.dm
  nsv13/icons/obj/structures/shuttlecraft_seat.dmi
Labels: Sprites, Feature, Passed Test Merge

#1669 Steph's CIC reworks, part 1: Atlas
  _maps/map_files/Atlas/atlas2.dmm
Labels: Active Test Merge, mapping, Atlas

#1639 AI weapon handling and supply updates
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/code/modules/overmap/weapons/weapons.dm
Labels: Balance/Rebalance, Active Test Merge, Passed Test Merge, Overmap

#1653 Moar optimizations
  code/game/atoms_movable.dm
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/general_quarters/squad2.dm
  nsv13/code/game/machinery/dance_machine.dm
  nsv13/code/game/machinery/inertial_dampener.dm
  nsv13/code/modules/Security/genpop.dm
  nsv13/code/modules/antagonists/bloodling.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/automation.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/shieldgen.dm
  nsv13/code/modules/power/reactor/rbmk.dm
  nsv13/code/modules/research/astrometrics.dm
  nsv13/code/modules/ship_missions/hail_computer.dm
  nsv13/code/modules/vehicles/_vehicle.dm
Labels: Code Improvement, Refactor, Active Test Merge
