Repository BeeStation/NSV13, pull requests merged in 2021-11, with the labels that each got.

#1718 When it rains, the rain will be salty as if the sky were crying real tears.
  _maps/_basemap.dm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/Vago/vagodeck2.dmm
  config/maps.txt
Labels: Config Update, Active Test Merge, Vago, mapping

#1696 Makes shake_with_inertia() NOT kill performance
  nsv13/code/game/machinery/inertial_dampener.dm
  nsv13/code/modules/mob/mob_helpers.dm
  nsv13/code/modules/overmap/ftl.dm
Labels: Code Improvement, FUCK, Active Test Merge

#1709 Aligned VLS hatches to actual VLSes
  _maps/map_files/Atlas/atlas2.dmm
Labels: Active Test Merge, mapping, Atlas

#1672 Disruption torpedoes and some fixes
  code/modules/projectiles/projectile.dm
  icons/obj/projectiles.dmi
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/code/modules/overmap/weapons/weapons.dm
Labels: Sprites, Active Test Merge, Overmap

#1648 New PDC sounds
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/pdc.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/sound/effects/ship/pdc.ogg
  nsv13/sound/effects/ship/pdc2.ogg
  nsv13/sound/effects/ship/pdc3.ogg
Labels: Tweak, Sound, Active Test Merge

#1725 [Beestation Port] Fixes nextmap loading
  code/__DEFINES/config_defines.dm
  code/__HELPERS/_string_lists.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  nsv13.dme
Labels: Fix, Active Test Merge

#1722 Makes the FTL UI show that it's spooled properly
  nsv13.dme
  nsv13/code/modules/overmap/ftl.dm
Labels: Fix, Active Test Merge

#1717 Minor projectile backend
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Code Improvement, Active Test Merge

#1613 Boarding gamemode
  nsv13.dme
  nsv13/code/__DEFINES/components.dm
  nsv13/code/__DEFINES/ships.dm
  nsv13/code/__HELPERS/names.dm
  nsv13/code/game/gamemodes/overmap/boarding_gamemode.dm
  nsv13/code/game/gamemodes/overmap/objectives/board_ship.dm
  nsv13/code/game/machinery/computer/salvage.dm
  nsv13/code/modules/overmap/ai-skynet.dm
Labels: Feature, Active Test Merge, Passed Test Merge, Overmap, Starsystem

#1703 Nostalgia - Boarding Droids
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/mob/living/carbon/human/species_types/other_knpc.dm
  nsv13/icons/mob/boardingdroid.dmi
Labels: enhancement, Sprites, Active Test Merge
