Repository BeeStation/NSV13, pull requests merged in 2022-10, with the labels that each got.

#2017 Puts the Fist of Sol back in the bag.
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/overmap/ai-skynet.dm
Labels: Fix, Active Test Merge, Overmap

#2083 Shield Generator (overmap): Capacitor Upgrade
  nsv13/code/modules/overmap/shieldgen.dm
Labels: enhancement, Active Test Merge, Overmap

#2070 Fixes that shuttle shutter button issue
  code/modules/shuttle/supply.dm
Labels: Fix, Active Test Merge

#1997 Makes all of the NSV floor tiles one type of durasteel tile
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Atlas/atlas2.dmm
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Eclipse/Eclipse2.dmm
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Galactica/old/Galactica2_old.dmm
  _maps/map_files/Galactica/old/Galactica_old.dmm
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Gladius/Gladius2.dmm
  _maps/map_files/Instanced/map_files/Hammurabi2.dmm
  _maps/map_files/Instanced/map_files/SpaceSHIP.dmm
  _maps/map_files/Instanced/map_files/admiralroyalty.dmm
  _maps/map_files/Mining/nsv13/Rocinante.dmm
  _maps/map_files/Mining/nsv13/nostromo.dmm
  _maps/map_files/NSV Storage/Mining/Hephaestus/Hephaestus1.dmm
  _maps/map_files/NSV Storage/Mining/Hephaestus/Hephaestus2.dmm
  _maps/map_files/Shrike/Shrike1.dmm
  _maps/map_files/Shrike/Shrike2.dmm
  _maps/map_files/Testship/testship.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/Vago/vagodeck2.dmm
  _maps/templates/boarding/syndicate/destroyer.dmm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  nsv13/code/game/objects/items/custom_materials.dm
  nsv13/code/game/objects/items/stacks/tiles/tile_types.dm
  nsv13/code/game/turfs/custom_floors.dm
  nsv13/icons/obj/custom_tiles.dmi
  nsv13/icons/turf/floors.dmi
Labels: Feature, Fix, Refactor, Active Test Merge, Mass Map Change, mapping

#2088 Fixes PDSR graphs
  tgui/packages/tgui/interfaces/PDSRMainframe.js
Labels: Fix, Active Test Merge, TGUI-Changes

#2087 Fixes Gauss turret deafening
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
Labels: Fix, Active Test Merge, Munitions

#2095 blacklist The Sol's Revenge
  nsv13/code/controllers/subsystem/starsystem.dm
Labels: Balance/Rebalance, Overmap

#1965 Ports The Multi-Cell Charger
  code/modules/research/techweb/all_nodes.dm
  nsv13.dme
  nsv13/code/modules/power/multicellcharger/multi_cell_charger.dm
  nsv13/code/modules/power/power.dm
  nsv13/code/modules/tgui/tgui_input_list.dm
  nsv13/icons/obj/machinery/cellcharger.dmi
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/styles/interfaces/ListInput.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, Active Test Merge, FROZEN PR, TGUI-Changes

#2059 Alters the Oozelings Last Name Generator
  code/_globalvars/lists/names.dm
  strings/names/nsv_ooze_last.txt
  strings/names/ooze_last.txt
Labels: enhancement, Code Improvement, Active Test Merge, FROZEN PR, Consistency issue

#2067 Fixing some vents in Tycoon Munitions
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Fix, Active Test Merge, FROZEN PR, Tycoon, mapping

#2086 Lets maps use the mining ship again
  _maps/galactica.json
  _maps/vago.json
  code/datums/map_config.dm
Labels: Fix, Active Test Merge, mapping

#2091 MULEbot AI Summoning
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Fix, Active Test Merge, Update

#2092 Slightly Better Collisions
  nsv13/code/modules/overmap/physics.dm
Labels: Fix, Active Test Merge, Ship/Physics

#2109 Asteroids no longer get FTL-dragged just because someone is on them
  nsv13/code/__DEFINES/overmap.dm
  nsv13/code/modules/overmap/ftl.dm
Labels: Fix, Overmap, mining

#2077 Allows Brig Physician to access Galactica Brig Infirmary
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Fix, Galactica, FROZEN PR, mapping

#2035 Portable Gulag
  code/modules/research/techweb/all_nodes.dm
  nsv13.dme
  nsv13/code/game/objects/items/devices/radio/gulagpack.dm
  nsv13/code/modules/jobs/security/weapons.dm
  nsv13/icons/mob/back.dmi
  nsv13/icons/obj/gulagpack.dmi
Labels: Sprites, Feature, Active Test Merge, FROZEN PR

#2098 Fixes z move verb working inside object contents
  code/modules/mob/mob_movement.dm
Labels: Fix, Active Test Merge

#2054 add MAA stamp
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/origami.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/stamps.dm
  nsv13.dme
  nsv13/code/game/objects/structures/custom_closets.dm
  nsv13/code/modules/paperwork/stamps.dm
  nsv13/icons/obj/bureaucracy.dmi
  nsv13/icons/stamp_icons/large_stamp-maa.png
Labels: Sprites, Feature, Active Test Merge, FROZEN PR

#2063 Probably fixes some stuff about dynamic map entrypoints
  nsv13/code/modules/overmap/boarding/interiors.dm
Labels: Fix, Active Test Merge, Fighters, mining

#1916 Allows the building of tables in raptors
  code/game/objects/items/stacks/rods.dm
Labels: Fix, Active Test Merge

#2111 Fixes pagers working when they shouldn't
  nsv13/code/modules/antagonists/simple_teamchat.dm
Labels: Fix, Active Test Merge

#2089 Fixes shield FX not deleting properly
  nsv13/code/modules/overmap/shieldgen.dm
  nsv13/code/modules/overmap/weapons/damage.dm
Labels: Fix, Active Test Merge, Overmap

#2090 Fixes escape pod control continuing after being picked up.
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/fighters/fighters_launcher.dm
Labels: Fix, Active Test Merge, Fighters

#2102 Emote Touchups
  code/modules/mob/living/emote.dm
  nsv13/code/modules/mob/living/carbon/human/nsv_emotes.dm
  nsv13/sound/misc/coals_purr.ogg
  nsv13/sound/voice/felinid/cat_hiss.ogg
  nsv13/sound/voice/lizard/liz_growl.ogg
  nsv13/sound/voice/lizard/liz_hiss.ogg
Labels: Feature, Fix, Active Test Merge

#2110 Adds the design disk for railgun ammo to the prototype fighter
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/overmap/traders_items.dm
Labels: Balance/Rebalance, Active Test Merge, hacktoberfest-accepted

#2112 Fixes Fighter interior reload, again.
  nsv13/code/modules/overmap/fighters/_fighters.dm
Labels: Fix

#2104 [PORT] MediKitty
  nsv13.dme
  nsv13/code/datums/components/crafting/recipes.dm
  nsv13/code/modules/mob/living/simple_animal/bot/catmed.dm
  nsv13/icons/mob/catmedbot.dmi
Labels: Sprites, Feature, Active Test Merge, hacktoberfest-accepted

#2073 Ghost ships can now hear hails
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap_ghosts.dm
Labels: Feature, Active Test Merge, Overmap

#1983 [Ready][MDB IGNORE] Bot Multi-Z Movement
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Atlas/atlas2.dmm
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Snake/snake_lower.dmm
  _maps/map_files/Snake/snake_upper.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  code/__DEFINES/bot_defines.dm
  code/_globalvars/lists/objects.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  nsv13.dme
  nsv13/code/game/objects/structures/bot_elevator.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/icons/obj/structures/bot_elevator.dmi
Labels: Sprites, Feature, Multi-Z, Active Test Merge, Mass Map Change, mapping
