Repository BeeStation/NSV13, pull requests merged in 2022-05, with the labels that each got.

#1903 Fixes mapdiff check action
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Gladius/Gladius2.dmm
Labels: mapping

#1902 Fixes dradis overmap linkage
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Gladius/Gladius2.dmm
  _maps/map_files/Instanced/map_files/Babylon2.dmm
  _maps/map_files/Instanced/map_files/SpaceSHIP.dmm
  _maps/map_files/Mining/nsv13/Rocinante.dmm
  _maps/map_files/PVP/Hammurabi2.dmm
  _maps/map_files/Shrike/Shrike2.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/cargo_launcher.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/radar.dm
Labels: Fix, Mass Map Change, mapping

#1830 Felinids don't like getting wet, and pulling them by the tail makes them upset
  code/datums/mood_events/generic_negative_events.dm
  code/game/objects/structures/shower.dm
  code/modules/mob/living/living.dm
  code/modules/pool/components/swimming.dm
  code/modules/pool/components/swimming_felinid.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  nsv13/code/datums/mood_events/nsv_events.dm
Labels: Feature, Balance/Rebalance, Active Test Merge

#1889 Adds Sergeant-At-Armsky to most maps currently in rotation
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  nsv13.dme
  nsv13/code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Active Test Merge, Mass Map Change, mapping

#1864 Fixes the torpcoin shop
  code/modules/client/preferences.dm
Labels: Fix, Active Test Merge

#1904 Improper noun fixing
  nsv13/code/modules/munitions/ammunition/gauss_ammo.dm
  nsv13/code/modules/munitions/ammunition/railgun_ammo.dm
  nsv13/code/modules/munitions/munitions_trolley.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/50Cal.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/railgun.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/bsa.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/laser_ams.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/phaser.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_parts.dm
  nsv13/code/modules/turbolift/lazylift.dm
  nsv13/code/modules/vehicles/presets.dm
Labels: Code Improvement, Grammar and Formatting, Active Test Merge

#1900 fixes same rank text on examine
  nsv13/code/controllers/subsystem/ranks.dm
Labels: Fix, Grammar and Formatting, Active Test Merge

#1886 Implements spatial partitioning for physics collision detection
  nsv13.dme
  nsv13/code/_globalvars/misc.dm
  nsv13/code/modules/collision/shape.dm
  nsv13/code/modules/overmap/physics2d.dm
Labels: Code Improvement, Refactor, Active Test Merge, Ship/Physics

#1873 Fixes fighter forcemove bug
  nsv13.dme
  nsv13/code/__DEFINES/dcs/signals.dm
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/modules/mob/dead/observer/oberserver.dm
  nsv13/code/modules/mob/mob.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
Labels: Code Improvement, Fix, Active Test Merge, Overmap

#1901 Fixes overmap and overmap-relayed piercing projectiles
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/bsa.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Fix, FUCK, Active Test Merge

#1848 Notoriety (aka NSV - Pulsar edition)
  code/game/machinery/computer/communications.dm
  nsv13/code/__DEFINES/skynet.dm
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/traders.dm
  tgui/packages/tgui/interfaces/OvermapGamemodeController.js
Labels: Balance/Rebalance, Active Test Merge, TGUI-Changes, Overmap

#1914 CE now spawns with their own jumpsuit and beret
  code/modules/jobs/job_types/chief_engineer.dm
Labels: Tweak, Needs Test Merge

#1908 Auxmos 0.2.11
  auxtools/auxmos.dll
  dependencies.sh
  tools/ci/install_auxmos.sh
Labels: tools, Active Test Merge

#1840 Race Specific Emotes
  code/__DEFINES/is_helpers.dm
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/emote.dm
  nsv13.dme
  nsv13/code/modules/mob/living/carbon/human/nsv_emotes.dm
  nsv13/sound/misc/coals_purr.ogg
  sound/voice/dialup.ogg
Labels: Feature, Code Improvement, Sound, Active Test Merge

#1905 Updating department_radio_keys localization
  code/modules/mob/living/say.dm
Labels: Tweak, Active Test Merge

#1899 Fixes issues with the naked outfit
  code/modules/clothing/outfits/standard.dm
  nsv13/code/modules/clothing/custom_outfits.dm
Labels: Fix, Administration, Active Test Merge

#1922 Moth wings can now open (#6495) [Port from beestation]
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/emote.dm
  code/modules/surgery/organs/wings.dm
  icons/mob/moth_wingsopen.dmi
Labels: Sprites, horny trash

#1871 Fixes volatility component
  nsv13/code/modules/munitions/ship_weapons/volatility_component.dm
Labels: Code Improvement, Fix, Active Test Merge

#1883 Rise of the Alicorn
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/types/spacepirates.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/icons/obj/projectiles_nsv.dmi
  nsv13/icons/overmap/alicorn.dmi
Labels: Feature, Balance/Rebalance, Active Test Merge, Overmap
