Repository BeeStation/NSV13, pull requests merged in 2022-08, with the labels that each got.

#1982 Knpc pathfinding pass (and a bit of normal pathfinding)
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/path.dm
  code/_onclick/adjacent.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/tables_racks.dm
  nsv13.dme
  nsv13/code/__DEFINES/knpc.dm
  nsv13/code/__HELPERS/misc.dm
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/_onclick/adjacent.dm
  nsv13/code/modules/overmap/knpc.dm
  nsv13/code/modules/overmap/overmap.dm
Labels: Code Improvement, Fix, Tweak, Active Test Merge

#1994 Reduces use of global overmap list
  code/game/machinery/porta_turret/portable_turret.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/machinery/computer/salvage.dm
  nsv13/code/game/machinery/computer/tactical.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/vls.dm
  nsv13/code/modules/overmap/factions.dm
  nsv13/code/modules/overmap/fighters/control_console.dm
  nsv13/code/modules/overmap/fighters/vv_docking.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/knpc.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/power/reactor/rbmk.dm
Labels: Code Improvement, Fix, Active Test Merge, Overmap

#2005 Makes the title screen fit... on the screen
  code/game/turfs/closed/_closed.dm
Labels: Fix, Active Test Merge

#2012 [S]Ports "Protects Fail2Topic config from admin edits"
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/fail2topic.dm
Labels: security, Update

#1954 Galactic Conquest fixes
  _maps/map_files/Instanced/astraeusPVP.json
  _maps/map_files/Instanced/hammurabiPVP.json
  _maps/map_files/Instanced/map_files/Babylon2.dmm
  _maps/map_files/Instanced/map_files/Hammurabi1.dmm
  _maps/map_files/Instanced/map_files/Hammurabi2.dmm
  _maps/map_files/Instanced/map_files/SpaceSHIP.dmm
  code/controllers/subsystem/ticker.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/cargo/expressconsole.dm
  html/antagtips/galactic_conquest.html
  nsv13.dme
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/game/gamemodes/overmap/galactic_conquest.dm
  nsv13/code/game/gamemodes/pvp/items.dm
  nsv13/code/game/gamemodes/pvp/pvp.dm
  nsv13/code/game/gamemodes/pvp/roles.dm
  nsv13/code/modules/mapping/custom_reader.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/armour/nano_pump.dm
  nsv13/code/modules/overmap/armour/nano_well.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/starmap.dm
Labels: Sprites, Code Improvement, Fix, Tweak, Active Test Merge, mapping, Astraeus, Babylon, Hammurabi

#1995 Some fixes for projectiles
  code/game/turfs/turf.dm
  code/modules/projectiles/projectile.dm
  nsv13/code/game/objects/structures/barricade.dm
  nsv13/code/modules/projectiles/projectile.dm
Labels: Fix, Active Test Merge

#2002 Fixes escape pods being unable to dock
  nsv13/code/modules/overmap/fighters/_fighters.dm
Labels: Active Test Merge, Overmap, Fighters

#2010 Stops ships from firing while being deleted
  nsv13/code/modules/overmap/physics.dm
Labels: Fix, Overmap

#2007 Fixes VLS autoloading
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/vls.dm
Labels: Fix, Active Test Merge

#1924 Squads 3!
  code/__DEFINES/nsv13.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/say.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/silicon/ai/ai.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/ranks.dm
  nsv13/code/game/general_quarters/squad.dm
  nsv13/code/game/general_quarters/squad2.dm
  nsv13/code/modules/antagonists/simple_teamchat.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/squads/squad_computers.dm
  nsv13/code/modules/squads/squad_datum.dm
  nsv13/code/modules/squads/squad_helmets.dm
  nsv13/code/modules/squads/squad_hud.dm
  nsv13/code/modules/squads/squad_human.dm
  nsv13/code/modules/squads/squad_items.dm
  nsv13/code/modules/squads/squad_jobs.dm
  nsv13/code/modules/squads/squad_lead_finder.dm
  nsv13/code/modules/squads/squad_manager.dm
  nsv13/code/modules/squads/squad_vendor.dm
  tgui/packages/tgui/interfaces/NtosSquadManager.js
  tgui/packages/tgui/interfaces/SquadManager.js
  tgui/packages/tgui/interfaces/SquadVendor.js
Labels: Sprites, Active Test Merge, TGUI-Changes
