Repository BeeStation/NSV13, pull requests merged in 2022-06, with the labels that each got.

#1915 Squad armors and pulse armor tweaks
  _maps/map_files/Galactica/Galactica1.dmm
  nsv13/code/game/general_quarters/squad_items.dm
  nsv13/code/game/objects/items/custom_guns.dm
  nsv13/code/modules/cargo/packs.dm
Labels: Fix, Tweak, Balance/Rebalance, Active Test Merge, Galactica, mapping

#1919 Glock magazine color stripe identifiers
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/templates/boarding/dropship_syndicate.dmm
  code/modules/jobs/job_types/warden.dm
  icons/obj/ammo.dmi
  nsv13/code/game/general_quarters/squad_vendor.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/jobs/job_types/marine/military_police.dm
  nsv13/code/modules/jobs/security/weapons.dm
Labels: Sprites, Feature, Active Test Merge, mapping

#1909 Re-adds #967 - TG-style ethereal charge rates
  code/__DEFINES/mobs.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/surgery/organs/stomach.dm
Labels: Feature, Active Test Merge

#1920 Replacing "fleet/nanotrasen/earth" with "fleet/solgov/earth"
  config/starmap/README.md
  config/starmap/starmap_default.json
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/overmap/ai-skynet.dm
Labels: Config Update, Active Test Merge

#1861 Snake Class medium gunboat
  _maps/_basemap.dm
  _maps/map_files/Snake/snake_lower.dmm
  _maps/map_files/Snake/snake_upper.dmm
  _maps/snake.dm
  _maps/snake.json
  config/maps.txt
Labels: Config Update, Active Test Merge, mapping

#1921 add minimum population requirement for kill objectives to changeling and wizzard
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/wizard/wizard.dm
Labels: Tweak, Active Test Merge

#1944 Minor Galactica fixes
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Fix, Active Test Merge, Galactica, mapping

#1945 Ammo fix
  nsv13/code/modules/munitions/munitions_trolley.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
Labels: Fix, Active Test Merge, Munitions

#1955 delete Astrometrics Computer's radio on destruction
  nsv13/code/modules/research/astrometrics.dm
Labels: Fix

#1961 Galactica brig fixes and improvements
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Galactica, mapping

#1931 Refactors overmap keybindings
  code/datums/keybinding/_defines.dm
  code/modules/client/preferences_savefile.dm
  nsv13.dme
  nsv13/code/datums/keybinding/overmap.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/weapons/weapons.dm
Labels: Feature, Refactor, Active Test Merge, Overmap

#1933 Ghost ship logging and minor fix
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap_ghosts.dm
Labels: Fix, Active Test Merge

#1952 Randomized Round-Start Names for Voidcrafts
  nsv13.dme
  nsv13/code/__HELPERS/names.dm
  nsv13/code/_globalvars/lists/names.dm
  nsv13/code/game/general_quarters/dropship_types.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  strings/names/fighter_moon.txt
  strings/names/fighter_noun.txt
  strings/names/fighter_planet.txt
Labels: Feature, Active Test Merge
