Repository BeeStation/NSV13, pull requests merged in 2023-09, with the labels that each got.

#2535 [Upstream] Ecto Sniffer improvements
  code/game/machinery/ecto_sniffer.dm
Labels: Tweak, Update

#2507 Galactica Xenobio and Security Fixes
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Fix, Active Test Merge, Galactica, Mapping

#2520 Return jump optimizations and modularity
  code/controllers/subsystem/vote.dm
  code/datums/map_config.dm
  code/game/machinery/computer/communications.dm
  nsv13.dme
  nsv13/code/__DEFINES/overmap.dm
  nsv13/code/__DEFINES/ships.dm
  nsv13/code/__DEFINES/starsystem.dm
  nsv13/code/_globalvars/starsystem.dm
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/gamemodes/overmap/armada.dm
  nsv13/code/modules/overmap/FTL/components/drive.dm
  nsv13/code/modules/overmap/FTL/ftl_jump.dm
  nsv13/code/modules/overmap/starmap.dm
Labels: Fix, Refactor, Active Test Merge, Mapping, Starsystem

#2518 Particle Accelerator and Plutonium Sludge radiation buffs
  code/modules/projectiles/projectile/energy/accelerator_particle.dm
  nsv13/code/game/objects/effects/decals/plutonium_sludge.dm
Labels: Balance/Rebalance, Active Test Merge

#2516 Delta's "five minute" pylon adventure
  nsv13/code/modules/overmap/FTL/components/drive.dm
  nsv13/code/modules/overmap/FTL/components/drive_pylon.dm
  tgui/packages/tgui/interfaces/FTLComputerModular.js
Labels: Feature, Fix, Tweak, Balance/Rebalance, Active Test Merge, TGUI-Changes

#2454 Ju Jitsu Update [REDO]
  code/datums/martial/_martial.dm
  nsv13/code/modules/jobs/security/martial_art.dm
  nsv13/sound/weapons/chokehold.ogg
Labels: Balance/Rebalance, Active Test Merge, I dead please restart

#2513 Snake atmospherics fixes
  _maps/map_files/Snake/snake_lower.dmm
  nsv13.dme
  nsv13/code/__DEFINES/atmospherics.dm
  nsv13/code/game/machinery/computer/atmos_control.dm
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  nsv13/code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  nsv13/code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
Labels: Fix, Active Test Merge, Mapping, Snake

#2496 Upped the firerate on the mech LBX AC 10 "Scattershot"
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Balance/Rebalance, Active Test Merge

#2521 VLS unloading fix
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/vls.dm
Labels: Fix, Active Test Merge, Munitions

#2522 Hammerhead missing items
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Active Test Merge, Hammerhead, Consistency issue, Mapping

#2525 Adds a overmap z failsafe
  nsv13/code/__DEFINES/overmap.dm
  nsv13/code/modules/overmap/FTL/ftl_jump.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap.dm
Labels: Fix, Active Test Merge, Overmap

#2528 Gives Tycoon a FLARE
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Active Test Merge, Tycoon, Mapping

#2530 Gladius locker and hanger lift fixes
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Gladius/Gladius2.dmm
Labels: Active Test Merge, Gladius, Mapping

#2541 [Upstream] Patches up the jankiness of LOOC
  code/__DEFINES/bans.dm
  code/modules/client/verbs/looc.dm
  code/modules/client/verbs/ooc.dm
  nsv13.dme
Labels: Fix, Active Test Merge, Update
