Repository BeeStation/NSV13, pull requests merged in 2023-05, with the labels that each got.

#2365 [PORT] Supply Console UI Update
  code/modules/cargo/order.dm
  code/modules/cargo/orderconsole.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  tgui/packages/tgui/interfaces/Cargo.js
Labels: Feature, Fix, Active Test Merge, TGUI-Changes, Port

#2417 Makes Winona indestructible
  nsv13/code/modules/jobs/security/weapons.dm
Labels: Fix, Active Test Merge

#2392 Fixes explosive unbuilt missile casing
  nsv13/code/modules/munitions/ammunition/missiles/missile_construction.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_construction.dm
Labels: Fix, Active Test Merge, Munitions

#2394 Rebuilt IFF consoles on boarded ship start emagged
  nsv13/code/game/machinery/iff_console.dm
  nsv13/code/modules/overmap/boarding/interiors.dm
  nsv13/code/modules/overmap/overmap.dm
Labels: Fix, Active Test Merge

#2389 Fixes VLS tubes voiding torps
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/vls.dm
Labels: Fix, Active Test Merge

#2402 Fixes Hammerhead having two missile systems
  nsv13/code/modules/overmap/types/nanotrasen.dm
Labels: Fix, Active Test Merge

#2404 Improves tug loading/unloading
  nsv13/code/modules/overmap/fighters/tug.dm
  nsv13/code/modules/vehicles/_vehicle.dm
Labels: Feature, Fix, Tweak, Active Test Merge, Fighters

#2386 Galactic Engineering Mk2
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Tweak, Active Test Merge, Galactica, Mapping

#2398 Gladius FTL update
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Gladius/Gladius2.dmm
Labels: Tweak, Active Test Merge, Gladius, Mapping

#2412 Minor weather improvement
  code/controllers/subsystem/events.dm
  nsv13/code/modules/overmap/FTL/ftl_jump.dm
Labels: Tweak, Balance/Rebalance, Active Test Merge, Overmap

#2421 [Upstream] Adds Sergeant Araneus
  _maps/map_files/Atlas/atlas2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Snake/snake_upper.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
Labels: Feature, Active Test Merge, Hammerhead, Update, Tycoon, Mapping, Atlas, Snake

#2418 Allows a second pilot on Atlas
  _maps/map_files/Atlas/job_changes.dm
Labels: Active Test Merge, Atlas

#2380 ATC Comms for miners
  code/modules/jobs/job_types/shaft_miner.dm
Labels: Feature, Balance/Rebalance, Active Test Merge

#2368 Reverts a number of anti-stun TG changes
  _maps/RandomZLevels/spacebattle.dmm
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  _maps/map_files/Vago/vagodeck1.dmm
  code/datums/components/riding.dm
  code/datums/materials/basemats.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/grenades/flashbang.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/stunbaton.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/open/_open.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/energy/ebow.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
  code/modules/vending/security.dm
  nsv13/code/game/objects/items/custom_guns.dm
  nsv13/code/game/objects/items/custom_items.dm
  nsv13/code/modules/jobs/job_types/marine/military_police.dm
  nsv13/code/modules/jobs/job_types/master_at_arms.dm
Labels: Balance/Rebalance, FRELL, Active Test Merge, Revert, Aetherwisp, Mapping

#2375 Turns the expanded lizard hiss regex from #2311 into a character pref
  SQL/beestation_schema.sql
  code/__DEFINES/nsv13.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences2/character_save.dm
  code/modules/client/preferences2/preferences2.dm
  code/modules/surgery/organs/tongue.dm
  tools/savefileimporter/code/character_parser.dm
Labels: tools, SQL, Active Test Merge

#2414 Return of #2192
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Fix, Active Test Merge, Tycoon, Mapping

#2406 Moves overmap object list add to Init instead of LateInit
  nsv13/code/modules/overmap/overmap.dm
Labels: Code Improvement, Fix, Active Test Merge

#2415 Turns the Track Mob list the AI has access to into a TGUI interface version
  code/_onclick/hud/ai.dm
  code/modules/mob/dead/observer/observer.dm
  nsv13.dme
  nsv13/code/modules/mob/living/silicon/ai/track.dm
  tgui/packages/common/collections.ts
  tgui/packages/tgui/interfaces/Tracking/constants.ts
  tgui/packages/tgui/interfaces/Tracking/helpers.ts
  tgui/packages/tgui/interfaces/Tracking/index.tsx
  tgui/packages/tgui/interfaces/Tracking/types.ts
Labels: Feature, Code Improvement, Refactor, Active Test Merge, TGUI-Changes, Port

#2416 Genpop timer can now be adjusted for sentenced prisoners
  nsv13/code/modules/Security/genpop.dm
  tgui/packages/tgui/interfaces/GenPop.js
Labels: Feature, Active Test Merge, TGUI-Changes

#2420 Camera helmet numbers consistency
  nsv13/code/modules/clothing/helmet_camera.dm
Labels: Tweak, Active Test Merge
