Repository BeeStation/NSV13, pull requests merged in 2023-04, with the labels that each got.

#2370 Adds map name to metric tracking
  code/controllers/subsystem/mapping.dm
Labels: Active Test Merge

#2342 [PORT] The Hugbot
  nsv13.dme
  nsv13/code/__DEFINES/traits.dm
  nsv13/code/modules/mob/living/simple_animal/bot/catmed.dm
  nsv13/code/modules/mob/living/simple_animal/bot/hugbot.dm
  nsv13/icons/mob/aibots.dmi
  nsv13/icons/mob/catmedbot.dmi
Labels: Feature, Active Test Merge

#2382 Delete All Stations
  _maps/corgstation.json
  _maps/flandstation.json
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/PubbyStation/job_changes.dm
  _maps/metastation.dm
  _maps/metastation.json
Labels: Removal, Mapping

#2308 update auxmos to 2.2.2 and byond to 514.1589
  Dockerfile
  auxtools/auxmos.dll
  code/__DEFINES/atmospherics.dm
  code/_compile_options.dm
  code/controllers/subsystem/adjacent_air.dm
  code/controllers/subsystem/air.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/melee/misc.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/he_pipes.dm
  code/modules/client/client_procs.dm
  code/modules/holodeck/area_copy.dm
  dependencies.sh
  nsv13.dme
Labels: Code Improvement, Active Test Merge, Update

#2353 Replicator update
  code/__DEFINES/machines.dm
  code/modules/hydroponics/biogenerator.dm
  nsv13.dme
  nsv13/code/modules/recycling/replicatorDS.dm
  nsv13/code/modules/research/designs/replicator_designs.dm
  nsv13/code/modules/research/techweb/_techweb.dm
  nsv13/icons/obj/machinery/replicator.dmi
  nsv13/icons/obj/module.dmi
  tgui/packages/tgui/interfaces/Replicator.js
  tgui/packages/tgui/interfaces/Replicator.tsx
Labels: Sprites, Feature, Code Improvement, Refactor, Active Test Merge, TGUI-Changes

#2354 [PORT] Cyborg Hypospray Updates
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  nsv13.dme
  nsv13/code/game/objects/items/robot/hypo.dm
  tgui/packages/tgui/interfaces/BorgHypo.tsx
  tgui/packages/tgui/interfaces/BorgShaker.tsx
Labels: Fix, Active Test Merge, TGUI-Changes, Port

#2119 [Port] Bridge Officer Expansion Pack - Ambrosia Edition
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Atlas/atlas2.dmm
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Shrike/Shrike1.dmm
  _maps/map_files/Snake/snake_lower.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/reagentfillings.dmi
  nsv13.dme
  nsv13/code/datums/components/crafting/recipes.dm
  nsv13/code/datums/mood_events/nsv_events.dm
  nsv13/code/game/objects/effects/particles/smoke.dm
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/coffee/items/coffee_cartridge.dm
  nsv13/code/modules/coffee/items/coffee_pack.dm
  nsv13/code/modules/coffee/items/coffeepots.dm
  nsv13/code/modules/coffee/items/condiment.dm
  nsv13/code/modules/coffee/items/cup.dm
  nsv13/code/modules/coffee/machine/coffeemaker.dm
  nsv13/code/modules/coffee/machine/impressa.dm
  nsv13/code/modules/coffee/structure/coffee_cart_rack.dm
  nsv13/code/modules/coffee/structure/coffee_condi_display.dm
  nsv13/code/modules/reagents/chemistry/reagents/other_reagents.dm
  nsv13/code/modules/research/designs/misc_designs.dm
  nsv13/code/modules/research/designs/nsv_circuitboard_designs.dm
  nsv13/icons/effects/radial_coffee.dmi
  nsv13/icons/effects/smoke.dmi
  nsv13/icons/obj/coffee.dmi
  nsv13/sound/machines/coffeemaker_brew.ogg
  nsv13/sound/machines/license.txt
Labels: Sprites, Active Test Merge, Mass Map Change, Mapping, hacktoberfest-accepted

#2347 Furnace and Shrike lathe upgrades
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Shrike/job_changes.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/mining/machine_processing.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/techweb/all_nodes.dm
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  tgui/packages/tgui/interfaces/Smelter.js
Labels: Feature, Balance/Rebalance, Active Test Merge, Mapping, TGUI-Changes, Shrike

#2355 Space Yellow Pages
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/cargo/space_catalog.dm
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/overmap/traders_items.dm
  nsv13/icons/obj/library.dmi
Labels: Feature, Active Test Merge, Overmap

#2358 Starsystem manager updates
  nsv13.dme
  nsv13/code/datums/starsystem_manager.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/starmap.dm
  tgui/packages/tgui/interfaces/Astrometrics.js
  tgui/packages/tgui/interfaces/Starmap.js
  tgui/packages/tgui/interfaces/StarsystemManager.js
Labels: Code Improvement, Active Test Merge, TGUI-Changes, Starsystem

#2363 Plasma Canister Fix
  _maps/map_files/Serendipity/job_changes.dm
  nsv13/code/modules/cargo/packs.dm
Labels: Fix, Active Test Merge, Mapping

#2377 Gunpowder bags can be loaded to trolleys by hand
  nsv13/code/modules/munitions/munitions_trolley.dm
Labels: Feature, Active Test Merge, Munitions

#2360 Fixes missing variables in sabre FTL component
  nsv13/code/modules/overmap/FTL/components/drive.dm
  nsv13/code/modules/overmap/FTL/components/drive_pylon.dm
  nsv13/code/modules/overmap/FTL/ftl_jump.dm
  nsv13/code/modules/overmap/FTL/ftl_legacy.dm
  nsv13/code/modules/overmap/fighters/modules/ftl_drive.dm
Labels: Fix, FRELL, Active Test Merge, Overmap

#2384 "Automatic" TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/README.md
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/serializers.dm
  code/modules/tgs/v5/undefs.dm
Labels: Code Improvement

#2390 GondolaRoid Fix
  _maps/RandomRuins/SpaceRuins/gondolaasteroid.dmm
Labels: Mapping

#2388 Minor Tycoon Fixes
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Tycoon, Mapping

#2364 Makes catwalks behave like floors for mouse-related purposes
  code/controllers/subsystem/minor_mapping.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Tweak, Active Test Merge

#2297 [PORT] Gender Neutrality
  code/__HELPERS/mobs.dm
  code/__HELPERS/sanitize_values.dm
  code/datums/datacore.dm
  code/datums/dna.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/structures/mirror.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/secrets.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences2/character_save.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/ninja/suit/suit.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/healing.dm
  nsv13/code/modules/paperwork/photocopier.dm
Labels: Administration, SQL, Passed Test Merge, Port

#2335 Made catastrophic loss of life actually call the shuttle
  code/controllers/subsystem/shuttle.dm
  config/config.txt
  config/game_options.txt
Labels: Config Update, Active Test Merge

#2352 [PORT] Custom AI Holographic Appearance
  code/__DEFINES/nsv13.dm
  code/game/machinery/hologram.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences2/character_save.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  nsv13.dme
  nsv13/code/__HELPERS/custom_holoforms.dm
  nsv13/code/modules/mob/living/silicon/ai/custom_holoform.dm
Labels: Feature, Active Test Merge, Port

#2366 Post Tortilla Shrike Update
  _maps/map_files/Shrike/Shrike1.dmm
  _maps/map_files/Shrike/Shrike2.dmm
  code/modules/turbolift/turbolift_areas.dm
  nsv13/code/modules/turbolift/lazylift.dm
  nsv13/code/modules/turbolift/turbolift.dm
Labels: Fix, Tweak, Active Test Merge, Mapping, Shrike
