Repository BeeStation/NSV13, pull requests merged in 2023-06, with the labels that each got.

#2428 [UPSTREAM] All species can now wag their tails if they get one.
  code/datums/mood_events/generic_negative_events.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/surgery/organs/tails.dm
  nsv13/code/modules/mob/living/simple_animal/bot/hugbot.dm
Labels: Active Test Merge, Update, horny trash

#2403 Fixes mouse aim not working while dragging the mouse
  code/_onclick/drag_drop.dm
  nsv13/code/modules/overmap/aim_helper.dm
Labels: Fix, Active Test Merge

#2419 [Upstream] Updates the Modular Computers Again
  code/__DEFINES/devices.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/preferences.dm
  code/__HELPERS/_logging.dm
  code/datums/components/sound_player.dm
  code/datums/components/soundplayer.dm
  code/modules/NTNet/network.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences2/preferences2.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/alarm.dm
  code/modules/modular_computers/file_system/programs/antagonist/contract_uplink.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/antagonist/emag.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/modular_computers/file_system/programs/atmosscan.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/borg_self_monitor.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/modular_computers/file_system/programs/cargobounty.dm
  code/modules/modular_computers/file_system/programs/configurator.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/modular_computers/file_system/programs/file_browser.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  code/modules/modular_computers/file_system/programs/log_viewer.dm
  code/modules/modular_computers/file_system/programs/notepad.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/ntmessenger.dm
  code/modules/modular_computers/file_system/programs/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/phys_scanner.dm
  code/modules/modular_computers/file_system/programs/powermonitor.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/modular_computers/file_system/programs/records.dm
  code/modules/modular_computers/file_system/programs/remote_airlock.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  code/modules/modular_computers/file_system/programs/signaller.dm
  code/modules/modular_computers/file_system/programs/sm_monitor.dm
  code/modules/modular_computers/file_system/programs/statusdisplay.dm
  code/modules/modular_computers/hardware/card_slot.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/modular_computers/hardware/virus_disk.dm
  code/modules/tgui/tgui.dm
  nsv13.dme
  nsv13/code/modules/modular_computer/wiki_uplink.dm
  nsv13/code/modules/power/reactor/rbmk.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/code/modules/ship_missions/hail_computer.dm
  nsv13/code/modules/squads/squad_computers.dm
  tgui/packages/tgui/layouts/NtosWindow.js
Labels: Active Test Merge, Update, TGUI-Changes

#2374 April Fools PR
  _maps/map_files/Instanced/elcoPT.json
  _maps/map_files/Instanced/map_files/NSVElcoPT.dmm
  nsv13.dme
  nsv13/code/game/gamemodes/pvp/roles.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/mob/living/carbon/human/species_types/catgirl.dm
  nsv13/code/modules/overmap/boarding/boarding.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/icons/mob/accessories.dmi
  nsv13/icons/mob/hands.dmi
  nsv13/icons/mob/head.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/mob/uniform.dmi
  nsv13/icons/obj/clothing/accessories.dmi
  nsv13/icons/obj/clothing/gloves.dmi
  nsv13/icons/obj/clothing/hats.dmi
  nsv13/icons/obj/clothing/uniforms.dmi
  nsv13/icons/overmap/new/syndicate/pt_boat.dmi
Labels: Sprites, Mapping

#2440 Revert "April Fools PR (#2374)"
  _maps/map_files/Instanced/elcoPT.json
  _maps/map_files/Instanced/map_files/NSVElcoPT.dmm
  nsv13.dme
  nsv13/code/game/gamemodes/pvp/roles.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/mob/living/carbon/human/species_types/catgirl.dm
  nsv13/code/modules/overmap/boarding/boarding.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/icons/mob/accessories.dmi
  nsv13/icons/mob/hands.dmi
  nsv13/icons/mob/head.dmi
  nsv13/icons/mob/suit.dmi
  nsv13/icons/mob/uniform.dmi
  nsv13/icons/obj/clothing/accessories.dmi
  nsv13/icons/obj/clothing/gloves.dmi
  nsv13/icons/obj/clothing/hats.dmi
  nsv13/icons/obj/clothing/uniforms.dmi
  nsv13/icons/overmap/new/syndicate/pt_boat.dmi
Labels: Mapping

#2429 Vector matrix optimizations
  nsv13/code/modules/collision/matrixvector.dm
Labels: Feature, BYOND Issue, Code Improvement, Active Test Merge, Ship/Physics

#2433 Minor overmap mode updates
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/game/gamemodes/overmap/objectives/rubicon.dm
Labels: Code Improvement, Administration, Active Test Merge, Overmap

#2437 [Upstream] Fixes being unable to send ellipses at the beginning of sentences correctly
  code/modules/mob/say.dm
Labels: Tweak, Active Test Merge, Update

#2438 Gives Security Support squad access to Hangar & Sabres
  nsv13/code/modules/squads/squad_manager.dm
Labels: Tweak, Active Test Merge, Squads

#2383 No EMP for Lord Singuloth
  code/modules/power/singularity/singularity.dm
Labels: Balance/Rebalance, Removal, Active Test Merge

#2393 HomeOne, Instanced Pirate/ Hybrid Railgun fixes
  _maps/map_files/Instanced/HomeOne.json
  _maps/map_files/Instanced/map_files/HomeOne.dmm
  nsv13/code/modules/munitions/ship_weapons/hybrid_weapons/hybrid_railgun.dm
  nsv13/code/modules/overmap/types/spacepirates.dm
Labels: Fix, Refactor, Active Test Merge, Mapping, Overmap

#2435 Gladius Quick Fix
  _maps/map_files/Gladius/Gladius2.dmm
Labels: Fix, Active Test Merge, Gladius, Mapping

#2442 Makes red laser pilot-operated
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/physics.dm
Labels: Fix, Active Test Merge

#2391 [Upstream] Allows one late join cyborg
  code/modules/jobs/job_types/cyborg.dm
Labels: Tweak, Active Test Merge, Update

#2413 [PORT] Surgery Initiator TGUI Interface
  code/__DEFINES/dcs/signals/mob_signals/mob_signals.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/bedsheets.dm
  code/game/objects/items/debug_items.dm
  code/modules/assembly/assets/body_zones.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tools.dm
  nsv13.dme
  nsv13/code/datums/components/surgery_initiator.dm
  tgui/packages/tgui/components/BodyZoneSelector.tsx
  tgui/packages/tgui/components/KeyListener.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/events.js
  tgui/packages/tgui/hotkeys.ts
  tgui/packages/tgui/interfaces/SurgeryInitiator.tsx
Labels: Refactor, Active Test Merge, TGUI-Changes, Port

#2452 fixes extra charslot in metacoin thingie
  code/modules/client/loadout/loadout_ooc.dm
Labels: Fix, Active Test Merge, Update

#2407 Anomaly scanning objective
  nsv13.dme
  nsv13/code/__DEFINES/lists.dm
  nsv13/code/__DEFINES/missions.dm
  nsv13/code/__DEFINES/overmap.dm
  nsv13/code/__DEFINES/paths.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/game/gamemodes/overmap/objectives/perform_jumps.dm
  nsv13/code/game/gamemodes/overmap/objectives/scan.dm
  nsv13/code/game/gamemodes/overmap/shakedown.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/research/astrometrics.dm
Labels: Feature, Code Improvement, Balance/Rebalance, Active Test Merge, Starsystem

#2444 Update dmapi
  code/__DEFINES/tgs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Active Test Merge, Update

#2408 Buffs fighter ghost ships + Increases ghost ship probability
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap_ghosts.dm
  nsv13/code/modules/overmap/types/syndicate.dm
Labels: Tweak, Balance/Rebalance, Active Test Merge, Overmap

#2457 [UPSTREAM] Fixes signals subfile naming scheme
  code/__DEFINES/dcs/signals/signals_area.dm
  code/__DEFINES/dcs/signals/signals_atom.dm
  code/__DEFINES/dcs/signals/signals_datum/signals_circuit.dm
  code/__DEFINES/dcs/signals/signals_datum/signals_datum.dm
  code/__DEFINES/dcs/signals/signals_datum/signals_moveloop.dm
  code/__DEFINES/dcs/signals/signals_datum/signals_nanite.dm
  code/__DEFINES/dcs/signals/signals_datum/signals_ntnet.dm
  code/__DEFINES/dcs/signals/signals_datum/signals_storage.dm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__DEFINES/dcs/signals/signals_lighting.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_carbon.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_human.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_living.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_silicon.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_simplemob.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_xenobiology.dm
  code/__DEFINES/dcs/signals/signals_movable.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_atmospheric_machine.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_item/signals_clothing.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_item/signals_grenade.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_item/signals_implant.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_item/signals_item.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_machine/signals_airlock.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_machine/signals_aquarium.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_machine/signals_machinery.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_machine/signals_supermatter.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_mech.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_object.dm
  code/__DEFINES/dcs/signals/signals_obj/signals_projectile.dm
  code/__DEFINES/dcs/signals/signals_turf.dm
  nsv13.dme
Labels: Code Improvement, Update
