Repository BeeStation/NSV13, pull requests merged in 2023-01, with the labels that each got.

#2255 [Port] Techweb research warnings and green lights of design doom
  code/__DEFINES/dcs/signals/global_signals.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/rdconsole.dm
  icons/obj/machines/research.dmi
  tgui/packages/tgui/interfaces/Techweb.js
Labels: Sprites, Update, TGUI-Changes

#2258 Makes sure all maps in rotation have 3 or more freight torpedoes
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Vago/vagodeck1.dmm
Labels: Mass Map Change, Mapping

#2221 [PORT] Fixes Emissives, aswell as adds an atomized version of update_appearance
  code/__DEFINES/apc.dm
  code/__DEFINES/dcs/flags.dm
  code/__DEFINES/dcs/signals/atom_signals.dm
  code/__DEFINES/lighting.dm
  code/__HELPERS/_lists.dm
  code/_onclick/hud/plane_master.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/mutable_appearance.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/singularityhammer.dm
  code/game/objects/items/stacks/cash.dm
  code/game/objects/structures/door_assembly.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/game/turfs/open/space/transit.dm
  code/modules/antagonists/abductor/machinery/experiment.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/hydroponics/gene_modder.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/lighting/emissive_blocker.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/paperwork/paper.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/reagents/reagent_containers/chem_heirloom.dm
  nsv13.dme
Labels: Fix, Active Test Merge, Update

#2229 Fixes the manuals to make them send you to the correct page on the Wiki
  code/controllers/configuration/entries/general.dm
  code/game/objects/items/manuals.dm
  config/config.txt
Labels: Config Update, Active Test Merge

#2230 Bug fixes and some commenting for Custom Emotes!
  code/modules/client/verbs/ooc.dm
  code/modules/mob/say.dm
Labels: Tweak, Active Test Merge

#2233 Fixes border looping for large ships
  code/game/atoms_movable.dm
Labels: Fix, Active Test Merge, Overmap

#2239 Makes the Wiki Uplink work in TGUI ModComp Form!
  code/modules/modular_computers/hardware/hard_drive.dm
  nsv13.dme
  nsv13/code/modules/modular_computer/wiki_uplink.dm
  tgui/packages/tgui/interfaces/NtosDatabank.tsx
Labels: Feature, Active Test Merge, TGUI-Changes

#2139 fix chat badges for NSV ranks
  config/badges.json
Labels: Config Update

#2236 Broadsides are Dead, Long Live Broadsides
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Snake/snake_lower.dmm
  nsv13.dme
  nsv13/code/__DEFINES/overmap.dm
  nsv13/code/__HELPERS/misc.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/munitions/ammunition/broadside_ammo.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ammunition.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/broadsides.dm
  nsv13/code/modules/munitions/ship_weapons/hybrid_weapons/hybrid_railgun.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_parts.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/code/modules/overmap/weapons/weapons.dm
  nsv13/code/modules/research/designs/munitions_designs.dm
  nsv13/code/modules/research/designs/nsv_circuitboard_designs.dm
  nsv13/code/modules/research/techweb/all_nsv_nodes.dm
  nsv13/icons/obj/broadside.dmi
  nsv13/icons/obj/munitions.dmi
  nsv13/icons/obj/munitions/deck_gun.dmi
  nsv13/icons/obj/munitions/packing_bench.dmi
  nsv13/icons/obj/projectiles_nsv.dmi
  nsv13/sound/effects/ship/broadside.ogg
  tgui/packages/tgui/interfaces/BroadSideShellPacker.js
Labels: Sprites, Active Test Merge, Hammerhead, Mapping, TGUI-Changes, Overmap, Munitions, Snake

#2247 Fixes fuel pumps not having a fueling proximity check
  nsv13/code/modules/overmap/fighters/fuel_tank.dm
Labels: Fix, Tweak, Active Test Merge, Fighters

#2257 Adds a camera to Eclipse Xenobiology
  _maps/map_files/Eclipse/Eclipse1.dmm
Labels: Fix, Active Test Merge, Mapping, Eclipse

#2240 The Return of PointyBoi: Point Harder (Finding Waldo Edition)
  nsv13/code/modules/squads/squad_lead_finder.dm
  nsv13/icons/mob/screen_squad.dmi
Labels: Sprites, Fix, Active Test Merge, Revert

#2259 Brings back NSV tube lights
  icons/obj/lighting.dmi
Labels: Sprites, Fix, Active Test Merge

#2254 Allows players to research and build Tug Upgrades, also Spellcheck
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/research/techweb/all_nsv_nodes.dm
Labels: Feature, Fix, Active Test Merge, Fighters

#2094 [PORT] Flavor Texts/Flavour Text
  SQL/beestation_schema.sql
  code/__HELPERS/mobs.dm
  code/datums/dna.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences2/character_save.dm
  code/modules/client/preferences2/preferences2.dm
  code/modules/client/verbs/looc.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/mob.dm
Labels: Feature, SQL, Active Test Merge, hacktoberfest-accepted, Port

#2053 Allows subjects of the dominion to speak to eachother
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  nsv13.dme
  nsv13/code/modules/language/ipc_language_holder.dm
Labels: Tweak, Balance/Rebalance, Do Not Merge, Active Test Merge

#2276 Fixes "litelands" loading?
  nsv13/code/controllers/subsystem/starsystem.dm
Labels: Fix, Starsystem

#2202 Adds Walter to some maps
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Active Test Merge, Hammerhead, Galactica, Tycoon, Aetherwisp, Mapping

#2211 You got mail!
  code/game/objects/items/mail.dm
  code/modules/jobs/job_mail.dm
  code/modules/shuttle/supply.dm
  nsv13.dme
  nsv13/code/game/objects/items/custom_items.dm
  nsv13/code/game/objects/items/munitions_items.dm
  nsv13/code/game/objects/items/nsv13_plushes.dm
  nsv13/code/modules/food_and_drinks/drinks/custom_drinks.dm
  nsv13/code/modules/jobs/custom_job_mail.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  strings/junkmail.txt
Labels: Feature, Fix, Needs Review, Active Test Merge

#2262 Makes overmap mode weight, min pop, and max pop configurable
  config/game_options.txt
  nsv13/code/controllers/configuration/entries/game_options.dm
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/game/gamemodes/overmap/armada.dm
  nsv13/code/game/gamemodes/overmap/boarding_gamemode.dm
  nsv13/code/game/gamemodes/overmap/courier.dm
  nsv13/code/game/gamemodes/overmap/galactic_conquest.dm
  nsv13/code/game/gamemodes/overmap/patrol.dm
  nsv13/code/game/gamemodes/overmap/shakedown.dm
Labels: Feature, Config Update, Active Test Merge

#2256 [Port] Makes the Starmap file path dirty~
  code/__HELPERS/files.dm
  config/starmap/starmap_default.json
  nsv13/code/controllers/subsystem/starsystem.dm
Labels: Config Update, Fix, Active Test Merge, Starsystem, Port

#2245 Synths Retro Redux
  code/modules/plumbing/plumbers/synthesizer.dm
Labels: Balance/Rebalance, Active Test Merge

#2237 Medicine/Synthesizer Rebalance
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance, Active Test Merge

#2201 Weapon Hitboxes 2: Gauss Again
  _maps/map_files/Atlas/atlas2.dmm
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/old/Galactica_old.dmm
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Instanced/map_files/Babylon1.dmm
  _maps/map_files/Instanced/map_files/Hammurabi1.dmm
  _maps/map_files/Instanced/map_files/SpaceSHIP.dmm
  _maps/map_files/Shrike/Shrike1.dmm
  _maps/map_files/Snake/snake_upper.dmm
  _maps/templates/boarding/gunship.dmm
  _maps/templates/boarding/syndicate/carrier.dmm
  _maps/templates/boarding/syndicate/destroyer.dmm
  _maps/templates/boarding/syndicate/mako.dmm
  _maps/templates/boarding/syndicate/mako_carrier.dmm
  _maps/templates/boarding/syndicate/marine_frigate.dmm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
Labels: Fix, Active Test Merge, Mass Map Change, Mapping, Munitions

#2285 Examine broadsides for loaded shells
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/broadsides.dm
Labels: Feature, Active Test Merge, Munitions

#2278 Fighter Canopy Flavors
  code/modules/research/designs/smelting_designs.dm
  nsv13/code/modules/research/designs/smelting_designs.dm
Labels: Fix

#2284 Fixes unlinked ammo sorters on Hammerhead
  _maps/map_files/Hammerhead/Hammerhead.dmm
Labels: Active Test Merge, Hammerhead, Mapping

#2264 Beating vago with a baseball bat
  _maps/map_files/Vago/vagodeck1.dmm
  _maps/map_files/Vago/vagodeck2.dmm
Labels: Active Test Merge, Vago, Mapping

#2293 Warning Signs in VSC are Annoying
  code/__HELPERS/roundend.dm
  code/modules/cargo/bounty.dm
Labels: Code Improvement, Fix
