Repository BeeStation/NSV13, pull requests merged in 2023-03, with the labels that each got.

#2322 Removes the annoying warning signs that show up in Visual Studio Code
  nsv13/code/modules/vehicles/_vehicle.dm
Labels: Code Improvement, Active Test Merge

#2318 Fixes APC icon states and overlays not applying
  code/modules/power/apc.dm
Labels: Fix, Active Test Merge

#2317 Fixes EWAR consoles making infinite radios
  nsv13/code/game/machinery/computer/salvage.dm
Labels: Fix, Active Test Merge

#2304 [UPSTREAM] Orbit panel job icons
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.js
Labels: Active Test Merge, Update, TGUI-Changes

#2234 Make turnstiles shock when broken and make them repairable
  nsv13/code/modules/Security/genpop.dm
Labels: Feature, Code Improvement, Balance/Rebalance, Active Test Merge

#2228 Targeting Overhaul
  code/__DEFINES/nsv13.dm
  code/modules/projectiles/projectile.dm
  nsv13/code/__DEFINES/components.dm
  nsv13/code/__DEFINES/overmap.dm
  nsv13/code/datums/keybinding/overmap.dm
  nsv13/code/game/general_quarters/dropship_types.dm
  nsv13/code/game/machinery/computer/_ship.dm
  nsv13/code/game/machinery/computer/tactical.dm
  nsv13/code/game/machinery/lore_terminal.dm
  nsv13/code/modules/munitions/ammunition/missiles/missile_construction.dm
  nsv13/code/modules/munitions/ammunition/missiles/missile_types.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/vls.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher.dm
  nsv13/code/modules/overmap/aim_helper.dm
  nsv13/code/modules/overmap/camera.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/fighters/modules/refueling_kit.dm
  nsv13/code/modules/overmap/fighters/modules/repair_kit.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/overmap_ghosts.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/code/modules/overmap/weapons/weapons.dm
  tgui/packages/tgui/interfaces/AMS.js
  tgui/packages/tgui/interfaces/Dradis.js
  tgui/packages/tgui/interfaces/GhostTacticalConsole.js
  tgui/packages/tgui/interfaces/TacticalConsole.js
Labels: FRELL, Active Test Merge, TGUI-Changes

#2306 [Upstream] Chemistry Quality of Life Stuff
  code/__DEFINES/reagents.dm
  code/game/atoms.dm
  code/game/machinery/iv_drip.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/chem_bag.dm
  nsv13.dme
  tgui/packages/tgui/interfaces/ChemMaster.js
Labels: Active Test Merge, Update, TGUI-Changes

#2329 Stop ships from bouncing off of guided munitions
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Fix, Overmap

#2323 Fixes ship brakes
  nsv13/code/datums/keybinding/vehicle.dm
Labels: Fix, Active Test Merge

#2302 Fixes local servers using old starmap
  nsv13/code/controllers/subsystem/starsystem.dm
Labels: Starsystem

#2305 [UPSTREAM] Xeno-Artifact Updates
  code/__DEFINES/xenoartifact_materials.dm
  code/_globalvars/xenoartifact.dm
  code/datums/components/anti_artifact.dm
  code/modules/xenoarchaeology/traits/xenoartifact_activators.dm
  code/modules/xenoarchaeology/traits/xenoartifact_majors.dm
  code/modules/xenoarchaeology/traits/xenoartifact_malfunctions.dm
  code/modules/xenoarchaeology/traits/xenoartifact_minors.dm
  code/modules/xenoarchaeology/xenoartifact.dm
  code/modules/xenoarchaeology/xenoartifact_console.dm
  code/modules/xenoarchaeology/xenoartifact_labeler.dm
  strings/science_dialogue.txt
  tgui/packages/tgui/interfaces/XenoartifactConsole.js
  tgui/packages/tgui/interfaces/XenoartifactLabeler.js
Labels: Active Test Merge, Update, TGUI-Changes

#2320 Ethereal Lightbulb
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Tweak, Active Test Merge

#2298 Adds virtual Z handling to dropships
  nsv13/code/game/general_quarters/dropship.dm
  nsv13/code/game/general_quarters/dropship_types.dm
Labels: Code Improvement, Active Test Merge, mining

#2290 Tweaks KNPC initial detection range
  nsv13/code/modules/overmap/knpc.dm
Labels: Balance/Rebalance, Active Test Merge

#2312 [Upstream] The Snoot-ening, separates HIDEMASK and HIDESNOUT
  code/__DEFINES/inventory.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/holiday/easter.dm
  code/modules/mob/living/carbon/human/species.dm
  nsv13/code/modules/clothing/custom_clothes.dm
Labels: Fix, Active Test Merge, Update

#2326 Updates the Smelter UI into a TGUI format
  code/modules/mining/machine_processing.dm
  tgui/packages/tgui/interfaces/Smelter.js
Labels: Refactor, Active Test Merge, TGUI-Changes, Pending Upstream Port

#2339 Implements KNPC Patrol nodes on the Hammerhead and the Snake, also fixes another issue.
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Snake/snake_lower.dmm
  _maps/map_files/Snake/snake_upper.dmm
Labels: Fix, Hammerhead, Mapping, Snake

#2194 [PORT] RPED Quality of Life Stuff
  code/datums/components/storage/concrete/rped.dm
  code/game/machinery/constructable_frame.dm
  code/modules/power/cell.dm
  code/modules/research/stock_parts.dm
Labels: Feature, Active Test Merge, Port, Pending Upstream Port

#2309 [UPSTREAM] NOT THE BEEEES
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences2/character_save.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/apid.dm
  icons/mob/apid_accessories/apid_antenna.dmi
  icons/mob/apid_accessories/apid_body.dmi
  icons/mob/apid_accessories/apid_head.dmi
  icons/mob/species/apid/bodyparts.dmi
  tools/savefileimporter/code/character_parser.dm
Labels: Sprites, tools, Administration, Active Test Merge, Update

#2338 Fixes the problem where engineering areas weren't protected from the Grid Check Event
  code/__HELPERS/areas.dm
Labels: Fix, Active Test Merge

#1814 [MDB IGNORE] Ftl drive rework
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Vago/vagodeck2.dmm
  _maps/templates/FTLtemplate.dmm
  code/__DEFINES/nsv13.dm
  code/__DEFINES/sound.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/mapping/space_management/traits.dm
  icons/effects/atmospherics.dmi
  nsv13.dme
  nsv13/code/__DEFINES/ftl.dm
  nsv13/code/__HELPERS/maths.dm
  nsv13/code/__HELPERS/text.dm
  nsv13/code/datums/looping_sounds/_looping_sound.dm
  nsv13/code/datums/looping_sounds/machinery_sounds.dm
  nsv13/code/datums/missions.dm
  nsv13/code/game/gamemodes/overmap/objectives/board_ship.dm
  nsv13/code/game/gamemodes/overmap/shakedown.dm
  nsv13/code/game/gamemodes/pvp/items.dm
  nsv13/code/game/general_quarters/dropship_types.dm
  nsv13/code/game/sound.dm
  nsv13/code/modules/atmospherics/gasmixtures/reactions.dm
  nsv13/code/modules/atmospherics/machinery/components/unary_devices/tank.dm
  nsv13/code/modules/overmap/FTL/components/drive.dm
  nsv13/code/modules/overmap/FTL/components/drive_pylon.dm
  nsv13/code/modules/overmap/FTL/ftl_jump.dm
  nsv13/code/modules/overmap/FTL/ftl_legacy.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/fighters/fighters_launcher.dm
  nsv13/code/modules/overmap/fighters/modules/ftl_drive.dm
  nsv13/code/modules/overmap/ftl.dm
  nsv13/code/modules/overmap/hull_plating.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/starmap.dm
  nsv13/code/modules/power/reactor/rbmk.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/icons/obj/machinery/FTL_drive.dmi
  nsv13/icons/obj/machinery/FTL_pylon.dmi
  nsv13/icons/obj/machinery/FTL_silo.dmi
  nsv13/sound/effects/metal_clang.ogg
  nsv13/sound/effects/ship/FTL_long_thirring.ogg
  nsv13/sound/machines/FTL/AC_buzz.ogg
  nsv13/sound/machines/FTL/FTL_pylon_discharge.ogg
  nsv13/sound/machines/FTL/main_drive_loop.ogg
  nsv13/sound/machines/FTL/main_drive_spooldown.ogg
  nsv13/sound/machines/FTL/main_drive_spoolup.ogg
  nsv13/sound/machines/FTL/warp_out.ogg
  tgui/packages/tgui/interfaces/FTLComputer.js
  tgui/packages/tgui/interfaces/FTLComputerModular.js
  tgui/packages/tgui/interfaces/FTLSilo.js
Labels: Sprites, Active Test Merge, Mass Map Change, Mapping, TGUI-Changes, Starsystem

#2280 Increases the TGUI Window Limit
  code/__DEFINES/tgui.dm
Labels: Tweak, TGUI-Changes

#2330 [PORT] AI Hologram Quality of Life Stuff
  code/__HELPERS/_lists.dm
  code/datums/emotes.dm
  code/game/machinery/hologram.dm
  code/modules/client/verbs/looc.dm
  code/modules/mob/mob.dm
  nsv13/code/game/machinery/hologram.dm
Labels: Feature, Fix, Active Test Merge, Port

#2344 Buffs the broadsides slightly
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Balance/Rebalance, Active Test Merge, Munitions

#2319 MapVote+ (no actual mapping changes)
  _maps/aetherwhisp.json
  _maps/atlas.json
  _maps/eclipse.json
  _maps/galactica.json
  _maps/gladius.json
  _maps/hammerhead.json
  _maps/shrike.json
  _maps/snake.json
  _maps/tycoon.json
  _maps/vago.json
  code/controllers/subsystem/persistence.dm
  code/controllers/subsystem/vote.dm
  code/datums/map_config.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/generator.dm
  code/modules/power/supermatter/supermatter.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/map_vote.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/power/reactor/rbmk.dm
  nsv13/code/modules/power/stormdrive.dm
  tgui/packages/tgui/interfaces/MapVote.js
  tgui/packages/tgui/interfaces/Vote.js
Labels: Administration, Active Test Merge, TGUI-Changes

#2351 Fixes some variables on the Serendipity
  _maps/map_files/Serendipity/Serendipity1.dmm
  _maps/map_files/Serendipity/Serendipity2.dmm
Labels: Fix, Mapping

#2349 VSC WARNING JUDGEMENT
  nsv13/code/modules/overmap/FTL/components/drive_pylon.dm
Labels: Code Improvement

#2271 [PORT] Pixel Shift Out of the Way!
  code/modules/mob/mob_defines.dm
  nsv13/code/modules/pixelshifting/pixelshifting.dm
Labels: Feature, Active Test Merge, Port

#2328 Hybrid Shotgun-Fix
  nsv13/code/modules/munitions/ship_weapons/hybrid_weapons/hybrid_railgun.dm
Labels: Fix, Do Not Merge, Active Test Merge, Munitions, Shrike

#2343 (Probably) fixes VLS autoloading
  code/datums/components/conveyor_movement.dm
Labels: Fix, Active Test Merge, Munitions

#2334 Refillable chem dispenser (clean edititon)
  _maps/map_files/Shrike/Shrike1.dmm
  _maps/map_files/Shrike/job_changes.dm
  code/modules/research/techweb/all_nodes.dm
  nsv13.dme
  nsv13/code/game/machinery/refillable_chem_dispenser.dm
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  nsv13/code/modules/research/designs/nsv_circuitboard_designs.dm
  tgui/packages/tgui/interfaces/RefillableChemDispenser.js
Labels: Feature, Balance/Rebalance, Active Test Merge, Mapping, TGUI-Changes, Shrike

#2214 Adds damage scaling to NAC shells.
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
Labels: Balance/Rebalance, Active Test Merge, Munitions

#2265 [Request][Port] How to prepare, cook and serve an Ethereal Crystal
  code/__DEFINES/dcs/signals/mob_signals/living_signals.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/datums/dna.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/organs/heart.dm
  icons/obj/surgery.dmi
  nsv13/icons/obj/ethereal_crystal.dmi
  nsv13/sound/effects/ethereal_crystalization.ogg
  nsv13/sound/effects/ethereal_revive.ogg
  nsv13/sound/effects/ethereal_revive_fail.ogg
Labels: Sprites, Feature, Active Test Merge

#2357 [PORT] Ecto Sniffer yells over Science Comms now
  code/game/machinery/ecto_sniffer.dm
Labels: Tweak, Active Test Merge

#2356 Minor changes to the broadside packer bench
  nsv13/code/modules/munitions/ammunition/broadside_ammo.dm
  tgui/packages/tgui/interfaces/BroadSideShellPacker.tsx
Labels: Code Improvement, Active Test Merge, TGUI-Changes

#2346 Parity to a tails fix on Bee
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix, Update

#2283 Adds a mounted plasma cutter for Sabres
  nsv13.dme
  nsv13/code/modules/overmap/fighters/modules/utility_modules.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/code/modules/research/designs/fighter_designs.dm
  nsv13/code/modules/research/techweb/all_nsv_nodes.dm
Labels: Feature, Active Test Merge, Overmap, Fighters

#2186 Adds mannable point defense lasers to the Aetherwhisp
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  nsv13.dme
  nsv13/code/datums/weapon_types.dm
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/laser_pd.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/phaser.dm
  nsv13/code/modules/overmap/types/solgov.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
  nsv13/code/modules/overmap/weapons/ship_weapon.dm
  nsv13/icons/obj/energy_weapons.dmi
  nsv13/icons/obj/projectiles_nsv.dmi
Labels: Feature, Balance/Rebalance, Mapping, Passed Test Merge, Overmap, Munitions

#2371 [s] Disables byond debug links
  code/modules/client/client_procs.dm
Labels: Active Test Merge, Security

#2311 [Upstream] UPDATES, UPDATES EVERYWHERE
  code/__DEFINES/bot_defines.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/traumas.dm
  code/datums/brain_damage/phobia.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/admin/admin_investigate.dm
  code/modules/clothing/glasses/engine_goggles.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/events/anomaly.dm
  code/modules/events/pirates.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/mob_stat.dm
  code/modules/surgery/organs/tongue.dm
  icons/mob/aibots.dmi
Labels: Sprites, Fix, Administration, Active Test Merge, Update

#2359 Modifies mining vendor item list
  code/modules/mining/machine_vending.dm
Labels: Balance/Rebalance, Active Test Merge, mining
