Repository BeeStation/NSV13, pull requests merged in 2024-02, with the labels that each got.

#2592 Makes topic export async (#9599)
  code/__DEFINES/async.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/topic.dm
  code/datums/callback.dm
  code/datums/task.dm
  code/game/machinery/computer/communications.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/async.dm
  nsv13.dme
Labels: Fix, Administration, Priority: High, Active Test Merge, Update

#2594 [UPSTREAM] Certain chairs are no longer pickupable & office chair spin
  code/game/objects/structures/beds_chairs/chair.dm
Labels: Feature, Fix, Active Test Merge, Update

#2597 Updates Tycoon munitions and misc. touchups
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Fix, Active Test Merge, Tycoon, Mapping, Munitions
