Repository BeeStation/NSV13, pull requests merged in 2024-06, with the labels that each got.

#2621 Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Active Test Merge, Update

#2649 Tweaks/partially refactors small craft repair/refueling modules
  nsv13/code/__DEFINES/components.dm
  nsv13/code/game/general_quarters/dropship.dm
  nsv13/code/game/general_quarters/dropship_types.dm
  nsv13/code/modules/overmap/fighters/fuel_tank.dm
  nsv13/code/modules/overmap/fighters/modules/refueling_kit.dm
  nsv13/code/modules/overmap/fighters/modules/repair_kit.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/radar.dm
Labels: Fix, Tweak, Active Test Merge, Overmap, Fighters

#2650 AI tracking is no longer scared of naked people, and other fun stories.
  code/datums/components/holomap.dm
  code/game/machinery/camera/tracking.dm
  nsv13/code/modules/mob/living/silicon/ai/track.dm
Labels: Fix, Active Test Merge

#2654 Adds some NSV13 clothes to the torp shop
  nsv13.dme
  nsv13/code/modules/client/loadout/loadout_hat.dm
  nsv13/code/modules/client/loadout/loadout_suit.dm
  nsv13/code/modules/client/loadout/loadout_uniform.dm
  nsv13/code/modules/clothing/custom_clothes.dm
Labels: Feature, Grammar and Formatting, Active Test Merge

#2646 Adds digitigrade robotic legs
  code/__DEFINES/inventory.dm
  code/datums/traits/negative.dm
  code/game/machinery/aug_manipulator.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  icons/mob/species/misc/digitigrade_suits.dmi
  nsv13.dme
  nsv13/code/modules/surgery/bodyparts/nsv_modular_bodypart_overrides.dm
  nsv13/icons/mob/augmentation/digitigrade_legs.dmi
Labels: Sprites, Feature, Code Improvement, Fix, Tweak, Active Test Merge

#2638 Updates forgotten armor values and syndicate armor stacking during boarding
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/outfits/syndicate.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/clothing/suits/miscellaneous.dm
  nsv13/code/game/gamemodes/pvp/roles.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/jobs/job_types/marine/midshipman.dm
  nsv13/code/modules/jobs/job_types/marine/military_police.dm
Labels: Balance/Rebalance, Active Test Merge

#2658 Fixes some Engineering design issues and Hangar airlocks on Gladius
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Gladius/Gladius2.dmm
Labels: Fix, Active Test Merge, Gladius, Mapping

#2660 Adds the ability to (de)construct pool ladders
  code/modules/pool/pool.dm
Labels: Feature, Fix, Active Test Merge, Update

#2665 Even more Atlas Mapping Fixes
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Atlas/atlas2.dmm
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Eclipse/Eclipse2.dmm
Labels: Fix, Active Test Merge, Mass Map Change, Mapping, Atlas, Munitions, Eclipse

#2653 Properly registers small craft in overmap ships and fixes sscrit explosions
  code/modules/unit_tests/get_overmap.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/fighters/fighters_launcher.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/weapons/damage.dm
Labels: Fix, Active Test Merge, Overmap, Fighters

#2661 Atlas Armor Alterations
  nsv13/code/modules/overmap/types/nanotrasen.dm
Labels: Balance/Rebalance, Active Test Merge, Atlas

#2668 Updates the armour pumps to account for lag properly
  nsv13/code/modules/overmap/armour/nano_pump.dm
Labels: Fix, Balance/Rebalance, Active Test Merge, Overmap

#2663 Removes integrity failure value from all overmap entities
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/overmap_ghosts.dm
  nsv13/code/modules/overmap/types/miningships.dm
  nsv13/code/modules/overmap/types/nanotrasen.dm
  nsv13/code/modules/overmap/types/solgov.dm
  nsv13/code/modules/overmap/types/spacepirates.dm
  nsv13/code/modules/overmap/types/syndicate.dm
Labels: Code Improvement, Active Test Merge, Overmap
