Repository BeeStation/NSV13, pull requests merged in 2024-05, with the labels that each got.

#2628 Relayed BSA is more 'fun' and also random fixes.
  _maps/map_files/Eclipse/Eclipse1.dmm
  code/datums/dna.dm
  code/game/turfs/closed/walls.dm
  code/modules/paperwork/paper.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/bsa.dm
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/code/modules/squads/squad_manager.dm
Labels: Fix, Balance/Rebalance, Active Test Merge, Mapping, Eclipse

#2622 Fixes fighters not receiving relayed overmap alerts
  nsv13/code/modules/antagonists/role_preference/role_antagonists.dm
  nsv13/code/modules/overmap/overmap.dm
Labels: Fix, Grammar and Formatting, Active Test Merge

#2637 Updates the database changelog and sql schema version
  .vscode/settings.json
  SQL/beestation_schema.sql
  SQL/database_changelog.txt
Labels: documentation, Fix, SQL

#2629 Fixes Galactica Sephora not being able to fit through its own launch tube
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Fix, Active Test Merge, Galactica, Mapping

#2630 Stops brooms from breaking through the bluespace barrier
  code/game/objects/items/broom.dm
Labels: Fix, Active Test Merge, Literal Goddamn Heresy

#2634 Another few random fixes
  code/controllers/subsystem/explosion.dm
  code/modules/mob/mob_helpers.dm
  nsv13/code/game/machinery/computer/_ship.dm
  nsv13/code/game/machinery/computer/helm.dm
  nsv13/code/game/machinery/computer/tactical.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/physics.dm
  nsv13/code/modules/overmap/radar.dm
Labels: Fix, Active Test Merge, Runtime, Overmap

#2635 You can now emag the gravity generator (and fix it)
  nsv13.dme
  nsv13/code/modules/power/gravitygenerator_modular.dm
  tgui/packages/tgui/interfaces/GravityGenerator.js
Labels: Feature, Balance/Rebalance, Active Test Merge, TGUI, TGUI-Changes

#2620 [UPSTREAM] Ports Genpop from NSV to BeeStation to NSV
  _maps/holodeck/workshop/donut.dmm
  _maps/holodeck/workshop/offline.dmm
  _maps/holodeck/workshop/plush.dmm
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Gladius/Gladius1.dmm
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Serendipity/Serendipity1.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  code/__DEFINES/access.dm
  code/__DEFINES/construction.dm
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/datums/components/crafting/crafting.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/area/areas/holodeck.dm
  code/game/machinery/computer/prisoner/_prisoner.dm
  code/game/machinery/gulag_item_reclaimer.dm
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/grille.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/floor/prison_floor.dm
  code/modules/holodeck/computer.dm
  code/modules/holodeck/holodeck_map_templates.dm
  code/modules/holodeck/turfs.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/security/crimes.dm
  code/modules/security/genpop.dm
  code/modules/security/prison_scanner.dm
  code/modules/security/workshop.dm
  config/space_law.json
  icons/obj/machines/genpop_display.dmi
  icons/obj/machines/turnstile.dmi
  icons/turf/prisonfloor.dmi
  nsv13.dme
  nsv13/code/game/objects/effects/spawners/custom_window_spawners.dm
  nsv13/code/modules/Security/genpop.dm
  nsv13/code/modules/munitions/ammunition/missiles/missile_types.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_construction.dm
  nsv13/code/modules/munitions/ammunition/torpedos/torpedo_types.dm
  nsv13/icons/obj/objects.dmi
  tgui/packages/tgui/interfaces/GenPop.js
  tgui/packages/tgui/interfaces/Workshop.js
Labels: Sprites, Config Update, Active Test Merge, Update, Mass Map Change, Mapping, TGUI-Changes

#2639 Some ammo rack fixes/tweaks
  nsv13.dme
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/ammo_rack.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/automation.dm
  nsv13/code/modules/research/designs/nsv_circuitboard_designs.dm
Labels: Fix, Tweak, Active Test Merge, Munitions

#2645 Very minor code stuff
  nsv13/code/modules/overmap/armour/nano_pump.dm
  nsv13/code/modules/overmap/armour/nano_well.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
Labels: Code Improvement, Active Test Merge, Fighters

#2642 Slow Belts Are Yellow Now + Some Minor Fixes and Additions to Conveyors
  code/modules/recycling/conveyor.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/automation.dm
Labels: Sprites, Feature, Active Test Merge
