Repository BeeStation/NSV13, pull requests merged in 2024-01, with the labels that each got.

#2570 Syndicate small craft repainting
  nsv13/code/game/general_quarters/dropship_types.dm
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/icons/overmap/nanotrasen/carrier.dmi
  nsv13/icons/overmap/syndicate/syn_rapier.dmi
  nsv13/icons/overmap/syndicate/syn_raptor.dmi
  nsv13/icons/overmap/syndicate/syn_sabre.dmi
  nsv13/icons/overmap/syndicate/syn_viper.dmi
Labels: Sprites, Code Improvement, Work In Progress, Active Test Merge

#2572 Round extension and enemy spawning tweaks
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/datums/starsystem_manager.dm
  nsv13/code/game/gamemodes/overmap/objectives/rubicon.dm
  nsv13/code/modules/overmap/factions.dm
  tgui/packages/tgui/interfaces/StarsystemManager.js
Labels: Feature, Tweak, Balance/Rebalance, Active Test Merge, TGUI-Changes

#2589 Increases the "fun" level of singularities (and some fixes because woo sidetracking)
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/modules/mob/living/silicon/silicon.dm
  nsv13.dme
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/mob/living/carbon/carbon.dm
  nsv13/code/modules/mob/living/carbon/human/human.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/code/modules/overmap/verbs.dm
Labels: Feature, Config Update, Fix, Tweak, Balance/Rebalance, Active Test Merge, Overmap, Starsystem

#2590 Fixes round ending stats
  nsv13/code/controllers/subsystem/map_vote.dm
Labels: Fix, Active Test Merge

#2588 Torp Factory 1.5
  code/modules/mob/living/living.dm
  code/modules/recycling/conveyor.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/automation.dm
  nsv13/code/modules/overmap/FTL/components/drive.dm
Labels: Fix, Refactor, Active Test Merge, Munitions

#2596 Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Active Test Merge, Update
