Repository BeeStation/NSV13, pull requests merged in 2024-07, with the labels that each got.

#2670 Adds relayed laser projectiles
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Balance/Rebalance, Active Test Merge

#2669 Adds a solgov variant of the squad vendor
  _maps/map_files/Aetherwhisp/Aetherwhisp1.dmm
  nsv13/code/modules/squads/squad_vendor.dm
Labels: Feature, Balance/Rebalance, Active Test Merge, Mapping

#2681 Makes shields hits only spawn one visual (which is actually aligned with the ship)
  nsv13/code/modules/overmap/shieldgen.dm
  nsv13/code/modules/overmap/weapons/damage.dm
Labels: Fix, Active Test Merge, Overmap

#2676 Improves a little bit of cursed weapon code
  nsv13/code/modules/munitions/ship_weapons/_ship_weapon.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/broadsides.dm
  nsv13/code/modules/munitions/ship_weapons/hybrid_weapons/hybrid_railgun.dm
Labels: Code Improvement, Active Test Merge

#2675 Sort projectiles fx.dm better
  nsv13/code/datums/weapon_types.dm
  nsv13/code/modules/overmap/weapons/projectiles_fx.dm
Labels: Code Improvement, Active Test Merge

#2678 Only /overmaps are passed to after_enter()
  nsv13/code/modules/overmap/FTL/ftl_jump.dm
Labels: Fix, Active Test Merge, Overmap

#2689 Re-adds the basic plasma cutter back into its respective node.
  code/modules/research/techweb/all_nodes.dm
Labels: Fix, Active Test Merge

#2692 Fixes small typo in the NC reminder
  nsv13/code/game/gamemodes/overmap/shakedown.dm
Labels: Grammar and Formatting, Active Test Merge
