Repository BeeStation/NSV13, pull requests merged in 2024-12, with the labels that each got.

#2709 Weird Atom Init Issues VS. One Lizard
  code/controllers/subsystem/mapping.dm
  nsv13/code/__DEFINES/overmap.dm
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/overmap/fighters/fighters_launcher.dm
  nsv13/code/modules/overmap/overmap.dm
Labels: Code Improvement, Fix, Active Test Merge

#2710 Some more overmap fixes
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/overmap/FTL/ftl_jump.dm
  nsv13/code/modules/overmap/physics.dm
Labels: Code Improvement, Fix, Active Test Merge, Overmap

#2714 Various KNPC fixes and tweaks
  code/__HELPERS/path.dm
  code/game/points_of_interest.dm
  code/modules/mob/living/carbon/human/examine.dm
  nsv13/code/game/objects/structures/barricade.dm
  nsv13/code/modules/overmap/knpc.dm
  nsv13/code/modules/overmap/shieldgen.dm
  nsv13/code/modules/squads/squad_items.dm
Labels: Balance/Rebalance, Active Test Merge

#2720 A small pass over the Atlas and Tycoon for various things
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Atlas/atlas2.dmm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
Labels: Fix, Tycoon, Mapping, Atlas

#2724 Oops (Fixes midround additional overmap zlevel space tiles)
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/modules/overmap/overmap.dm
Labels: Fix, Active Test Merge, Overmap

#2723 Gives flooded fighter engines a description that tells you how to unflood it
  nsv13/code/modules/overmap/fighters/_fighters.dm
Labels: Tweak, Active Test Merge, Fighters

#2718 Port VV expansion from Upstream Bee
  code/__DEFINES/_helpers.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/keybinding.dm
  code/__DEFINES/typeids.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/_lists.dm
  code/_globalvars/lists/vv.dm
  code/_globalvars/regexes.dm
  code/_onclick/click.dm
  code/controllers/globals.dm
  code/datums/datumvars.dm
  code/datums/keybinding/admin.dm
  code/datums/weakrefs.dm
  code/game/atoms.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/holder2.dm
  code/modules/admin/tag.dm
  code/modules/admin/topic.dm
  code/modules/admin/view_variables/color_matrix_editor.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/admin/view_variables/get_variables.dm
  code/modules/admin/view_variables/tag_datum.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/admin/view_variables/view_variables.dm
  icons/misc/colortest.dmi
  nsv13.dme
  tgui/packages/tgui/interfaces/ColorMatrixEditor.js
Labels: Sprites, Administration, Active Test Merge, TGUI-Changes

#2719 Adds consequences to some (funny) actions
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/bsa.dm
Labels: Feature, Active Test Merge

#2726 Batch of Fixes (1/? ?)
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Eclipse/Eclipse1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Gladius/Gladius2.dmm
  _maps/map_files/Instanced/map_files/Babylon2.dmm
  _maps/map_files/Instanced/map_files/Hammurabi2.dmm
  _maps/map_files/Snake/snake_lower.dmm
  _maps/map_files/Testship/testship.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Vago/vagodeck2.dmm
  _maps/templates/boarding/syndicate/destroyer.dmm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_defense.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/pool/pool.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  nsv13/code/__HELPERS/overmap.dm
  nsv13/code/game/machinery/computer/helm.dm
  nsv13/code/game/objects/effects/spawners/custom_loot_spawners.dm
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/overmap/armour/armour_quadrant.dm
  nsv13/code/modules/overmap/fighters/construction.dm
  nsv13/code/modules/overmap/hull_plating.dm
  nsv13/code/modules/overmap/traders.dm
  nsv13/code/modules/overmap/weapons/damage.dm
  nsv13/code/modules/research/astrometrics.dm
  nsv13/code/modules/research/designs/ship_weapon_designs.dm
Labels: documentation, Fix, Tweak, Balance/Rebalance, Active Test Merge, Mass Map Change, Mapping, Overmap, Munitions, Fighters, boarding
