Repository BeeStation/NSV13, pull requests merged in 2024-03, with the labels that each got.

#2598 Adds medikit for synthetic (IPC) repairs to cargo and syndicate uplink + misc. changes
  icons/mob/aibots.dmi
  nsv13/code/__DEFINES/robot_defines.dm
  nsv13/code/game/objects/items/munitions_items.dm
  nsv13/code/game/objects/items/storage_items.dm
  nsv13/code/modules/cargo/packs.dm
  nsv13/code/modules/reagents/chemistry/reagents/drug_reagents.dm
  nsv13/code/modules/squads/squad_items.dm
  nsv13/code/modules/uplink/uplink_items.dm
  nsv13/icons/mob/aibots.dmi
  nsv13/icons/mob/inhands/equipment/medical_lefthand.dmi
  nsv13/icons/mob/inhands/equipment/medical_righthand.dmi
  nsv13/icons/obj/nsv13_syringe.dmi
  nsv13/icons/obj/storage.dmi
Labels: Sprites, Feature, Code Improvement, Grammar and Formatting, Active Test Merge

#2605 Fixes several bad inits
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/atoms.dm
  code/datums/mutations/antenna.dm
  code/game/objects/items/bedsheets.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/xenoarchaeology/xenoartifact.dm
  nsv13/code/modules/munitions/ammunition/gauss_ammo.dm
  nsv13/code/modules/munitions/ammunition/railgun_ammo.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/cargo_launcher.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns_construction.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/automation.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/torpedo_launcher.dm
  nsv13/code/modules/munitions/ship_weapons/ship_weapon_parts.dm
  nsv13/code/modules/overmap/effects.dm
  nsv13/code/modules/overmap/starmap.dm
Labels: Code Improvement, Fix, Active Test Merge

#2609 Fixes runtime error when destroying and building gauss turrets
  nsv13/code/game/objects/items/nsv_circuitboards.dm
Labels: Code Improvement, Fix, Active Test Merge

#2610 Fixes the "eternal return jump" bug
  nsv13/code/modules/overmap/FTL/ftl_jump.dm
Labels: Fix, Active Test Merge, Starsystem

#2611 [Galactica] A few map fixes, primarily some pipes and missing wires.
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Fix, Tweak, Active Test Merge, Galactica, Mapping

#2612 Makes it so the Aetherwhisp lasers have circuit boards and don't get deleted upon deconstruction.
  nsv13/code/game/objects/items/nsv_circuitboards.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/laser_ams.dm
  nsv13/code/modules/munitions/ship_weapons/energy_weapons/phaser.dm
Labels: Fix, Active Test Merge, Munitions

#2613 Fixes nucleium engine turfs not working
  _maps/map_files/Aetherwhisp/Aetherwhisp2.dmm
  _maps/map_files/Galactica/Galactica2.dmm
  _maps/map_files/Gladius/Gladius2.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  nsv13/code/__DEFINES/atmospherics.dm
  nsv13/code/game/turfs/custom_turfs.dm
  tgui/packages/tgui/interfaces/StormdriveConsole.js
Labels: Fix, Grammar and Formatting, Active Test Merge, Galactica, Tycoon, Gladius, Aetherwisp, Mass Map Change, Mapping, TGUI-Changes
