Repository BeeStation/NSV13, pull requests merged in 2025-05, with the labels that each got.

#2805 Update some of our github actions to use a non outdated ubuntu version
  .github/workflows/continuous_integration.yml
  .github/workflows/has_515_compatibility.yml
Labels: GitHub

#2688 Insulation tweak
  code/modules/mob/living/carbon/human/species.dm
Labels: Balance/Rebalance, Active Test Merge

#2796 [UPSTREAM] Examine boxes.
  code/__DEFINES/chat.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/ticker.dm
  code/datums/components/mood.dm
  code/datums/components/nanites.dm
  code/game/atoms.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/clothing/clothing.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/silicon/ai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob.dm
  code/modules/power/cable.dm
  nsv13/code/modules/squads/squad_lead_finder.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Feature, Fix, Active Test Merge, Update, TGUI-Changes

#2795 Pilots dying turns docking mode on
  nsv13/code/modules/overmap/fighters/_fighters.dm
  nsv13/code/modules/overmap/fighters/fighters_launcher.dm
Labels: Feature, Active Test Merge

#2807 [UPSTREAM] Fixes the overlapping buttons on nuclear bomb interfaces.
  tgui/packages/tgui/interfaces/NuclearBomb.js
Labels: TGUI-Changes

#2764 Hard mode
  code/__byond_version_compat.dm
  code/_compile_options.dm
  code/controllers/subsystem/research.dm
  code/controllers/subsystem/vote.dm
  config/config.txt
  nsv13.dme
  nsv13/code/__DEFINES/weapons.dm
  nsv13/code/controllers/subsystem/overmap_mode.dm
  nsv13/code/controllers/subsystem/starsystem.dm
  nsv13/code/datums/starsystem_manager.dm
  nsv13/code/game/gamemodes/overmap/hardmode.dm
  nsv13/code/game/gamemodes/overmap/objectives/rubicon.dm
  nsv13/code/modules/munitions/ammunition/deckgun_ammo.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/deck_guns_construction.dm
  nsv13/code/modules/overmap/ai-skynet.dm
  nsv13/code/modules/overmap/fleet_types.dm
  nsv13/code/modules/overmap/types/syndicate.dm
  nsv13/code/modules/research/designs/ship_weapon_designs.dm
  nsv13/code/modules/research/techweb/_techweb.dm
  nsv13/code/modules/research/techweb/all_nsv_nodes.dm
  nsv13/sound/misc/key_jangle.ogg
  tgui/packages/tgui/interfaces/OvermapGamemodeController.js
  tgui/packages/tgui/interfaces/Vote.js
Labels: Config Update, Fix, FRELL, Refactor, Active Test Merge, TGUI-Changes

#2774 Missile casing sprites and kitchen machine animations
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  nsv13/code/modules/munitions/ammunition/missiles/missile_construction.dm
  nsv13/code/modules/munitions/ammunition/missiles/missile_parts.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/ammo_rack.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/revision2/automation.dm
  nsv13/icons/obj/kitchen.dmi
  nsv13/icons/obj/munition_types.dmi
Labels: Sprites, Fix, Active Test Merge
