Repository BeeStation/NSV13, pull requests merged in 2025-02, with the labels that each got.

#2740 Various bugfixes
  _maps/templates/boarding/dropship.dmm
  _maps/templates/boarding/dropship_main.dmm
  _maps/templates/boarding/dropship_syndicate.dmm
  _maps/templates/boarding/gunship.dmm
  _maps/templates/boarding/sabre_interior.dmm
  _maps/templates/boarding/sabre_interior_mining.dmm
  _maps/templates/boarding/sabre_interior_syndicate.dmm
  nsv13/code/game/general_quarters/dropship.dm
  nsv13/code/game/objects/items/stacks/tiles/tile_types.dm
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
  nsv13/code/modules/power/stormdrive.dm
  nsv13/code/modules/vehicles/_vehicle.dm
Labels: Fix, Active Test Merge, Mapping, Munitions

#2741 Minor Nitpicks
  .vscode/launch.json
  code/_compile_options.dm
  code/modules/admin/verbs/macro_debug.dm
  code/modules/keybindings/setup.dm
  nsv13.dme
Labels: Administration, Active Test Merge

#2755 Adds the ability to construct AI cores on Syndicate ships and make Syndicate helmet cams
  code/game/objects/structures/ai_core.dm
  nsv13/code/modules/clothing/custom_clothes.dm
  nsv13/code/modules/clothing/custom_outfits.dm
  nsv13/code/modules/clothing/helmet_camera.dm
Labels: Feature, Active Test Merge

#2752 Galactic Fixes
  _maps/map_files/Galactica/Galactica1.dmm
  _maps/map_files/Galactica/Galactica2.dmm
Labels: Fix, Active Test Merge, Galactica, Mapping

#2743 5% Entropy
  nsv13/code/modules/power/stormdrive.dm
Labels: Tweak, Active Test Merge

#2739 Forces your screen icons back to their default positions when exiting overmap cameras
  nsv13/code/modules/overmap/camera.dm
Labels: Fix, Active Test Merge, Overmap

#2756 Fixes fighter launchers on Serendipity and Hammerhead
  _maps/map_files/Hammerhead/Hammerhead.dmm
  _maps/map_files/Serendipity/Serendipity2.dmm
Labels: Fix, Active Test Merge, Hammerhead, Mapping, Serendipity

#2728 Tycoon Medical Dept. Update and Tycoon/Atlas Damage Control Central
  _maps/map_files/Atlas/atlas.dmm
  _maps/map_files/Atlas/atlas2.dmm
  _maps/map_files/Atlas/job_changes.dm
  _maps/map_files/Tycoon/Tycoon1.dmm
  _maps/map_files/Tycoon/Tycoon2.dmm
  _maps/map_files/Tycoon/job_changes.dm
  icons/turf/areas.dmi
  nsv13/code/game/area/areas.dm
Labels: Sprites, Active Test Merge, Tycoon, Mapping, Atlas

#2748 Adds some missing return calls.
  nsv13/code/controllers/subsystem/starsystem.dm
Labels: Fix, Active Test Merge

#2746 Adds randomized IFF console spawns on boarding ships
  _maps/templates/boarding/syndicate/carrier.dmm
  _maps/templates/boarding/syndicate/destroyer.dmm
  _maps/templates/boarding/syndicate/mako.dmm
  _maps/templates/boarding/syndicate/mako_carrier.dmm
  _maps/templates/boarding/syndicate/marine_frigate.dmm
  _maps/templates/boarding/syndicate/nukefrigate.dmm
  nsv13.dme
  nsv13/code/game/objects/effects/custom_landmarks.dm
  nsv13/code/game/objects/effects/spawners/custom_ghost_role.dm
  nsv13/code/game/objects/effects/spawners/custom_loot.dm
  nsv13/code/game/objects/effects/spawners/custom_structure.dm
  nsv13/code/game/objects/effects/spawners/shield_gen_spawner.dm
  nsv13/code/modules/overmap/boarding/interiors.dm
  nsv13/code/modules/overmap/overmap.dm
  nsv13/icons/obj/landmark.dmi
Labels: Sprites, Active Test Merge, Mapping, boarding
