Repository BeeStation/NSV13, pull requests merged in 2025-06, with the labels that each got.

#2798 Ports VV up-to-date from upstream
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/_lists.dm
  code/_globalvars/lists/vv.dm
  code/modules/admin/view_variables/debug_variable_appearance.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/topic_list.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/admin/view_variables/vv_ghost.dm
  code/modules/unit_tests/create_and_destroy.dm
  html/admin/view_variables.css
  nsv13.dme
Labels: Administration, Active Test Merge

#2801 A few more gauss fixes
  nsv13/code/modules/munitions/ship_weapons/ballistic_weapons/gauss_gun.dm
Labels: Fix, Active Test Merge

#2800 Adds the ability for astrometrics consoles to be muted on the radio
  nsv13/code/modules/research/astrometrics.dm
  tgui/packages/tgui/interfaces/Astrometrics.js
  tgui/packages/tgui/interfaces/Starmap.js
Labels: Feature, Active Test Merge, TGUI-Changes

#2818 Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undefs.dm
Labels: Active Test Merge, Update
